table{
  width: 100%;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.label {
  font-weight: bold;
  width: 30%;
  /* Adjust width as needed */
  text-align: left;
  padding-right: 10px;
}

.value {
  width: 70%;
  /* Adjust width as needed */
  text-align: left;
  padding-left: 10px;
}

.label2 {
  font-weight: bold;
  /* Adjust width as needed */
  text-align: left;
  padding-right: 10px;
}

.value2 {
  /* Adjust width as needed */
  text-align: left;
  padding-left: 10px;
}

.input-column {
  width: 160px;

  .inputQty {
    width: 120px;
  }

  .inputNumberSpace input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin-left: 0.5em;
  }

  .inputNumberSpace input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .inputNumberSpace input[type='number'] {
    width: 6em;
    text-align: right;
  }
}

.is-invalid {
  border: 1px solid red; /* Red border when invalid */
}

.text-danger {
  color: red; /* Red text for error messages */
}
