<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col d-flex flex-column justify-content-start">
          <h5>{{ "List Produksi Belum Posting" | translate }}</h5>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col text-end">
          <!-- <button
            type="button"
            class="btn btn-outline-dark me-2 btn-120"
            (click)="toggleFilter()"
          >
            <i class="fa fa-filter icon-gap" aria-hidden="true"></i>
            {{ "Filter" | translate }}
          </button> -->
          <button
            type="button"
            class="btn btn-info text-white me-2 btn-240"
            data-toggle="modal"
            (click)="showModalPosting()"
          >
          <i class="fa fa-check pe-2"></i>
            {{ "Posting All" | translate }}
          </button>
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            {{ "Kembali" | translate }}
          </button>
        </div>
      </div>
      <div [visible]="showFilterSection" cCollapse>
        <div class="divider"></div>
        <div class="row" style="margin-top: -16px">
          <c-card-body>
            <c-row>
              <c-col>
                <div class="row">
                  <div class="col-12 col-md-3">
                    <label class="col-form-label">{{
                      "Tanggal Produksi" | translate
                    }}</label>
                    <input
                      type="text"
                      id="dateFilter"
                      class="form-control"
                      bsDaterangepicker
                      [bsConfig]="dpConfig"
                      aria-describedby="dateFilter"
                      [(ngModel)]="dateRangeFilter"
                      #dp="bsDaterangepicker"
                      placeholder="{{ 'Tanggal Pesan' | translate }}"
                    />
                  </div>
                  <div class="col-12 col-md-3">
                    <label class="col-form-label">{{
                      "Waktu Produksi" | translate
                    }}</label>

                    <div class="d-flex gap-1">
                      <div class="custom-time-picker">
                        <input
                          type="time"
                          [(ngModel)]="startTime"
                          name="startTime"
                          min="09:00"
                          max="18:00"
                          required
                        />
                      </div>
                      <span>-</span>
                      <div class="custom-time-picker">
                        <input
                          type="time"
                          [(ngModel)]="endTime"
                          name="endTime"
                          min="09:00"
                          max="18:00"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </c-col>
              <c-col
                xs="12"
                md="6"
                lg="3"
                class="d-flex flex-wrap justify-content-end align-items-end gap-2"
              >
                <button
                  type="button"
                  class="btn btn-outline-success"
                  (click)="onFilterPressed()"
                >
                  {{ "Terapkan Filter" | translate }}
                </button>

              <!-- Loader yang sejajar dan ukurannya sama dengan tombol -->
            <div
              *ngIf="loadingRptWIP"
              class="btn btn-success text-white d-flex align-items-center justify-content-center mt-2"
              style="pointer-events: none;"
            >
              <i class="fa fa-spinner fa-spin me-2"></i>
              <span>Loading...</span>
            </div>

                <!-- <button
                  *ngIf="!loadingRptWIP"
                  [disabled]="loadingRptWIP"
                  class="btn btn-success text-white d-flex align-items-center"
                  (click)="doDownload()"
                >
                  <i class="fa fa-print me-1"></i>
                  <span class="d-none d-lg-inline">{{
                    "WIP Data" | translate
                  }}</span>
                </button> -->
              </c-col>
            </c-row>
          </c-card-body>
        </div>
      </div>
      <div class="divider"></div>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          [dtTrigger]="dtTrigger"
          class="row-border hover stripe w-100"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="c-card" *ngIf="selectedRowData">
    <c-card-body>
      <div class="row p-2 justify-content-end">
        <div class="col-6">
          <div class="w-100 mb-2">
            <label for="keterangan" class="form-label">{{
              "Keterangan" | translate
            }}</label>
            <input
              type="text"
              disabled
              placeholder="Keterangan"
              class="form-control"
              [(ngModel)]="selectedRowData.keterangan"
              name="keterangan"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="w-100 mb-2">
            <label for="userCreate" class="form-label">{{
              "User Create" | translate
            }}</label>
            <input
              type="text"
              disabled
              placeholder="User Create"
              class="form-control"
              [(ngModel)]="selectedRowData.namaUser"
              name="namaUser"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="w-100 mb-2">
            <label for="dateCreate" class="form-label">{{
              "Date Create" | translate
            }}</label>
            <input
              type="text"
              disabled
              placeholder="Alamat 1"
              class="form-control"
              [(ngModel)]="selectedRowData.dateCreateFormat2"
              name="dateCreate"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="w-100 mb-2">
            <label for="timeCreate" class="form-label">{{
              "Time Create" | translate
            }}</label>
            <input
              type="text"
              disabled
              placeholder="Time Create"
              class="form-control"
              [(ngModel)]="selectedRowData.timeCreate"
              name="timeCreate"
            />
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <app-modal-print-list
    [alreadyPrint]="alreadyPrint"
    [disabledPrintButton]="disabledPrintButton"
    [generatePdfUrl]="'/cetak-production-jasper'"
    [updateStatusUrl]="''"
    [updatePrintStatusParam]="''"
    [generateReportParam]="paramGenerateReport"
    [isShowModalReport]="isShowModalReport"
    [isShowSelection]="true"
    (closeModalEvent)="closeModal()"
  >
  </app-modal-print-list>
</div>

<c-modal
  #formModalPosting
  [fullscreen]="false"
  [visible]="isShowModalPosting"
  backdrop="static"
  [size]="'xl'"
  id="formModalPosting"
  [attr.aria-hidden]="!isShowModalPosting"
>
  <c-modal-header>
    <h5 cModalTitle>Konfirmasi Posting Data Production</h5>
    <button
      (click)="isShowModalPosting = false"
      type="button"
      class="btn btn-primary ms-2"
      [cModalToggle]="formModalPosting.id"
      cButtonClose
    >
      <i class="fa fa-times"></i>
    </button>
  </c-modal-header>
  <c-modal-body>
    <div>
      <div *ngIf="!pdfSrc && listSummaryData.length > 0">
        <app-loading></app-loading>
      </div>
      <div
          *ngIf="listSummaryData.length == 0"
          class="alert alert-warning text-center"
          role="alert"
        >
          <strong>
            Tidak ada data yang bisa diposting, silahkan kirim data terlebih dahulu!.
          </strong>
        </div>
      <ng-container *ngIf="listSummaryData.length > 0">
        <div class="card shadow-sm mb-3" *ngIf="pdfSrc">
          <div class="card-body">
            <ngx-extended-pdf-viewer
            [src]="pdfSrc"
            useBrowserLocale="true"
            [height]="'65vh'"
             [filenameForDownload]="'WIP-produksi.pdf'"
          ></ngx-extended-pdf-viewer>
          </div>
        </div>
      </ng-container>
    </div>
  </c-modal-body>
  <c-modal-footer class="justify-center">
    <button
      class="btn btn-success text-white btn-150 w-180 me-3"
      [disabled]="loadingPosting || listSummaryData.length == 0"
      (click)="onPostingData()"
    >
      <i class="fa fa-send pe-1" *ngIf="!loadingPosting"></i>
      <i class="fa fa-spinner fa-spin" *ngIf="loadingPosting"></i>
      {{ "Posting" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-light w-180 me-3"
      data-bs-dismiss="modal"
      (click)="isShowModalPosting = false"
    >
      Batal
    </button>
    <!-- <button type="button" class="btn btn-success text-white  w-180" (click)="refreshDatabase()">Proses Terima Data</button> -->
  </c-modal-footer>
</c-modal>
