<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Ubah" | translate }} {{ "Regional" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm" (submit)="onSubmit()">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"
            >{{ "Kode Regional" | translate
            }}<span class="stamp-required show">&nbsp;*</span></label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="code"
              [readOnly]="editing"
              maxlength="10"
              (keypress)="conditionInput($event, 'code')"
            />
            <span
              *ngIf="
                myForm.controls['code'].hasError('required') &&
                myForm.controls['code'].touched
              "
              class="text-danger"
              >{{ "Wajib diisi (max. 10 karakter)" | translate }}</span
            >
            <span
              *ngIf="myForm.controls['code'].hasError('code')"
              class="text-danger"
              >{{ "Kode Regional hanya boleh mengandung angka." | translate }}
            </span>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"
            >{{ "Nama Regional" | translate }}
            <span class="stamp-required show">&nbsp;*</span></label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="desc"
              [readOnly]="editing"
              (keypress)="conditionInput($event, 'desc')"
              maxlength="30"
            />
            <span
              *ngIf="
                myForm.controls['desc'].hasError('required') &&
                myForm.controls['desc'].touched
              "
              class="text-danger"
              >{{ "Wajib diisi (max. 30 karakter)" | translate }}</span
            >
            <span
              *ngIf="myForm.controls['desc'].hasError('desc')"
              class="text-danger"
              >{{
                "Nama Regional hanya boleh mengandung huruf, angka, spasi, tanda kurung () dan strip (-)."
                  | translate
              }}</span
            >
          </div>
        </div>
        <div class="divider"></div>
        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button
            class="btn btn-light btn-160"
            (click)="onPreviousPressed()"
            [disabled]="editing"
          >
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-info text-white btn-160"
            type="submit"
            [disabled]="editing"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="editing"></i>
            <span *ngIf="!editing">{{ "Simpan" | translate }} Regional</span>
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
