.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container .form-control {
    padding-right: 40px; /* Ensure enough space for the icon */
  }
  
  .eye-icon {
    position: absolute;
    right: 15px; /* Position the eye icon at the end */
    cursor: pointer;
    z-index: 1;
  }
  
  .eye-icon i {
    font-size: 16px; /* Adjust icon size */
    color: #6c757d; /* Neutral color for the icon */
    transition: color 0.3s ease;
  }
  
  .eye-icon i:hover {
    color: #000; /* Darker color on hover */
  }
  
.input-group{
    width: 83%  !important;
}

.small-font{
  font-size: 12px;
}
.medium-font{
  font-size: 14px;
}
:host {
  font-size: 14px !important; /* Sets font size for the entire component */
}

.red-line {
  border-right: 3px solid #3c4b64;
  opacity: 1;
  max-height: auto;
  margin: 0px 20px;
}