<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      <div class="d-grid gap-3 d-md-flex justify-content-end">
        <button class="btn btn-info text-white btn-150 pe-3"
         [disabled]="loadingSimpan"
         (click)="onSubmit()">
          <i class="fa fa-check pe-2" *ngIf="!loadingSimpan"></i>
          <i class="fa fa-spinner fa-spin" *ngIf="loadingSimpan"></i>
          {{ "Proses Simpan Data" | translate }}
        </button>
      
        <button class="btn btn-secondary text-white btn-150" (click)="onBackPressed()">
          <i class="fa fa-times pe-1"></i> {{ "Batal Produksi" | translate }}
        </button>
      </div>
    </c-card-header>
    <c-card-body>
      <div class="table-responsive">
        <ng-container>
          <div *ngIf="loading">
            <app-loading></app-loading>
          </div>
          <table bordered [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead>
              <tr>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 18%"
                  class="text-center align-items-start" rowspan="2">Kode
                  Barang</th>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 20%;"
                  class="text-center align-items-start" rowspan="3">Nama
                  Bahan Baku</th>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                  class="text-center align-items-start" rowspan="2">
                  Konversi</th>
                <th scope="col" style="background-color: #e55353; color:white; vertical-align: middle;"
                  class="text-center align-items-start btn-danger" colspan="2">Qty
                  Pemakaian</th> <!-- Masih sejajar -->
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
                  class="text-center align-items-start" rowspan="2">
                  Total Qty Pemakaian</th>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 8%;"
                  class="text-center align-items-start" rowspan="2">
                  Isi Qty Expired
                </th>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
                  class="text-center align-items-start" rowspan="2">
                  Total Qty Expired</th>
              </tr>
              <tr>
                <th scope="col" class="text-center"
                  style="width:160px;background-color: #3c4b64; color:white; vertical-align: middle; ">Besar</th>
                <th scope="col" class="text-center"
                  style="width:160px;background-color: #3c4b64; color:white; vertical-align: middle;">Kecil</th>
              </tr>
            </thead>
            <tbody *ngIf="!listProductData || listProductData.length === 0">
              <tr>
                <td colspan="9" scope="col" class="text-center">
                  No Data Found
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let data of listProductData; let i = index">
                <td class="text-center">
                  {{ data.bahanBaku }}
                </td>

                <td class="text-center">
                  {{ data.namaBarang }}
                </td>
                <td class="text-center">{{ data.konversi }} 
                  <!-- {{data.satuanKecil}} / {{data.satuanBesar}} -->
                </td>
                <td class="text-center input-column">
                  {{ data.qtyPemakaianBesar }} {{ data.satuanBesar }}
                </td>

                <td class="text-center input-column">
               
                  {{ 
                    ((data.qtyPemakaian || 0) * (data.jumlahHasilProduksi || 0) - (data.qtyPemakaianBesar || 0) * (data.konversi || 0)).toFixed(2) 
                  }} {{ data.satuanKecil || '' }}
                </td>

                <td class="text-center">
                  {{ data.totalQtyPemakaian}} {{ data.satuanKecil || '' }}
                </td>
                <td>
                  <button class="btn btn-success btn-sm text-white btn-150" (click)="onShowModalExpired($event, i)"
                    [disabled]="!data.isConfirmed">
                    <i class="fa fa-check pe-1"></i> {{ "Exp." | translate }}
                  </button>
                </td>
                <td class="text-center">
                  {{
                    getTotalExpiredData(data.bahanBaku,data.konversi) 
                  }} {{data.satuanKecil}}

                  
                </td>
              </tr>
            </tbody>
          </table>

        </ng-container>
      </div>

    </c-card-body>



  </c-card>
</div>
<c-modal #modalExpired alignment="center"
  [style]="{'display': 'flex', 'align-items': 'center', 'justify-content': 'center'}" [fullscreen]="false"
  [visible]="isShowModalExpired" backdrop="static" #modalLg size="xl" id="formModal"
  [attr.aria-hidden]="!isShowModalExpired">
  <c-modal-header>
    <h5 cModalTitle>Entry Data Expired</h5>
    <button (click)="isShowModalExpired = false" type="button" class="btn btn-primary ms-2" cButtonClose><i
        class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <div class="row">
      <div class="col-9">
        <div class="w-100 px-2 py-1 row">

          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Nama Barang" | translate }}</label>
          </div>
          <div class="col-8 pe-0 d-flex">
            <div class="col-3 pe-2">
              <input type="text" class="form-control" id="kodeBarang" [(ngModel)]="selectedExpProduct.bahanBaku"
                name="kodeBarang" readonly />
            </div>
            <div class="col-9">
              <input type="text" class="form-control" id="namaBarang" [(ngModel)]="selectedExpProduct.namaBarang"
                name="namaBarang" readonly />
            </div>
          </div>
        </div>
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Konversi Barang" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi"
              [value]="selectedExpProduct.konversi + ' ' + selectedExpProduct.satuanKecil + '/' + selectedExpProduct.satuanBesar"
              name="konversi" readonly />

          </div>

        </div>

        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label class="fw-semibold" for="nomorPesanan">{{ "Total Pemakaian" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" placeholder="Nomor pesanan" class="form-control" id="konversi"
              [value]="this.selectedExpProduct.totalQtyProduksi"
              name="konversi" readonly />
          </div>

        </div>

      </div>
      <div class="col-3">
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Quantity Besar" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi" [value]="selectedExpProduct.qtyPemakaianBesar"
              name="konversi" readonly />
          </div>

        </div>

        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Quantity Kecil" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi" [value]="selectedExpProduct.qtyPemakaianKecil || 0"
              name="konversi" readonly />
          </div>
        </div>
      </div>
    </div>


    <div class="divider"></div>

    <div class="table-responsive">
      <ng-container>
        <div *ngIf="loading">
          <app-loading></app-loading>
        </div>
        <table bordered [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead>
            <tr>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 20%;"
                class="text-center align-items-start" rowspan="2">Tgl. Expired</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 20%;"
                class="text-center align-items-start" rowspan="3">Keterangan Tanggal</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 124px;"
                class="text-center align-items-start" rowspan="2">
                Qty Besar</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 124px;"
                class="text-center align-items-start btn-danger" rowspan="2">Qty
                Kecil</th> <!-- Masih sejajar -->
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
                  class="text-center align-items-start" rowspan="2">
                  Total Qty Expired</th>
              </tr>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
                  class="text-center align-items-start">
                 Action</th>
              
          </thead>
          <tbody *ngIf="!listEntryExpired || listEntryExpired.length === 0">
            <tr>
              <td colspan="9" scope="col" class="text-center">
                No Data Found
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let data of filteredList; let i = index">
              <td class="text-center">
                <input type="text" id="tglTransaksi" class="form-control" aria-describedby="tglTransaksi"
                  #dp="bsDatepicker" [bsConfig]="dpConfig" bsDatepicker autocomplete="off" [(ngModel)]="data.tglExpired"
                  (ngModelChange)="updateKeteranganTanggal(data)"
                  (change)="validateDate($event,data.kodeBarang,i)"
                  placeholder="{{ 'Tanggal transaksi' | translate }}" />
                  <span style="font-size: 14px;" class="text-danger" *ngIf="data.validationExpiredMessageList">
                    {{ data.validationExpiredMessageList}}
                  </span>
              </td>

              <td class="text-center">
                {{ data.keteranganTanggal }}
              </td>
              <td class="text-center input-column">
                <div class="d-flex justify-content-center" style="gap: 5px;">
                  <input type="text" min="0" class="form-control text-center inputQty inputNumberSpace"
                    [(ngModel)]="data.qtyPemakaianBesar" 
                    (change)="onInputQtyBesarExpired($event,data.kodeBarang, i)"
                    />
                  <span class="d-flex align-items-center justify-content-center">
                    / {{data.satuanBesar}}
                  </span>
                </div>
              </td>

              <td class="text-center">
                <div class="d-flex justify-content-center" style="gap: 5px;">
                  <input type="text" min="0" class="form-control text-center inputQty inputNumberSpace"
                    [(ngModel)]="data.qtyPemakaianKecil"
                    (change)="onInputQtyKecilExpired($event,data.kodeBarang, i)"
                    />
                  <span class="d-flex align-items-center justify-content-center">
                    / {{data.satuanKecil}}
                  </span>
                </div>

                <!-- Validation message area -->
                <span style="font-size: 14px;" class="text-danger" *ngIf="data.validationQtyBesar">
                  {{ data.validationQtyBesar }}
                </span>
              </td>

              <td class="text-center">
                {{
                ((helper.sanitizedNumber(data.qtyPemakaianBesar) *
                data.konversi) + helper.sanitizedNumber(data.qtyPemakaianKecil)).toFixed(2) 
                }} 
                {{data.satuanKecil}}

                <!-- Validation message area -->
                <br>
                <span style="font-size: 14px;" class="text-danger" *ngIf="data.validationQtyKecil">
                  {{ data.validationQtyKecil }}
                </span>
              </td>
              <td class="text-center">
                <button (click)="onModalDeleteRow(data.kodeBarang,i)" type="button" class="btn btn-secondary ms-2">
                  <i class="fa fa-trash me-1"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>

    <div class="row justify-content-between gap-3 mt-3">
      <div class="col-4 d-flex">
        <button (click)="onAddExpiredRow()" type="button" class="btn btn-primary"><i class="fa fa-plus ms-1"></i> Tambah
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button (click)="onSaveEntryExpired()" type="button" class="btn btn-primary ms-2">
          <i class="fa fa-check me-1"></i>Simpan Data
        </button>
      </div>
    </div>

  </c-modal-body>
</c-modal>

<!-- <div class="d-grid gap-3 d-md-flex justify-content-end">
  <button class="btn btn-info text-white btn-150 pe-3" (click)="onSubmit()">
    <i class="fa fa-check pe-2" *ngIf="!adding"></i>
    <i class="fa fa-spinner fa-spin" *ngIf="adding"></i>
    {{ "Proses Simpan Data" | translate }}
  </button>

  <button class="btn btn-secondary text-white btn-150" (click)="onBackPressed()">
    <i class="fa fa-times pe-1"></i> {{ "Batal" | translate }}
  </button>
</div> -->