.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
  cursor: inherit;
  opacity: 1;
}

.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 1;
}

.vertical-divider {
  border-right: 1.25px solid #ccc;
  border-top: none;
}

.right-column {
  padding-right: 0;
}
