<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Lihat" | translate }} {{ "RSC" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Kode" | translate
          }}</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="code"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Nama" | translate
          }}</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="desc"
              readonly
            />
          </div>
        </div>
        <div class="divider"></div>

        <div class="row">
          <div class="col-md-6">
            <!-- left column -->
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label">{{
                "Dibuat Oleh" | translate
              }}</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="userCreate"
                />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label">{{
                "Tanggal Dibuat" | translate
              }}</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="dateCreate"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- right column -->
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label">{{
                "Diperbarui Oleh" | translate
              }}</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="userUpdate"
                />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label">{{
                "Tanggal Diperbarui" | translate
              }}</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="dateUpdate"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="divider"></div>
        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-info text-white btn-120"
            (click)="onEditPressed()"
          >
            {{ "Ubah" | translate }} RSC
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
