<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Stock" | translate }} {{ "Opname" | translate }}</h5>
        </div>
        <div class="col text-end">
          <button type="button" class="btn btn-success text-white me-2 btn-120"
            (click)="actionBtnClick(CONST_ACTION_ADD)">
            <i class="fa fa-plus pe-1 icon-12" aria-hidden="true"></i>
            {{ "Tambah" | translate }}
          </button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">

  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col mb-2">
          <button class="btn btn-primary w-100" (click)="onMenuClick('Cetak Form SO')"
            [disabled]="!selectedRowData || selectedRowData?.statusProses !== 'BELUM' || loadings['cetakFormSo']">
            <i class="fa fa-refresh fa-spin me-2" *ngIf="loadings['cetakFormSo']"></i>
            Cetak Form SO
          </button>
        </div>
        <div class="col mb-2">
          <button class="btn btn-primary w-100" (click)="onMenuClick('Entry Stock Opname')"
            [disabled]="!selectedRowData || selectedRowData?.statusProses !== 'BELUM'">
            Entry Stock Opname
          </button>
        </div>
        <div class="col mb-2">
          <button class="btn btn-primary w-100" (click)="onMenuClick('Laporan Selisih SO (Sementara)')"
            [disabled]="!selectedRowData || selectedRowData?.statusProses !== 'BELUM' || loadings['laporanSelisihSO']">
            <i class="fa fa-refresh fa-spin me-2" *ngIf="loadings['laporanSelisihSO']"></i>
            Laporan Selisih SO (Sementara)
          </button>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <button class="btn btn-primary w-100" (click)="onMenuClick('Lihat Detail')" [disabled]="!selectedRowData">
            Lihat Detail
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary w-100" (click)="onMenuClick('Laporan Hasil SO')"
            [disabled]="!selectedRowData || selectedRowData?.statusProses !== 'SUDAH'">
            Laporan Hasil SO
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary w-100" (click)="onMenuClick('Display Selisih SO')"
            [disabled]="!selectedRowData || selectedRowData?.statusProses !== 'SUDAH'">
            Display Selisih SO
          </button>
        </div>
        <div class="w-100"></div>
        <div class="col" *ngIf="!selectedRowData">
          <div class="text-muted mt-2">
            <i class="fa fa-exclamation-circle text-center"></i>
            &nbsp;
            <span class="fw-bold text-danger">
              Silahkan pilih/klik salah satu nomor SO.
            </span>
          </div>
        </div>
      </div>

    </c-card-body>
  </c-card>

  <c-card>
    <c-card-body>
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" (page.dt)="dtPageChange($event)" class="row-border hover stripe">
        </table>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="modal fade" #modalMenuSo id="modalMenuSo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalMenuSoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalMenuSoLabel">{{selectedMenu}}</h1>
        <button type="button" class="btn-close" (click)="closeModalMenu()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to proceed with {{selectedMenu}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalMenu()">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

<div class="fade-in">
  <app-modal-print-list [alreadyPrint]="alreadyPrint" [disabledPrintButton]="disabledPrintButton"
    [generatePdfUrl]="'/api/report/laporan-hasil-so'" [updateStatusUrl]="''" [updatePrintStatusParam]="''"
    [generateReportParam]="paramGenerateReport" [isShowModalReport]="isShowModalReport" [isShowSelection]="true"
    (closeModalEvent)="closeModal()">
  </app-modal-print-list>
</div>

<c-modal [fullscreen]="false" [visible]="loadings['laporanSelisihSOModal']" backdrop="static" id="formModalReport"
  [attr.aria-hidden]="!loadings['laporanSelisihSOModal']">
  <c-modal-header>
    <div></div>
    <h5 cModalTitle class="titel-header">Konfirmasi Cetak Data</h5>
    <button (click)="loadings['laporanSelisihSOModal'] = false" type="button" class="btn btn-primary ms-2" cButtonClose>
      <i class="fa fa-times"></i>
    </button>
  </c-modal-header>

  <c-modal-body>
    <div class="text-center">
      <p class="fw-bold">Siapkan Kertas, jika anda ingin<br> mencetak ke 'PRINTER'</p>

      <div class="d-flex justify-content-center align-items-center mb-3">
        <label class="form-check-label me-2" for="confirmSendSelisihSo">Expired Date, Di Cetak ? </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="confirmSendSelisihSo" id="confirmYesSelisihSo" value="Ya"
            [(ngModel)]="paramReportSelisihSo.confirmSelection">
          <label class="form-check-label" for="confirmYesSelisihSo">Ya</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="confirmSendSelisihSo" id="confirmNoSelisihSo" value="Tidak"
            [(ngModel)]="paramReportSelisihSo.confirmSelection">
          <label class="form-check-label" for="confirmNoSelisihSo" value="Tidak">Tidak</label>
        </div>
      </div>
    </div>
  </c-modal-body>

  <c-modal-footer class="justify-center">
    <div class="row">
      <div class="col-6 text-center">
        <button type="button" class="btn btn-success  text-white me-2 btn-120" (click)="printSelisihSo(true)"
          [disabled]="this.loadings['laporanSelisihSO']">
          <i class="fa fa-{{this.loadings['laporanSelisihSO'] ? 'spinner fa-spin' : 'file'}}"></i>
          Screen Pdf
        </button>
      </div>
      <div class="col-6 text-center">
        <button type="button" class="btn btn-success  text-white me-2 btn-120" (click)="printSelisihSo(false)"
          [disabled]="this.loadings['laporanSelisihSO']">
          <i class="fa fa-{{this.loadings['laporanSelisihSO'] ? 'spinner fa-spin' : 'print'}}"></i>
          Cetak
        </button>
      </div>
    </div>
    <!-- <div class="divider"></div> -->
    <div class="text-center ">
      <p class="fw-bold pe-0">Pastikan Printer kondisi 'ON' jika ingin mencetak ke PRINTER..!!</p>
    </div>

  </c-modal-footer>
</c-modal>

<div class="container my-5 fade-in fs-8">
  <div class="alert alert-info">
    <h5 class="alert-heading">
      <em class="text-danger">
        <i class="fa fa-exclamation-circle"></i>
        PERHATIAN: Stock Opname (SO) hanya dilakukan di akhir bulan sebelum Tutup Bulan!
      </em>
      <hr class="m-1">
      Urutan Proses Stock Opname:
    </h5>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">
        <strong>Tambah SO:</strong> Buat data SO baru sesuai dengan periode
      </li>
      <li class="list-group-item">
        <strong>Cetak Form SO:</strong> Cetak formulir fisik untuk pencatatan manual hasil penghitungan stok fisik
      </li>
      <li class="list-group-item">
        <strong>Entry SO:</strong> Masukkan hasil penghitungan stok fisik ke dalam sistem berdasarkan data dari form SO
        yang telah diisi
      </li>
      <li class="list-group-item">
        <strong>Laporan Selisih SO:</strong> Tinjau laporan selisih antara stok sistem dan stok fisik. Lakukan analisis
        dan koreksi jika diperlukan.
      </li>
      <li class="list-group-item">
        <strong>Posting SO:</strong> Setelah semua data dipastikan benar, lakukan proses posting untuk memperbarui data
        stok di sistem.
      </li>
    </ol>
  </div>
</div>
