<div class="fade-in">
  <c-card class="mb-4">
    
    <c-card-body>
      <c-row>
        <div class="d-grid gap-3 d-md-flex justify-content-start align-items-center">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
          <h8>{{ "Tambah Pemakaian Barang Sendiri" | translate }}</h8>

          <div class="alert alert-info" role="alert" id="alert">
            <i class="fa fa-info-circle"></i>
            Tentukan Qty Setelah Selesai, Klik Proses Simpan Data Untuk Melihat List Barang Yang Ditambahkan.
          </div>
            
        </div>
      </c-row>
    </c-card-body>
  </c-card>

  <c-card class="mb-4">
    <c-card-body>
      <c-row>
        <div [ngClass]="isShowDetail ? 'col-4' : 'col-5'" class="pe-0 d-flex red-line">
          <div class="w-100">
            <div class="p-2">
              <h5 class="mb-2 p-2" style="color:#3c4b64;">{{ "Isi Format" | translate }}</h5>
              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="tglTransaksi">{{ "Tgl. Transaksi" | translate }} <span class="text-danger">*</span></label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input
                    type="text"
                    id="tglTransaksi"
                    class="form-control"
                    aria-describedby="tglTransaksi"
                    #dp="bsDatepicker"
                    [bsConfig]="dpConfig"
                    bsDatepicker
                    autocomplete="off"
                    [(ngModel)]="formData.tglTransaksi"
                    placeholder="{{ 'Tanggal transaksi' | translate }}"
                  />
                </div>
              </div>
              
              <div class="divider mt-4"></div>

              <!-- <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="namaSaksi">{{ "Nama Saksi" | translate }}</label>
                </div>

                <div class="col-8 pe-0 d-flex">
                  <input placeholder="Nama saksi" type="text" class="form-control" id="namaSaksi"
                    [(ngModel)]="formData.namaSaksi" name="namaSaksi" />
                </div>
              </div> -->

              <!-- <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="jabatanSaksi">{{ "Jabatan Saksi" | translate }}</label>
                </div>

                <div class="col-8 pe-0 d-flex">
                  <input placeholder="Jabatan saksi" type="text" class="form-control" id="namaSaksi"
                    [(ngModel)]="formData.jabatanSaksi" name="jabatanSaksi" />
                </div>
              </div> -->

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="keterangan">{{ "Catatan" | translate }}</label>
                </div>

                <div class="col-8 pe-0 d-flex flex-column">
                  <textarea
                    placeholder="Catatan"
                    type="text"
                    class="form-control"
                    id="keterangan"
                    name="keterangan"
                    [(ngModel)]="formData.keterangan"
                    (input)="onKeteranganInput()"
                    [class.is-invalid]="isKeteranganInvalid"
                    maxlength="50"
                  ></textarea>
              
                  <div class="text-end text-muted mt-1">
                    <small>{{ charCount }}/50 karakter</small>
                  </div>
              
                  <div *ngIf="isKeteranganInvalid" class="text-danger mt-1 fw-bold">
                   HARAP MASUKAN KARAKTER YANG VALID..!!!!
                  </div>
                </div>
              </div>
              <div style="width: 96%;" class="p-2">
                <button class="shadow-sm btn w-100 btn-info text-white" *ngIf="!isShowDetail" [disabled]="isFormInvalid"
                  (click)="onAddDetail()">
                  <i class="fa fa-check pe-2"></i>
                  {{ "Detail Transaksi" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class=" ps-0" [ngClass]="isShowDetail ? 'col-8' : 'col-7'">
          <div class="p-2" *ngIf="isShowDetail">
            <app-add-data-detail-barang-pemakaian></app-add-data-detail-barang-pemakaian>
          </div>
        </div>

      </c-row>
    </c-card-body>
  </c-card>
</div>