<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Tambah" | translate }} {{ "Cabang" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6"> 
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Kode Cabang" | translate
                }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>                
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="kodeCabang"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                    readonly
                  />
                  <span *ngIf="isFieldValid('kodeCabang')" class="text-danger">{{
                    "Wajib diisi" | translate
                  }}</span>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Kode Singkat" | translate
                }}
                <span class="stamp-required show">&nbsp;*</span>
              </label>                  
              <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="kodeSingkat"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'kodeSingkat')"
                    maxlength="10"
                  />
                  <span *ngIf="isFieldValid('kodeSingkat')" class="text-danger">{{
                    "Wajib diisi" | translate
                  }}</span>
                </div>
              </div>

            </div>
            <!-- right column -->
            <div class="col-md-6"> 
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                    "Nama Cabang" | translate
                  }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>                  
              <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="namaCabang"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'alphabet')"
                    maxlength="50"
                  />
                  <span *ngIf="isFieldValid('namaCabang')" class="text-danger">{{
                    "Wajib diisi" | translate
                  }}</span>
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Group" | translate
                  }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>                  
                <div class="col-sm-8">
                  <select
                    aria-label="Group"
                    cSelect
                    id="selectedKodeGroup"
                    formControlName="kodeGroup"
                  >
                  <option value="" disabled selected hidden>
                    {{ 'Pilih Group' | translate }}
                  </option>
                    <option *ngFor="let kodeGroup of kodeGroupOptions" [value]="kodeGroup.value">
                      {{ kodeGroup.value }} - {{ kodeGroup.label | translate }}
                    </option>
                  </select>
                  <span *ngIf="isFieldValid('kodeGroup')" class="text-danger">{{
                    "Wajib diisi" | translate
                  }}</span>   
                </div>
             
              </div>
              <!-- <div class="col-md-4">
                <label cLabel for="selectedtipeCabangFilter">{{ 'Group' | translate }}:</label>
                <select
                  aria-label="Group"
                  cSelect
                  id="selectedKodeGroupFilter"
                  [(ngModel)]="selectedKodeGroupFilter"
                  (ngModelChange)="onCityFilterChange()"
                >
                  <option value="">{{ 'Semua' | translate }}</option>
                  <option *ngFor="let kodeGroup of kodeGroupOptions" [value]="kodeGroup.value">
                    {{ kodeGroup.value }} - {{ kodeGroup.label | translate }}
                  </option>
                </select>
              </div>   -->
            </div>
          </div>
        </div>

        
        <div class="divider"></div>
        <!-- alamat kota kode pos telp fax -->
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- left column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                    "Alamat 1" | translate
                  }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="alamat1"
                    [readOnly]="adding"
                    maxlength="40"
                    (keypress)="conditionInput($event, 'excludedSensitive')"                    
                  />
                  <span *ngIf="isFieldValid('alamat1')" class="text-danger">{{
                    "Wajib diisi" | translate
                  }}
                </span>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Alamat 2" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="alamat2"
                    [readOnly]="adding"
                    maxlength="40"
                    (keypress)="conditionInput($event, 'excludedSensitive')"                    
                  />
                </div>
              </div>
          
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Kota" | translate
                }}</label>
                <div class="col-sm-8">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectKota"
                    [options]="listKota"
                    formControlName="kota"
                    id="kota">
                  </ngx-select-dropdown>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Kode Pos" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="kodePos"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- right column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Telpon 1" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="telpon1"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'phone')"
                    maxlength="30"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Telpon 2" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="telpon2"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'phone')"
                    maxlength="30"
                  />
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Fax 1" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fax1"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'phone')"
                    maxlength="30"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Fax 2" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fax2"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'phone')"
                    maxlength="30"
                  />
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="divider"></div>


        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- left column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Alamat Email" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="alamatEmail"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'email')"
                    (keyup)="onChangeEmail($event)"
                    maxlength="50"
                  />
                  <span *ngIf="!isEmailValid" class="text-danger">{{
                    "Alamat email tidak valid" | translate
                  }}</span>
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "RSC" | translate
                }}</label>
                <div class="col-sm-8">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectRSC"
                    [options]="listRSC"
                    formControlName="keteranganRsc"
                    id="keteranganRsc">
                  </ngx-select-dropdown>
                </div>
              </div> 
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Region" | translate
                }}</label>
                <div class="col-sm-8">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectRegion"
                    [options]="listRegion"
                    formControlName="keteranganRegion"
                    id="keteranganRegion">
                  </ngx-select-dropdown>
                </div>
              </div> 

              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Area" | translate
                }}</label>
                <div class="col-sm-8">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectArea"
                    [options]="listArea"
                    formControlName="keteranganArea"
                    id="keteranganArea">
                  </ngx-select-dropdown>
                </div>
              </div>               
            </div>
            <div class="col-md-6">
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Contact Person" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="contactPerson"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'alphabet')"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Contact Telp" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="contactPhone"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="30"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Tipe Cabang" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="tipeCabang"
                    [readOnly]="adding"
                    (keypress)="conditionInput($event, 'alphabet')"
                    maxlength="10"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Status Aktif" | translate
                }}</label>
                <c-col xs="8">
                  <c-row class="mt-2">
                    <c-col xs="6">
                      <c-form-check class="flex align-items-center">
                        <input cFormCheckInput checked id="active" type="radio" value="A" name="status" formControlName="status" (change)="onChangeSelect($event, 'status')"/>
                        <label cFormCheckLabel for="active" style="margin-left: 4px;">Aktif</label>
                      </c-form-check>
                    </c-col>
                    <c-col xs="6">
                      <c-form-check class="flex align-items-center">
                        <input cFormCheckInput id="inactive" type="radio" value="T" name="status" formControlName="status" (change)="onChangeSelect($event, 'status')"/>
                        <label cFormCheckLabel for="inactive" style="margin-left: 4px;">Tidak Aktif</label>
                      </c-form-check>
                    </c-col>
                  </c-row>
                </c-col>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Keterangan" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="keterangan"
                    [readOnly]="adding"
                    maxlength="50"
                    (keypress)="conditionInput($event, 'excludedSensitive')"                    
                  />
                </div>
              </div>  
            </div>
          </div>
        </div>

      
        <div class="divider"></div>

        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            {{ "Kembali" | translate }}
          </button>
          <button
          class="btn btn-info text-white btn-150"
          type="submit"
          [disabled]="adding"
        >
          <i class="fa fa-spinner fa-spin" *ngIf="adding"></i>
          <span *ngIf="!adding"
            >{{ "Simpan" | translate }} {{ "Cabang" | translate }}</span
          >
        </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
