<!-- <div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Release Note" | translate }}</h5>
        </div>
        <div class="col text-end">
        </div>
      </div>
    </c-card-body>
  </c-card>
</div> -->
<div class="fade-in container-sm container-about">

  <div class="card">
    <div class="card-header card-header text-white bg-danger pt-4 px-4">
      <h3 class="pb-0">ABOUT SOFTWARE</h3>
      <p>
        Inventory Management System
        <span class="float-end">
          Version {{version}}
        </span>
      </p>
    </div>
    <div class="card-body px-4">
      <div class="row">
        <div class="col">
          <strong>This Product Is Licensed To</strong>
          <br>PT. FAST FOOD INDONESIA TBK
          <br>KENTUCKY FRIED CHICKEN
          <br>
          <br><strong>Technology</strong>
          <br>ORACLE 11g Express Edition Release 11.2.0.2.0
          <br>ANGULAR 17.0.4
          <br>SPRING BOOT 2.7.8
          <br>
          <br><strong>Development</strong>
          <br>IT Development - PT. Fast Food Indonesia
        </div>
        <div class="col">

          <div class="row">
            <div class="col-lg-4 text-left pt-2">
              <img src="./assets/img/brand/logo_kfc.png" class="img-fluid" style="max-width: 150px;" alt="LOGO KFC"
                draggable="false">
              <img src="./assets/images/jagonya_ayam.png" class="img-fluid" style="max-width: 150px;" alt="JAGONYA AYAM"
                draggable="false">
            </div>
            <div class="col-lg-4 text-end">
              <img src="./assets/images/logo_tacobell.png" class="img-fluid" style="max-width: 150px;"
                alt="KFC" draggable="false">
            </div>
            <div class="col-lg-4 text-end">
              <img src="./assets/images/kentucky_fried_chicken.png" class="img-fluid" style="max-width: 150px;"
                alt="KFC" draggable="false">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
