<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Tambah" | translate }} {{ "Barang" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div class="row">
            <!-- left column -->
            <div class="col-md-4">
              <div class="my-3 row">
                <label class="col-sm-6 col-form-label"
                  >{{ "Kode Barang" | translate }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>
                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="kodeBarang"
                    maxlength="10"
                  />
                  <span *ngIf="isInvalid('kodeBarang')" class="text-danger"
                    >{{ "Wajib diisi" | translate }}
                  </span>
                </div>
              </div>
            </div>
            <!-- right column -->
            <div class="col-md-8">
              <div class="my-3 row">
                <label class="col-sm-3 col-form-label"
                  >{{ "Nama Barang " | translate }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="namaBarang"
                    maxlength="50"
                    (input)="convertToUppercase('namaBarang')"
                  />
                  <span *ngIf="isInvalid('namaBarang')" class="text-danger"
                    >{{ "Wajib diisi" | translate }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="divider"></div>
        <!-- detail Konversi dan default gudang -->
        <div class="container">
          <div class="row">
            <div class="col-md-4 vertical-divider mb-3">
              <div class="row">
                <label class="col-sm-5 col-form-label">
                  {{ "Konversi " | translate }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>
                <div class="col-sm-7">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    step="0.01"
                    formControlName="konversi"
                    (input)="preventEmpty($event)"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                  />
                  <span *ngIf="isInvalid('konversi')" class="text-danger"
                    >{{ "Tidak Boleh diisi oleh 0" | translate }}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4 vertical-divider mb-3">
              <div class="row">
                <label class="col-sm-5 col-form-label">
                  {{ "Satuan Kecil " | translate }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>
                <div class="col-sm-7">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [options]="uomSatuanKecilList"
                    [config]="configUomSelect"
                    [bindLabel]="'keteranganUom'"
                    [bindValue]="'kodeUom'"
                    formControlName="satuanKecil"
                  >
                  </ngx-select-dropdown>
                  <span *ngIf="isInvalid('satuanKecil')" class="text-danger"
                    >{{ "Wajib diisi" | translate }}
                  </span>
                  <!-- <input
                      type="text"
                      class="form-control"
                      formControlName="satuanKecil"
                      maxlength="40"
                    /> -->
                </div>
              </div>

              <!-- <div class="row">
                    <label
                      class="d-flex justify-content-center align-items-end col-form-label"
                      >{{ "Satuan Kecil" | translate }}
                      <span class="stamp-required show">&nbsp;*</span>
                    </label>
                    <div class="col-sm-12">
                      <ngx-select-dropdown
                        [multiple]="false"
                        formControlName="keteranganRsc"
                        id="keteranganRsc"
                      >
                      </ngx-select-dropdown>
                    </div>
                  </div> -->
            </div>
            <div class="col-md-4 mb-3">
              <!-- right column -->
              <div class="row">
                <label class="col-sm-5 col-form-label">
                  {{ "Satuan Besar " | translate }}
                  <span class="stamp-required show">&nbsp;*</span>
                </label>
                <div class="col-sm-7">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [options]="uomSatuanBesarList"
                    [config]="configUomSelect"
                    [bindLabel]="'keteranganUom'"
                    [bindValue]="'kodeUom'"
                    formControlName="satuanBesar"
                  >
                  </ngx-select-dropdown>
                  <span *ngIf="isInvalid('satuanBesar')" class="text-danger"
                    >{{ "Wajib diisi" | translate }}
                  </span>
                </div>
              </div>
              <!-- <div class="row">
                    <label
                      class="d-flex justify-content-center align-items-end col-form-label"
                      >{{ "Satuan Besar" | translate
                      }}<span class="stamp-required show">&nbsp;*</span></label
                    >
                    <div class="col-sm-12">
                      <ngx-select-dropdown
                        [multiple]="false"
                        formControlName="keteranganRsc"
                        id="keteranganRsc"
                      >
                      </ngx-select-dropdown>
                    </div>
                  </div> -->
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <!-- detail Konversi dan default gudang -->
        <div class="container">
          <div class="row mb-3">
            <div class="col-md-6 mb-3">
              <div class="row">
                <label class="col-sm-4 col-form-label">
                  {{ "Default Order " | translate }}
                </label>
                <div class="col-sm-8">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [options]="defaultOrderGudangList"
                    [config]="configDefaultGudangSelect"
                    [bindLabel]="'kodeSingkat'"
                    [bindValue]="'kodeSingkat'"
                    formControlName="defaultGudang"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <!-- right column -->
              <div class="row">
                <label class="col-sm-4 col-form-label">
                  {{ "Default Supplier " | translate }}
                </label>
                <div class="col-sm-8">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [options]="supplierList"
                    [config]="configSupplierSelect"
                    [bindLabel]="'namaSupplier'"
                    [bindValue]="'kodeSingkatan'"
                    formControlName="defaultSupplier"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="row">
                <label class="col-sm-3 col-form-label">
                  {{ "Lokasi Barang Di Gudang " | translate }}
                </label>
                <div class="col-sm-9 d-flex flex-wrap gap-3">
                  <c-form-check>
                    <input
                      cFormCheckInput
                      id="flagCom"
                      type="checkbox"
                      formControlName="flagCom"
                    />
                    <label cFormCheckLabel for="flagCom">COMMISARY</label>
                  </c-form-check>
                  <c-form-check>
                    <input
                      cFormCheckInput
                      id="flagDry"
                      type="checkbox"
                      formControlName="flagDry"
                    />
                    <label cFormCheckLabel for="flagDry">DRYGOOD</label>
                  </c-form-check>
                  <c-form-check>
                    <input
                      cFormCheckInput
                      id="flagPrd"
                      type="checkbox"
                      formControlName="flagPrd"
                    />
                    <label cFormCheckLabel for="flagPrd">PRODUCTION</label>
                  </c-form-check>
                  <c-form-check>
                    <input
                      cFormCheckInput
                      id="flagMkt"
                      type="checkbox"
                      formControlName="flagMkt"
                    />
                    <label cFormCheckLabel for="flagMkt">MARKETING</label>
                  </c-form-check>
                  <c-form-check>
                    <input
                      cFormCheckInput
                      id="flagCtr"
                      type="checkbox"
                      formControlName="flagCtr"
                    />
                    <label cFormCheckLabel for="flagCtr">CATERING</label>
                  </c-form-check>
                  <c-form-check>
                    <input
                      cFormCheckInput
                      id="flagHra"
                      type="checkbox"
                      formControlName="flagHra"
                    />
                    <label cFormCheckLabel for="flagHra">H R A</label>
                  </c-form-check>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-4 vertical-divider mb-3">
              <div class="row mb-3">
                <label class="col-sm-7 col-form-label">
                  {{ "Flag Expired ? " | translate }}
                </label>
                <div class="col-sm-5">
                  <select cSelect formControlName="flagExpired">
                    <option value="Y">{{ "Ya" | translate }}</option>
                    <option value="T">{{ "Tidak" | translate }}</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-7 col-form-label">
                  {{ "Flag Barang Bekas ? " | translate }}
                </label>
                <div class="col-sm-5">
                  <select cSelect formControlName="flagBrgBekas">
                    <option value="Y">{{ "Ya" | translate }}</option>
                    <option value="T">{{ "Tidak" | translate }}</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-7 col-form-label">
                  {{ "Brg. Hasil Produksi ? " | translate }}
                </label>
                <div class="col-sm-5">
                  <select cSelect formControlName="flagResepProduksi">
                    <option value="Y">{{ "Ya" | translate }}</option>
                    <option value="T">{{ "Tidak" | translate }}</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-7 col-form-label">
                  {{ "Flag Conversion ? " | translate }}
                </label>
                <div class="col-sm-5">
                  <select cSelect formControlName="flagConversion">
                    <option value="Y">{{ "Ya" | translate }}</option>
                    <option value="T">{{ "Tidak" | translate }}</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-7 col-form-label">
                  {{ "Pembelian Kilogram ? " | translate }}
                </label>
                <div class="col-sm-5">
                  <select cSelect formControlName="others2">
                    <option value="Y">{{ "Ya" | translate }}</option>
                    <option value="T">{{ "Tidak" | translate }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4 vertical-divider mb-3">
              <div class="row mb-3">
                <label class="col-sm-6 col-form-label">
                  {{ "Minimum Stock" | translate }}
                </label>
                <div class="col-sm-4">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    formControlName="minStock"
                    (input)="preventEmpty($event)"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                  />
                </div>
                <label class="col-sm-2 col-form-label text-left px-0">
                  {{ myForm.get("satuanBesar")?.value?.kodeUom | translate }}
                </label>
              </div>
              <div class="row mb-3">
                <label class="col-sm-6 col-form-label">
                  {{ "Maximum Stock" | translate }}
                </label>
                <div class="col-sm-4">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    formControlName="maxStock"
                    (input)="preventEmpty($event)"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                  />
                </div>
                <label class="col-sm-2 col-form-label text-left px-0">
                  {{ myForm.get("satuanBesar")?.value?.kodeUom | translate }}
                </label>
              </div>
              <div class="row mb-3">
                <label class="col-sm-6 col-form-label">
                  {{ "Minimun Order" | translate }}
                </label>
                <div class="col-sm-4">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    formControlName="minOrder"
                    (input)="preventEmpty($event)"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                  />
                </div>
                <label class="col-sm-2 col-form-label text-left px-0">
                  {{ myForm.get("satuanBesar")?.value?.kodeUom | translate }}
                </label>
              </div>
              <div class="row mb-3">
                <label class="col-sm-6 col-form-label">
                  {{ "Satuan Min Order" | translate }}
                </label>
                <div class="col-sm-6">
                  <ngx-select-dropdown
                    [multiple]="false"
                    [options]="uomList"
                    [config]="configUomSelect"
                    [bindLabel]="'keteranganUom'"
                    [bindValue]="'kodeUom'"
                    formControlName="satuanMinOrder"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">
                  {{ "Panjang" | translate }}
                </label>
                <div class="col-sm-4">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    formControlName="panjang"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="40"
                  />
                </div>
                <label class="col-sm-4 col-form-label text-left px-0">
                  {{ "CM" | translate }}
                </label>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">
                  {{ "Lebar" | translate }}
                </label>
                <div class="col-sm-4">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    formControlName="lebar"
                    (input)="preventEmpty($event)"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="40"
                  />
                </div>
                <label class="col-sm-4 col-form-label text-left px-0">
                  {{ "CM" | translate }}
                </label>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">
                  {{ "Tinggi" | translate }}
                </label>
                <div class="col-sm-4">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    formControlName="tinggi"
                    (input)="preventEmpty($event)"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                  />
                </div>
                <label class="col-sm-4 col-form-label text-left px-0">
                  {{ "CM" | translate }}
                </label>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label right-column">
                  {{ "Volume / Isi" | translate }}
                </label>
                <div class="col-sm-4">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    formControlName="volume"
                    (input)="preventEmpty($event)"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                  />
                </div>
                <label class="col-sm-4 col-form-label text-left px-0">
                  {{
                    myForm.get("satuanBesar")?.value?.kodeUom
                      ? "M3 / " + myForm.get("satuanBesar")?.value?.kodeUom
                      : ("M3 / " | translate)
                  }}
                </label>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">
                  {{ "Berat" | translate }}
                </label>
                <div class="col-sm-4">
                  <input
                    style="text-align: right"
                    type="text"
                    class="form-control"
                    formControlName="berat"
                    (input)="preventEmpty($event)"
                    (keypress)="conditionInput($event, 'numeric')"
                    maxlength="10"
                  />
                </div>
                <label class="col-sm-4 col-form-label text-left px-0">
                  {{ "KGS" | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="divider"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- left column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Lokasi Rak Barang" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="lokasiBarang"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Status Aktif" | translate
                }}</label>
                <c-col xs="8">
                  <c-row class="mt-2">
                    <c-col xs="6">
                      <c-form-check class="flex align-items-center">
                        <input
                          cFormCheckInput
                          checked
                          id="active"
                          type="radio"
                          value="A"
                          name="status"
                          formControlName="statusAktif"
                        />
                        <label
                          cFormCheckLabel
                          for="active"
                          style="margin-left: 4px"
                          >Aktif</label
                        >
                      </c-form-check>
                    </c-col>
                    <c-col xs="6">
                      <c-form-check class="flex align-items-center">
                        <input
                          cFormCheckInput
                          id="inactive"
                          type="radio"
                          value="T"
                          name="status"
                          formControlName="statusAktif"
                        />
                        <label
                          cFormCheckLabel
                          for="inactive"
                          style="margin-left: 4px"
                          >Tidak Aktif</label
                        >
                      </c-form-check>
                    </c-col>
                  </c-row>
                </c-col>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Keterangan" | translate
                }}</label>
                <div class="col-sm-8">
                  <textarea
                    cFormControl
                    rows="4"
                    formControlName="keteranganBrg"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="divider"></div>

        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-info text-white btn-150"
            type="submit"
            [disabled]="isSubmitting"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="isSubmitting"></i>
            <span>{{ "Buat" | translate }} {{ "Barang" | translate }}</span>
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
