<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>
            {{ 'Master Branch' | translate }}
          </h5>
        </div>
        <div class="col text-end">
          <button type="button" class="btn btn-success text-white me-2" (click)="actionBtnClick('add')">
            {{ 'Tambah' | translate }}
          </button>
          <button type="button" class="btn btn-primary text-white me-2" [disabled]="!selectedRowData" (click)="actionBtnClick('view')">
            {{ 'Lihat' | translate }}
          </button>
          <button type="button" class="btn btn-warning text-white me-2" [disabled]="!selectedRowData" (click)="actionBtnClick('edit')">
            {{ 'Ubah' | translate }}
          </button>
          <button type="button" class="btn btn-danger text-white me-2" [disabled]="!selectedRowData" (click)="actionBtnClick('delete')">
            {{ 'Hapus' | translate }}
          </button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div>
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          class="row-border hover"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
