<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body class="p-2">
      <div class="row">
        <div class="d-flex col-md-4 align-items-center">
          <h3 style="padding-left: 10px">
            {{ "Master" | translate }} {{ "User" | translate }}
          </h3>
        </div>
        <div class="col col-md-8 justify-content-right text-end">
          <div
            class="menu-purpose col-sm-12 justify-content-end align-items-center"
          >
            <span
              >Master User digunakan untuk melihat daftar akun pengguna sistem,
              termasuk detail peran, status, dan lokasi gudang yang dapat
              diakses.</span
            >
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="d-flex justify-content-end gap-1" style="margin-bottom: 10px">
        <button
          type="button"
          class="w-120 btn btn-secondary text-white me-2"
          style="height: min-content"
          (click)="toggleFilter()"
        >
          {{ "Filter" | translate }}
        </button>
        <button
          *ngIf="hasCreate"
          type="button"
          class="w-120 btn btn-success text-white me-2"
          (click)="actionBtnClick('add')"
        >
          {{ "Tambah" | translate }}
        </button>
        <a
          type="button"
          class="btn w-120 btn-outline-primary me-2"
          href="#/master"
        >
          {{ "Kembali" | translate }}
        </a>
      </div>
      <div [visible]="isFilterShown" cCollapse>
        <c-card class="mb-3">
          <c-card-body>
            <div class="row">
              <div class="col-md-3">
                <label>{{ "Status" | translate }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectStatus"
                    [options]="listStatus"
                    [(ngModel)]="formStatusFilter"
                    (ngModelChange)="onStatusFilterChange()"
                    id="status"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>
              <div class="col-md-3">
                <label>{{ "Default Lokasi" | translate }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectLokasi"
                    [options]="listLokasi"
                    [(ngModel)]="formLokasiFilter"
                    (ngModelChange)="onLokasiFilterChange()"
                    id="lokasi"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>

              <div class="col-md-3">
                <label>{{ "Jabatan" | translate }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectJabatan"
                    [options]="listJabatan"
                    [(ngModel)]="formJabatanFilter"
                    (ngModelChange)="onJabatanFilterChange()"
                    id="jabatan"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>
              <div class="col-md-3">
                <label>{{ "Role" | translate }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectRole"
                    [options]="listRole"
                    [(ngModel)]="formRoleFilter"
                    (ngModelChange)="onRoleFilterChange()"
                    id="role"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>

              <!-- <div class="col-md-4">
                          <label cLabel for="selectedRoleFilter">{{ 'Role' | translate }}:</label>
                          <select
                            aria-label="Role"
                            cSelect
                            id="selectedRoleFilter"
                            [(ngModel)]="selectedRoleFilter"
                            (ngModelChange)="onRoleFilterChange()"
                          >
                            <option value="">{{ 'Semua' | translate }}</option>
                            <option *ngFor="let role of roleOptions" [value]="role.value">
                              {{ role.label | translate }}
                            </option>
                          </select>
                        </div> -->
            </div>
          </c-card-body>
        </c-card>
      </div>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          (page.dt)="dtPageChange($event)"
          class="row-border hover stripe"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
