<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>
            {{ 'Master' | translate }} {{ 'User' | translate }}
          </h5>
        </div>
        <div class="col text-end">
          <button type="button" class="btn btn-success text-white me-2" (click)="actionBtnClick('add')">
            {{ 'Tambah' | translate }}
          </button>
          <button type="button" class="btn btn-primary text-white me-2" [disabled]="!selectedRowData" (click)="actionBtnClick('view')">
            {{ 'Lihat' | translate }}
          </button>
          <button type="button" class="btn btn-warning text-white me-2" [disabled]="!selectedRowData" (click)="actionBtnClick('edit')">
            {{ 'Ubah' | translate }}
          </button>
          <button type="button" class="btn btn-danger text-white me-2" [disabled]="!selectedRowData" (click)="actionBtnClick('delete')">
            {{ 'Hapus' | translate }}
          </button>
          <button type="button" class="btn btn-secondary text-white me-2" (click)="toggleFilter()">
            {{ 'Filter' | translate }}
          </button>
        </div>
      </div>
      <div [visible]="isFilterShown" cCollapse>
        <c-card class="mt-3 shadow">
          <c-card-body>
            <div class="row">
              <div class="col">
                <label cLabel for="selectStatusFilter">{{ 'Status aktif' | translate }}: </label>
                <select aria-label="Status" cSelect id="selectStatusFilter" [(ngModel)]="selectedStatusFilter" (ngModelChange)="onStatusFilterChange()">
                  <option value="">{{ 'Semua' | translate }}</option>
                  <option value="A">{{ 'Aktif' | translate }}</option>
                  <option value="T">{{ 'Tidak aktif' | translate }}</option>
                </select>
              </div>
            </div>
          </c-card-body>
        </c-card>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          (page.dt)="dtPageChange($event)"
          class="row-border hover"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
