<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>
            {{ 'Master' | translate }} {{ 'User' | translate }}
          </h5>
        </div>
        <div class="col text-end">
          <button type="button" class="btn btn-success text-white me-2" (click)="actionBtnClick('add')">
            {{ 'Tambah' | translate }}
          </button>
          <button type="button" class="btn btn-primary text-white me-2" [disabled]="!selectedRowData" (click)="actionBtnClick('view')">
            {{ 'Lihat' | translate }}
          </button>
          <button type="button" class="btn btn-warning text-white me-2" [disabled]="!selectedRowData" (click)="actionBtnClick('edit')">
            {{ 'Ubah' | translate }}
          </button>
          <button type="button" class="btn btn-secondary text-white me-2" (click)="toggleFilter()">
            {{ 'Filter' | translate }}
          </button>
        </div>
      </div>
      <div [visible]="isFilterShown" cCollapse>
        <c-card class="mt-3 shadow">
          <c-card-body>
            <div class="row">
                <div class="col-md-4">
                  <label>{{
                    "Status Aktif" | translate
                  }}</label>
                  <div>
                    <ngx-select-dropdown
                      [multiple]="false"
                      [config]="configSelectStatus"
                      [options]="listStatus"
                      [(ngModel)]="formStatusFilter" 
                      (ngModelChange)="onStatusFilterChange()"
                      id="status">
                    </ngx-select-dropdown>
                  </div>
              </div>
              <div class="col-md-4">
                <label>{{
                  "Default Lokasi" | translate
                }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectLokasi"
                    [options]="listLokasi"
                    [(ngModel)]="formLokasiFilter" 
                    (ngModelChange)="onLokasiFilterChange()"
                    id="lokasi">
                  </ngx-select-dropdown>
                </div>
            </div>

            <div class="col-md-4">
              <label>{{
                "Jabatan" | translate
              }}</label>
              <div>
                <ngx-select-dropdown
                  [multiple]="false"
                  [config]="configSelectJabatan"
                  [options]="listJabatan"
                  [(ngModel)]="formJabatanFilter" 
                  (ngModelChange)="onJabatanFilterChange()"
                  id="jabatan">
                </ngx-select-dropdown>
              </div>
          </div>
          <div class="col-md-4">
            <label>{{
              "Role" | translate
            }}</label>
            <div>
              <ngx-select-dropdown
                [multiple]="false"
                [config]="configSelectRole"
                [options]="listRole"
                [(ngModel)]="formRoleFilter" 
                (ngModelChange)="onRoleFilterChange()"
                id="role">
              </ngx-select-dropdown>
            </div>
        </div>
  

              <!-- <div class="col-md-4">
                <label cLabel for="selectedRoleFilter">{{ 'Role' | translate }}:</label>
                <select
                  aria-label="Role"
                  cSelect
                  id="selectedRoleFilter"
                  [(ngModel)]="selectedRoleFilter"
                  (ngModelChange)="onRoleFilterChange()"
                >
                  <option value="">{{ 'Semua' | translate }}</option>
                  <option *ngFor="let role of roleOptions" [value]="role.value">
                    {{ role.label | translate }}
                  </option>
                </select>
              </div> -->
              
            </div>
          </c-card-body>
        </c-card>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          (page.dt)="dtPageChange($event)"
          class="row-border hover"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
