.table {

  th,
  td {
    text-align: center;
    vertical-align: middle;
  }

  input,
  select {
    width: 100%;
  }
  .btn {

    width: 100%;
  }
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 240px;
  min-width: 240px;
}

.red-line {
  border-right: 3px solid #b51823;
  opacity: 1;
  max-height: auto;
}

.scroll-hover {
  max-height: 30rem;
  overflow-y: hidden;
  scrollbar-gutter: stable;
  /* Menjaga ruang scrollbar agar konten tidak bergeser */
}

.scroll-hover:hover {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: 0 4px 10px rgba(0, 0, 0, 0.1)
}

.c-modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

::ng-deep ngx-select-dropdown .ngx-dropdown-container .ngx-dropdown-list-container .selected-items .selected-item {
  background-color: rgb(133, 0, 0) !important;
  color: white !important;
  border: 1px solid #b51823 !important;
  font-weight: 500 !important;
  padding: 5px 10px !important;
  border-radius: 8px !important;
}
