<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Master" | translate }} {{ "Lokasi" | translate }}</h5>
        </div>
        <div class="col text-end">
          <button
            type="button"
            class="btn btn-secondary text-white me-2"
            (click)="toggleFilter()"
          >
            {{ "Filter" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-success text-white me-2 btn-120"
            (click)="actionBtnClick(CONST_ACTION_ADD)"
          >
            <i class="fa fa-plus pe-1 icon-12" aria-hidden="true"></i>
            {{ "Tambah" | translate }}
          </button>
        </div>
      </div>
      <div [visible]="isFilterShown" cCollapse>
        <c-card class="mt-3 shadow">
          <c-card-body>
            <div class="row">
              <div class="col-md-6">
                <label cLabel for="selectedKotaFilter"
                  >{{ "Kota" | translate }}:</label
                >
                <ngx-select-dropdown
                  [config]="configSelectCity"
                  [multiple]="false"
                  [options]="cityOptions"
                  [(ngModel)]="selectedCityFilter"
                  (ngModelChange)="onCityFilterChange()"
                >
                </ngx-select-dropdown>
                <!-- <select
                  aria-label="Kota"
                  cSelect
                  id="selectedCityFilter"
                  [(ngModel)]="selectedCityFilter"
                  (ngModelChange)="onCityFilterChange()"
                >
                  <option value="">{{ "Semua" | translate }}</option>
                  <option *ngFor="let city of cityOptions" [value]="city.value">
                    {{ city.value }} - {{ city.label | translate }}
                  </option>
                </select> -->
              </div>
              <div class="col-md-6">
                <label cLabel for="selectedtipeCabangFilter"
                  >{{ "RSC" | translate }}:</label
                >
                <ngx-select-dropdown
                  [config]="configSelectRSC"
                  [multiple]="false"
                  [options]="rscOptions"
                  [(ngModel)]="selectedRscFilter"
                  (ngModelChange)="onRscFilterChange()"
                >
                </ngx-select-dropdown>
                <!-- <select
                  aria-label="RSC"
                  cSelect
                  id="selectedRscFilter"
                  [(ngModel)]="selectedRscFilter"
                  (ngModelChange)="onRscFilterChange()"
                >
                  <option value="">{{ "Semua" | translate }}</option>
                  <option *ngFor="let rsc of rscOptions" [value]="rsc.value">
                    {{ rsc.value }} - {{ rsc.label | translate }}
                  </option>
                </select> -->
              </div>
            </div>
          </c-card-body>
        </c-card>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col-sm-12">
          <i
            class="fa fa-exclamation-circle text-center"
            style="font-size: large; color: #3c4b64"
          ></i>
          &nbsp;
          <span class="fw-bold"
            >Master Lokasi digunakan untuk melihat daftar lokasi beserta kode,
            inisial, keterangan, kota, dan RSC yang terkait.
          </span>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          (page.dt)="dtPageChange($event)"
          class="row-border hover"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
