.text-color {
    &-title {
        color: #B51823;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px
    }
}

.btn-order {
    &-information {
        padding: 8px 24px;
        width: 225px;
        height: 44px;
        border: 2px solid hsl(356, 77%, 40%);
        border-radius: 16px;
        color: #B51823;
        font-weight: bold;
    }

    &-item {
        padding: 0px 15px;
        width: 175px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 16px;
        color: gray;
        font-weight: bold;
    }

    &-information:hover {
        color: white;
        background-color: #B51823;
    }

    &-item:hover {
        color: white;
        background-color: gray;
    }
}

.alokasi-text {
    font-weight: 600;
    color: #B51823;
}

.mt-5 {
    margin-top: 5rem;
}

.text-tracking {
    font-weight: bold;
    display: flex;
    font-size: 24px;
    color: #B51823;
}

.tb-color {
    background: #B51823;
    color: white;
}

.btn-xlsx {
    align-items: center;
    padding: 8px 24px;

    width: 143px;
    height: 44px;
    left: 1275px;
    top: 389px;

    /* Active */
    color: white;

    background: #2CB620;
    /* Active */

    border: 2px solid #2CB620;
    border-radius: 16px;
}

.head-menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
    .menu-purpose {
      padding: 12px;
      border: 2px solid #b51823;
      border-radius: 10px;
      max-width: 850px;
      text-align: right;
  
      span {
        color: #B51823;
        font-size: 10px;
        font-weight: 600;
      }
    }
  }

  .hover {
    cursor: pointer;
  }