<div class="fade-in">
  <!-- Header -->
  <c-card class="mb-2">
    <c-card-body>
      <c-row>
        <div
          class="d-grid gap-3 d-md-flex justify-content-start align-items-center"
        >
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
          <h5>{{ "Tambah Penerimaan" | translate }}</h5>
        </div>
      </c-row>
    </c-card-body>
  </c-card>

  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div
          [ngClass]="isShowDetail ? 'col-4' : 'col-5'"
          class="pe-0 d-flex red-line"
        >
          <div class="w-100">
            <div class="p-2">
              <h5 class="mb-2 p-2" style="color: #3c4b64">
                {{ "Isi Format" | translate }}
              </h5>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="nomorPesanan">{{
                    "Nomor Pesanan" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input
                    type="text"
                    placeholder=""
                    class="form-control"
                    id="nomorPesanan"
                    [(ngModel)]="formData.nomorPesanan"
                    name="nomorPesanan"
                  />
                  <button
                    *ngIf="!isShowModal"
                    type="button"
                    class="btn btn-info ms-2"
                    [cModalToggle]="staticBackdropModal.id"
                    (click)="onShowModal()"
                  >
                    <i class="fa fa-search text-white"></i>
                  </button>
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="codeDestination">{{
                    "Gudang Pengirim" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input
                    placeholder=""
                    type="text"
                    class="form-control"
                    id="codeDestination"
                    [ngModel]="
                      formData.codeDestination
                        ? formData.codeDestination + ' - ' + formData.namaCabang
                        : ''
                    "
                    name="codeDestination"
                    readonly
                  />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="alamatPengirim">{{
                    "Alamat Pengirim" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <textarea
                    placeholder=""
                    class="form-control w-100"
                    [(ngModel)]="formData.alamat1"
                    rows="2"
                    name="alamat1"
                    readonly
                  ></textarea>
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="statusAktif">{{
                    "Status Aktif" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input
                    placeholder=""
                    type="text"
                    class="form-control"
                    id="statusAktif"
                    [(ngModel)]="formData.deliveryStatus"
                    name="statusAktif"
                    readonly
                  />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="nomorSuratJalan">{{
                    "Nomor Surat Jalan Pengirim" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex" style="display: flex; flex-direction: column;">
                  <input
                    placeholder=""
                    type="text"
                    class="form-control"
                    id="nomorSuratJalan"
                    [(ngModel)]="formData.nomorSuratJan"
                    name="nomorSuratJalan"
                    pattern="[0-9]*"
                    keypress="return isNumberKey(event)"
                  />
                  <span *ngIf="isDoNumberValid()" class="text-danger">
                    Nomor Surat Jalan Salah
                  </span>
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="tglSuratJalan">{{
                    "Tanggal Surat Jalan" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input
                    type="text"
                    id="tglSuratJalan"
                    class="form-control"
                    aria-describedby="tglSuratJalan"
                    #dp="bsDatepicker"
                    [bsConfig]="dpConfig"
                    [isDisabled]="false"
                    bsDatepicker
                    autocomplete="off"
                    [(ngModel)]="formData.tglPesan"
                    placeholder="{{ '' | translate }}"
                  />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="tglSuratJalan">{{
                    "Tanggal Terima Barang" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input
                    type="text"
                    id="tglTerimaBarang"
                    class="form-control"
                    aria-describedby="tglTerimaBarang"
                    #dp="bsDatepicker"
                    [bsConfig]="dpConfig"
                    [isDisabled]="false"
                    bsDatepicker
                    autocomplete="off"
                    [(ngModel)]="formData.tglBrgDikirim"
                    placeholder="{{ '' | translate }}"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                  />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="notes">{{ "Catatan (Keterangan Lain)" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <textarea
                  placeholder=""
                  type="text"
                  class="form-control"
                  id="keterangan"
                  name="keterangan"
                  [(ngModel)]="formData.notes"
                  (input)="onKeteranganInput()"
                  [class.is-invalid]="isKeteranganInvalid"
                  maxlength="50"
                ></textarea>
            
                <div class="text-end text-muted mt-1">
                  <small>{{ charCount }}/50 karakter</small>
                </div>
            
                <div *ngIf="isKeteranganInvalid" class="text-danger mt-1 fw-bold">
                 HARAP MASUKAN KARAKTER YANG VALID..!!!!
                </div>
                </div>
              </div>

              <div class="p-2">
                <button
                  class="shadow-sm btn w-100 btn-info text-white"
                  *ngIf="!isShowDetail"
                  [disabled]="formData.nomorPesanan === ''"
                  (click)="onAddDetail()"
                >
                  <i class="fa fa-check pe-2"></i>
                  {{ "Detail Transaksi" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Bagian Detail -->
        <div class="ps-0" [ngClass]="isShowDetail ? 'col-8' : 'col-7'">
          <div class="p-2" *ngIf="isShowDetail">
            <app-detail-add-data-gudang
            (onBatalPressed)="onBatalPressed($event)"
            ></app-detail-add-data-gudang>
          </div>
        </div>
      </div>
      <!-- Tutup row -->
    </c-card-body>

    <c-modal
      #formModal
      [fullscreen]="false"
      [visible]="isShowModal"
      [backdrop]="true"
      #modalLg
      size="xl"
      id="formModal"
    >
      <c-modal-header>
        <h5 cModalTitle>Daftar Pesanan Ke Gudang</h5>
        <button
          (click)="isShowModal = false"
          type="button"
          class="btn btn-primary ms-2"
          [cModalToggle]="formModal.id"
          cButtonClose
        >
          <i class="fa fa-times"></i>
        </button>
      </c-modal-header>
      <c-modal-body>
        <div class="table-responsive">
          <table
            datatable
            [dtOptions]="dtOptions"
            class="row-border hover stripe w-100"
          ></table>
        </div>
      </c-modal-body>
    </c-modal>
  </c-card>

  <!-- Modal Pilih Pesanan -->
  <c-modal
    #staticBackdropModal
    [visible]="isShowModal"
    backdrop="static"
    id="staticBackdropModal"
    size="xl"
  >
    <c-modal-header>
      <h5 cModalTitle>Daftar Pesanan Ke Gudang</h5>
      <button
        (click)="isShowModal = false"
        type="button"
        class="btn btn-info ms-2"
        [cModalToggle]="staticBackdropModal.id"
        cButtonClose
      >
        <i class="fa fa-times text-white"></i>
      </button>
    </c-modal-header>

    <c-modal-body>
      <c-card class="mb-4">
        <c-card-body>
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable row-border hover stripe w-100"
              >
            <!-- <thead class="table-header"> </thead> -->
            </table>
          </div>
        </c-card-body>
      </c-card>
    </c-modal-body>
  </c-modal>

  <!-- Modal Backdrop -->
  <div class="modal-bg-backdrop" *ngIf="isShowModal"></div>
</div>

<div class="fade-in">
  <app-modal-print-list
    [alreadyPrint]="alreadyPrint"
    [disabledPrintButton]="disabledPrintButton"
    [generatePdfUrl]="'/cetak-pemakaian-sendiri'"
    [updateStatusUrl]="''"
    [updatePrintStatusParam]="''"
    [generateReportParam]="paramGenerateReport"
    [isShowModalReport]="isShowModalReport"
    [isShowSelection]="true"
    (closeModalEvent)="closeModal()"
  >
  </app-modal-print-list>
</div>
