:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #999);
    --scrollbar-track-color: var(--cui-body-color, #fff);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

:host ::ng-deep c-sidebar-nav.sidebar-nav > c-sidebar-nav-link > a,
:host ::ng-deep c-sidebar-nav.sidebar-nav > c-sidebar-nav-group > a {
  margin-left: -10px;
}

// :host ::ng-deep c-sidebar-nav.sidebar-nav c-sidebar-nav-group{
//   margin-left: -10px;
//   background-color: purple;
// }

:host ::ng-deep .sidebar-nav .nav-group-items .nav-group-items .nav-link {
  padding-left: 100px !important;
  font-size: 15px;
}

:host ::ng-deep .sidebar-nav .nav-group-items .nav-link {
  padding-left: 75px !important;
  font-size: 15px;
  white-space: normal !important;
  word-wrap: break-word !important; /* For older browsers */
  overflow-wrap: break-word !important; /* Modern alternative */
  max-width: 100%; /* Ensures it doesn't extend past the container */
}

:host ::ng-deep .sidebar-nav .nav-group-items .nav-link .nav-icon {
  margin-right: -11px !important;
}

:host
  ::ng-deep
  .sidebar-nav
  .nav-group-items
  .nav-group-items
  .nav-link
  .nav-icon {
  margin-right: -11px !important;
}

:host ::ng-deep .sidebar-nav .nav-link:not(.active) {
  color: rgba(255, 255, 255, 1);
}

:host ::ng-deep c-sidebar-nav-group,
:host ::ng-deep c-sidebar-nav-link {
  border-bottom: 1px solid white !important;
}

:host ::ng-deep .show .nav-group-toggle,
:host ::ng-deep .sidebar-nav .nav-link.active {
  background: rgb(0, 0, 55);
  font-weight: 700;
  color: #fff !important;
}

.g-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1050;
}

.bg-loading-container {
  background: rgba(0, 0, 0, 0.8);
}

.ws-notification {
  background-color: rgb(235, 237, 239);
  border: 1px solid #000037;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.ws-notification-wrapper {
  position: fixed;
  bottom: 48px;
  right: 24px;
  z-index: 1070;
  min-width: 350px;
  max-width: 350px;
}

.ws-notification-wrapper.left-half {
  right: 24px;
  left: auto;
}

.ws-notification-wrapper.right-half {
  right: auto;
  left: 24px;
}
