<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Master" | translate }} {{ "Cabang" | translate }}</h5>
        </div>
        <div class="col text-end btn-160">
          <button
            type="button"
            class="btn btn-secondary text-white me-2"
            (click)="toggleFilter()"
          >
            {{ "Filter" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-success text-white me-2"
            (click)="actionBtnClick(CONST_ACTION_ADD)"
          >
            <!-- <i class="fa fa-plus pe-1 icon-12" aria-hidden="true"></i> -->
            {{ "Tambah" | translate }}
            <!-- {{ "Cabang" | translate }} -->
          </button>
        </div>
      </div>
      <div [visible]="isFilterShown" cCollapse>
        <c-card class="mt-3 shadow">
          <c-card-body>
            <div class="row">
              <div class="col-md-4">
                <label>{{ "Status Aktif" | translate }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectStatus"
                    [options]="listStatus"
                    [(ngModel)]="formStatusFilter"
                    (ngModelChange)="onStatusFilterChange()"
                    id="status"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>

              <div class="col-md-4">
                <label>{{ "RSC" | translate }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectRsc"
                    [options]="listRsc"
                    [(ngModel)]="formRscFilter"
                    (ngModelChange)="onRscFilterChange()"
                    id="RSC"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>

              <div class="col-md-4">
                <label>{{ "Kota" | translate }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectKota"
                    [options]="listKota"
                    [(ngModel)]="formKotaFilter"
                    (ngModelChange)="onKotaFilterChange()"
                    id="Kota"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>
              <div class="col-md-4">
                <label>{{ "Group" | translate }}</label>
                <div>
                  <ngx-select-dropdown
                    [multiple]="false"
                    [config]="configSelectGroup"
                    [options]="listGroup"
                    [(ngModel)]="formGroupFilter"
                    (ngModelChange)="onGroupFilterChange()"
                    id="Kota"
                  >
                  </ngx-select-dropdown>
                </div>
              </div>

              <!-- <div class="col-md-4">
                <label cLabel for="selectedtipeCabangFilter">{{ 'Group' | translate }}:</label>
                <select
                  aria-label="Group"
                  cSelect
                  id="selectedKodeGroupFilter"
                  [(ngModel)]="selectedKodeGroupFilter"
                  (ngModelChange)="onStatusFilterChange()"
                >
                  <option value="">{{ 'Semua' | translate }}</option>
                  <option *ngFor="let kodeGroup of kodeGroupOptions" [value]="kodeGroup.value">
                    {{ kodeGroup.value }} - {{ kodeGroup.label | translate }}
                  </option>
                </select>
              </div>      -->
            </div>
          </c-card-body>
        </c-card>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col-sm-12">
          <i
            class="fa fa-exclamation-circle text-center"
            style="font-size: large; color: #3c4b64"
          ></i>
          &nbsp;
          <span class="fw-bold"
            >Master Cabang digunakan untuk melihat dan mengelola daftar cabang
            beserta detail informasi dan statusnya.</span
          >
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          (page.dt)="dtPageChange($event)"
          class="row-border hover"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
