<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Proses DO Balik" | translate }}</h5>
        </div>
        <div class="col col-md-8">
          <div class="menu-purpose col-sm-12 d-flex justify-content-end align-items-center">
            <span>
              Program ini digunakan untuk memproses do balik pengiriman            
            </span>
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="d-flex justify-content-end gap-1" style="margin-bottom: 10px">
        <div class="col text-end">
          <button
            type="button"
            class="btn btn-outline-dark me-2 btn-120"
            (click)="toggleFilter()"
          >
            <i class="fa fa-filter icon-gap" aria-hidden="true"></i>
            {{ "Filter" | translate }}
          </button>
        </div>
      </div>
      <div [visible]="showFilterSection" cCollapse>
        <div class="row" style="margin-top: -16px">
          <c-card-body>
            <c-row>
              <c-col cols="12" md="6">
                <label class="col-form-label">{{
                  "Tanggal Pengiriman" | translate
                }}</label>
                <input
                  type="text"
                  id="dateFilter"
                  class="form-control"
                  bsDaterangepicker
                  [bsConfig]="dpConfig"
                  aria-describedby="dateFilter"
                  [(ngModel)]="dateRangeFilter"
                  #dp="bsDaterangepicker"
                  placeholder="{{ 'Tanggal Pengiriman' | translate }}"
                />
              </c-col>
              <c-col
                xs="6"
                class="text-right d-flex align-items-end justify-content-end"
              >
                <button
                  type="button"
                  class="btn btn-outline-success me-2 btn-160"
                  (click)="onFilterPressed()"
                >
                  {{ "Terapkan Filter" | translate }}
                </button>
              </c-col>
            </c-row>
          </c-card-body>
        </div>
      </div>
      <div class="divider"></div>
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" (page.dt)="dtPageChange($event)" class="row-border hover stripe"></table>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">

  <c-card class="c-card" *ngIf="selectedRowData">
    <c-card-body>
      <div class="row p-2 justify-content-end">
        <div class="col-6">
          <div class="w-100 mb-2">
            <label for="alamatTujuan" class="form-label">{{ "Alamat" | translate }}</label>
            <input type="text" disabled placeholder="Alamat 1" class="form-control" id="nomorPesanan"
              [(ngModel)]="selectedRowData.alamatTujuan" name="alamatTujuan" />
          </div>
          <div class="w-100 mb-2">
            <label for="alamat1" class="form-label">{{ "Keterangan" | translate }}</label>
            <input type="text" disabled placeholder="Keterangan" class="form-control" id="nomorPesanan"
              [(ngModel)]="selectedRowData.keterangan" name="keterangan" />
          </div>
        </div>
        <div class="col-6">
          <div class="row justify-content-end">
            
            <div class="col-4"></div>
            <div class="col-4">
              <div class="w-100 mb-2">
                <label for="userCreate" class="form-label">{{ "User Create" | translate }}</label>
                <input type="text" disabled placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.userCreate" name="userCreate" />
              </div>
  
              <div class="w-100 mb-2">
                <label for="dateCreate" class="form-label">{{ "Date Create" | translate }}</label>
                <input type="text" disabled placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.dateCreate" name="dateCreate" />
              </div>
  
              <!-- <div class="w-100 mb-2">
                <label for="timeCreate" class="form-label">{{ "Time Create" | translate }}</label>
                <input type="text" disabled placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.timeCreate" name="timeCreate" />
              </div> -->
            </div>
            <div class="col-4">
              <div class="w-100 mb-2">
                <label for="userPosted" class="form-label">{{ "User Posted" | translate }}</label>
                <input type="text" disabled placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.userPosted" name="userPosted" />
              </div>
  
              <div class="w-100 mb-2">
                <label for="datePosted" class="form-label">{{ "Date Posted" | translate }}</label>
                <input type="text" disabled placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.datePosted" name="datePosted" />
              </div>
  
              <!-- <div class="w-100 mb-2">
                <label for="timePosted" class="form-label">{{ "Time Posted" | translate }}</label>
                <input type="text" disabled placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.timePosted" name="timePosted" />
              </div> -->
            </div>
          </div>
          
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>


<c-modal #formModalKirim [fullscreen]="false" [visible]="isShowModalPosting" backdrop="static" #modalLg  size="lg"
id="formModalKirim"    [attr.aria-hidden]="!isShowModalPosting" *ngIf="isShowModalPosting">
  <c-modal-header>
    <h5 cModalTitle>Konfirmasi Kirim Data Pesanan</h5>
    <button (click)="isShowModalPosting = false" type="button" class="btn btn-primary ms-2" [cModalToggle]="formModalKirim.id"
      cButtonClose><i class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <div >
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Tujuan / Pemesan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              [value]="(selectedRowData?.kodeTujuan|| '') + ' - '+(selectedRowData?.namaCabang) "
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Nomor Pesanan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              [value]="(selectedRowData?.nomorPesanan || '')"              
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Nomor Surat Jalan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              readonly
              [value]="selectedRowData?.noSuratJalan"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Pesan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              readonly
              [value]="selectedRowData?.tglPesanan"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Brg. Dikirim" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              readonly
              [value]="selectedRowData.tglTransaksi"
            />
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <span class="fw-bold text-center text-red">Pastikan Data Tersebut yang Akan di POSTING...!!</span>
          <span class="fw-bold text-center text-red">Akan merubah status Intransi menjadi POSTED, dan mengurangi stock Intransit..!!</span>
        </div>
        
      </div>
    </c-modal-body>
    <c-modal-footer class="justify-center">
      <button type="button" class="btn btn-success text-white  w-180" (click)="onProsesDoBalik(selectedRowData)"><i class ="fa fa-check pe-2"></i>Proses Posting</button>
      <button type="button" class="btn btn-light w-180 me-3" data-bs-dismiss="modal" (click)="isShowModalPosting = false">Batal Proses</button>
    </c-modal-footer>
</c-modal>