<div class="fade-in">
  <!-- Header -->
  <c-card class="mb-2">
    <c-card-body>
      <c-row>
        <div class="d-grid gap-3 d-md-flex justify-content-start align-items-center">
          <h5>{{ "Revisi Surat Jalan Gudang (D.O)" | translate }}</h5>
        </div>
      </c-row>
    </c-card-body>
  </c-card>

  <c-card class="mb-4">
    <c-card-body>
      <div class="row" *ngIf="!isShowDetail">
        <div [ngClass]="isShowDetail ? 'col-3' : 'col-5'" class="pe-0 d-flex red-line">
          <div class="w-100">
            <div class="p-2">
              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="nomorSuratJalan">{{
                    "Nomor Surat Jalan Gudang (D.O)" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" class="form-control" id="nomorSuratJalanGudang" [(ngModel)]="formData.noSuratJalan"
                    name="nomorSuratJalanGudang" readonly />
                  <button *ngIf="!isShowDetail" type="button" class="btn btn-info ms-2"
                    [cModalToggle]="staticBackdropModal.id" (click)="onShowModal()" readonly>
                    <i class="fa fa-search text-white"></i>
                  </button>
                </div>
              </div>

              <div class="divider"></div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="tglSuratJalan">{{
                    "Tanggal Surat Jalan (D.O)" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" id="tglTransaksi" class="form-control" aria-describedby="tglTransaksi"
                    #dp="bsDatepicker" [bsConfig]="dpConfig" disabled bsDatepicker autocomplete="off"
                    [(ngModel)]="formData.tglTransaksi" style="pointer-events: none" />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="codeDestination">{{
                    "Tujuan Kirim" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <textarea class="form-control w-100"
                    [value]="formData.kodeTujuan? formData.kodeTujuan + ' - ' + formData.namaTujuan : ''" rows="2"
                    name="alamatTujuan" disabled></textarea>
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="alamatPengirim">{{
                    "Alamat Tujuan" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <textarea class="form-control w-100" [value]="formData.alamatTujuan + ', ' + formData.alamat2" rows="2" name="alamatTujuan"
                    disabled></textarea>
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="statusProsesDoBalik">{{
                    "Kota" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" class="form-control" id="statusPosting"
                    [value]="formData.kota" name="statusPosting" disabled />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="statusProsesDoBalik">{{
                    "Status Proses D.O Balik" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" class="form-control" id="statusPosting"
                    [value]="globalService.getStatusOrderLabel(formData.statusDoBalik, true) " name="statusPosting" disabled />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="tglSuratJalan">{{
                    "Tanggal Pesanan" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" id="tglPesanan" class="form-control" aria-describedby="tglPesanan"
                    #dp="bsDatepicker" [bsConfig]="dpConfig" disabled bsDatepicker autocomplete="off"
                    [(ngModel)]="formData.tglTransaksi" [minDate]="minDate" [maxDate]="maxDate"
                    style="pointer-events: none" />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="nomorPesanan">{{
                    "Nomor Pesanan" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex" style="display: flex; flex-direction: column;">
                  <input type="text" class="form-control" id="nomorPesanan" [(ngModel)]="formData.nomorPesanan"
                    name="nomorPesanan" pattern="[0-9]*" keypress="return isNumberKey(event)" disabled />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="keterangan">{{ "Keterangan Kirim" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <textarea class="form-control w-100" [(ngModel)]="formData.keterangan"
                    id="exampleFormControlTextarea1" rows="1" name="keterangan1" disabled></textarea>
                </div>
              </div>

              <div class="p-2">
                <button class="shadow-sm btn w-100 btn-info text-white" *ngIf="!isShowDetail"
                  [disabled]="formData.nomorPesanan === ''" (click)="onAddDetail()">
                  <i class="fa fa-check pe-2"></i>
                  {{ "Detail Transaksi" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Bagian Detail -->
        <div class="ps-0" [ngClass]="isShowDetail ? 'col-9' : 'col-7'">
          <div class="p-2" *ngIf="isShowDetail">
            <app-revisi-do-edit></app-revisi-do-edit>
          </div>
          <div class="p-2" *ngIf="!isShowDetail">
            <div class="w-100 px-2 fst-italic">
              <span class="text-danger d-block fw-semibold">Kondisi:</span>
              <span class="d-block ms-2">- Program Revisi dijalankan, jika ada jumlah/qty yang dikirim tidak sesuai dengan
                fisik barang yang diterima oleh pemesan.</span>
              <span class="d-block ms-2">- Hanya bisa dilakukan, jika tanggal Surat Jalan (tanggal pengiriman dari gudang),
                masih dalam hari yang sama.</span>
            </div>
          </div>

        </div>
      </div>


      <!-- JIKA DETAIL TRANSAKSI -->
      <div class="row" *ngIf="isShowDetail">
        <div [ngClass]="isShowDetail ? 'col-3' : 'col-5'" class="pe-0 d-flex red-line">
          <div class="w-100">
            <div class="p-2">
              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="nomorPesanan">{{
                    "Nomor Pesanan" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex" style="display: flex; flex-direction: column;">
                  <input type="text" class="form-control" id="nomorPesanan" [(ngModel)]="formData.nomorPesanan"
                    name="nomorPesanan" pattern="[0-9]*" keypress="return isNumberKey(event)" disabled />
                </div>
              </div>
              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="nomorSuratJalan">{{
                    "Nomor Surat Jalan" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" class="form-control" id="nomorSuratJalanGudang" [(ngModel)]="formData.noSuratJalan"
                    name="nomorSuratJalanGudang" readonly />
                  <button *ngIf="!isShowDetail" type="button" class="btn btn-info ms-2"
                    [cModalToggle]="staticBackdropModal.id" (click)="onShowModal()" readonly>
                    <i class="fa fa-search text-white"></i>
                  </button>
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="tglSuratJalan">{{
                    "Tanggal Pesanan" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" id="tglPesanan" class="form-control" aria-describedby="tglPesanan"
                    #dp="bsDatepicker" [bsConfig]="dpConfig" disabled bsDatepicker autocomplete="off"
                    [(ngModel)]="formData.tglTransaksi" [minDate]="minDate" [maxDate]="maxDate"
                    style="pointer-events: none" />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="tglSuratJalan">{{
                    "Tanggal Kirim Barang" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" id="tglTransaksi" class="form-control" aria-describedby="tglTransaksi"
                    #dp="bsDatepicker" [bsConfig]="dpConfig" disabled bsDatepicker autocomplete="off"
                    [(ngModel)]="formData.tglTransaksi" style="pointer-events: none" />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="codeDestination">{{
                    "Tujuan Kirim" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" class="form-control" id="nomorPesanan" [(ngModel)]="formData.kodeTujuan"
                    name="nomorPesanan" pattern="[0-9]*" keypress="return isNumberKey(event)" disabled />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="codeDestination">{{
                    "Nama Tujuan" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" class="form-control" id="nomorPesanan" [(ngModel)]="formData.namaTujuan"
                    name="nomorPesanan" pattern="[0-9]*" keypress="return isNumberKey(event)" disabled />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="keterangan">{{ "Catatan / Keterangan" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" class="form-control" id="statusPosting"
                    [value]="formData.keterangan" name="statusPosting" disabled />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="statusProsesDoBalik">{{
                    "Status Transaksi" | translate
                    }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input type="text" class="form-control fw-semibold" id="statusPosting"
                    [value]="globalService.getStatusOrderLabel(formData.statusPosting) " name="statusPosting" disabled />
                </div>
              </div>

              <div class="p-2">
                <button class="shadow-sm btn w-100 btn-info text-white" *ngIf="!isShowDetail"
                  [disabled]="formData.nomorPesanan === ''" (click)="onAddDetail()">
                  <i class="fa fa-check pe-2"></i>
                  {{ "Detail Transaksi" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Bagian Detail -->
        <div class="ps-0" [ngClass]="isShowDetail ? 'col-9' : 'col-7'">
          <div class="p-2" *ngIf="isShowDetail">
            <app-revisi-do-edit></app-revisi-do-edit>
          </div>
          <div class="p-2" *ngIf="!isShowDetail">
            <div class="w-100 px-2 fst-italic">
              <span class="text-danger d-block fw-semibold">Kondisi:</span>
              <span class="d-block ms-2">- Program Revisi dijalankan, jika ada jumlah/qty yang dikirim tidak sesuai dengan
                fisik barang yang diterima oleh pemesan.</span>
              <span class="d-block ms-2">- Hanya bisa dilakukan, jika tanggal Surat Jalan (tanggal pengiriman dari gudang),
                masih dalam hari yang sama.</span>
            </div>
          </div>

        </div>
      </div>
      <!-- Tutup row -->
    </c-card-body>
  </c-card>

  <!-- Modal Pilih Pesanan -->
  <c-modal #staticBackdropModal [visible]="isShowModal" backdrop="static" id="staticBackdropModal" size="xl">
    <c-modal-header>
      <h5 cModalTitle>Daftar Pengiriman Barang</h5>
      <button (click)="isShowModal = false" type="button" class="btn btn-info ms-2"
        [cModalToggle]="staticBackdropModal.id" cButtonClose>
        <i class="fa fa-times text-white"></i>
      </button>
    </c-modal-header>

    <c-modal-body>
      <c-card class="mb-4 ">
        <c-card-body>
          <div class="table-responsive mt-2">
            <table datatable [dtOptions]="dtOptions" class="row-border hover stripe w-100"></table>
          </div>
        </c-card-body>
      </c-card>
    </c-modal-body>
  </c-modal>

  <!-- Modal Backdrop -->
  <div class="modal-bg-backdrop" *ngIf="isShowModal"></div>
</div>