<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Kirim Pesanan Ke Gudang" | translate }}</h5>
        </div>
        <div class="col col-md-8">
          <div class="menu-purpose col-sm-12 d-flex justify-content-end align-items-center">
            <span>
              Program ini digunakan untuk mengirim pesanan ke gudang lain            
            </span>
          </div>
        </div>
        
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="d-flex justify-content-end gap-1" style="margin-bottom: 10px">
        <div class="col text-end">
          <button
            type="button"
            class="btn btn-outline-dark me-2 btn-120"
            (click)="toggleFilter()"
          >
            <i class="fa fa-filter icon-gap" aria-hidden="true"></i>
            {{ "Filter" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-success text-white me-2 btn-240"
            data-toggle="modal"
            (click)="onAddPressed()"
          >
            <i class="fa fa-plus pe-1 icon-12 icon-gap" aria-hidden="true"></i>
            {{ "Tambah Pesanan" | translate }}
          </button>
          <a
            type="button"
            class="btn w-120 btn-outline-primary me-2"
            href="#/order/order"
          >
            {{ "Kembali" | translate }}
          </a>
        </div>
      </div>
      <div [visible]="showFilterSection" cCollapse>
        <div class="row" style="margin-top: -16px">
          <c-card-body>
            <c-row>
              <c-col cols="12" md="6">
                <label class="col-form-label">{{
                  "Tanggal Pesan" | translate
                }}</label>
                <input
                  type="text"
                  id="dateFilter"
                  class="form-control"
                  bsDaterangepicker
                  [bsConfig]="dpConfig"
                  aria-describedby="dateFilter"
                  [(ngModel)]="dateRangeFilter"
                  #dp="bsDaterangepicker"
                  placeholder="{{ 'Tanggal Pesan' | translate }}"
                />
              </c-col>
              <c-col
                xs="6"
                class="text-right d-flex align-items-end justify-content-end"
              >
                <button
                  type="button"
                  class="btn btn-outline-success me-2 btn-160"
                  (click)="onFilterPressed()"
                >
                  {{ "Terapkan Filter" | translate }}
                </button>
              </c-col>
            </c-row>
          </c-card-body>
        </div>
      </div>
      <div class="divider"></div>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          class="row-border hover stripe"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>

<c-modal #formModalKirim [fullscreen]="false" [visible]="isShowModalKirim" backdrop="static" #modalLg  size="lg"
id="formModalKirim"    [attr.aria-hidden]="!isShowModalKirim">
  <c-modal-header>
    <h5 cModalTitle>Konfirmasi Kirim Data Pesanan</h5>
    <button (click)="isShowModalKirim = false" type="button" class="btn btn-primary ms-2" [cModalToggle]="formModalKirim.id"
      cButtonClose><i class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <div >
        <div class="mb-1 row">
          <label class="col-sm-3 col-form-label">{{
            "Tujuan Pesanan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              [value]="(selectedRowKirim?.supplier || '') + ' - '+(selectedRowKirim?.namaSupplier || '') "
              readonly
            />
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-3 col-form-label">{{
            "Nomor Pesanan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              [value]="(selectedRowKirim?.nomorPesanan || '')"              
              readonly
            />
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Pesan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="g.formatStrDateMMM(selectedRowKirim?.tglPesanan) || ''"
            />
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Brg. Dikirim" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="g.formatStrDateMMM(selectedRowKirim?.tglKirimBrg) || ''"
            />
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Batal Pesanan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="g.formatStrDateMMM(selectedRowKirim?.tglBatalExp) || ''"
            />
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-3 col-form-label">{{
            "Keterangan 1 " | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="(selectedRowKirim?.keterangan1 || '')" 
            />
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-3 col-form-label">{{
            "Keterangan 2" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="(selectedRowKirim?.keterangan2 || '')" 
            />
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <span class="fw-bold text-center text-red">Pastikan Semua Data Sudah Benar ...!!</span>
          <span class="fw-bold text-center text-red">Data yang sudah dikirim tidak dapat dirubah kembali...!!</span>
        </div>
        
      </div>
    </c-modal-body>
    <c-modal-footer class="justify-center">
      <button type="button" class="btn btn-light w-180 me-3" data-bs-dismiss="modal" (click)="isShowModalKirim = false">Close</button>
      <button type="button" class="btn btn-success text-white  w-180" (click)="updateStatus()">Proses kirim Data</button>
    </c-modal-footer>
</c-modal>

<c-modal #formModalDelete [fullscreen]="false" [visible]="isShowModalCetak" backdrop="static" #modalLg 
id="formModalDelete"    [attr.aria-hidden]="!isShowModalCetak">
  <c-modal-header>
    <h5 cModalTitle>Konfirmasi Cetak</h5>
    <button (click)="isShowModalCetak = false" type="button" class="btn btn-primary ms-2" [cModalToggle]="formModalDelete.id"
      cButtonClose><i class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <p class="text-center">Apakah anda ingin mencetak data?</p>
    <div class="d-flex justify-center py-2">
      <button class="btn btn-light  w-90 me-3"  (click)="isShowModalCetak = false">Tidak</button>
      &nbsp;
      <button class="btn btn-primary text-white w-90" (click)="onClickPrint()">Iya</button>
    </div>
  </c-modal-body>
</c-modal>


<div class="fade-in">
  <app-modal-print-list
    [alreadyPrint]="alreadyPrint"
    [disabledPrintButton]="disabledPrintButton"
    [generatePdfUrl]="'/api/send-order-to-warehouse/report'"
    [updateStatusUrl]="'/api/send-order-to-warehouse/update-status-cetak'"
    [updatePrintStatusParam]="paramUpdatePrintStatus"
    [generateReportParam]="paramGenerateReport"
    [isShowModalReport]="isShowModalReport"
    [isShowSelection]="false"
    (closeModalEvent)="closeModal()"
  >
  </app-modal-print-list>
</div>