
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <c-row>
        <div class="d-grid gap-3 d-md-flex justify-content-start align-items-center">
          <button class="btn btn-light btn-120" (click)="onBackPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
          <h5>{{ "Detail Barang Terima Retur Dari Site" | translate }}</h5>
        </div>       
      </c-row>
    </c-card-body>
  </c-card>
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col"></div>
        <div class="col text-end">
          <app-print-button
          [alreadyPrint]="alreadyPrint"
          [disabledPrintButton]="disabledPrintButton"
          [generatePdfUrl]="'/cetak-terima-barang-retur-dari-site-jasper'"
          [updateStatusUrl]="''"
          [updatePrintStatusParam]="''"
          [generateReportParam]="paramGenerateReport"
          (reloadTable)="reloadTable()"
        ></app-print-button>
        </div>
        <div class="divider mt-4"></div>
        <div class="col">
          <div class="row order-details">
            <div class="detail-item">
              <span class="label">{{ "Nomor Transaksi" | translate }}</span>
              <span class="value">: {{ selectedProduction.nomorTransaksi }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Tanggal Transaksi" | translate }}</span>
              <span class="value">: {{ selectedProduction.tglTransaksi }}</span> 
            </div>
            <div class="detail-item">
              <span class="label">{{ "Status Transaksi" | translate }}</span>
              <span class="value">: {{ selectedProduction.namaPosting }}</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row order-details">
            <div class="detail-item">
              <span class="label">{{ "Kode Pengirim" | translate }}</span>
              <span class="value">: {{ selectedProduction.kodePengirim }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Nama Pengirim" | translate }}</span>
              <span class="value">: {{ selectedProduction.namaPengirim }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Catatan / Keterangan" | translate }}</span>
              <span class="value">: {{ selectedProduction.keterangan }}</span>
            </div>
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          class="row-border hover stripe"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>

<c-modal
  #staticBackdropModal
  [visible]="isShowModal"
  backdrop="static"
  id="staticBackdropModal"
  size="xl"
>
  <c-modal-header>
    <h5 cModalTitle>History Data Expired</h5>
    <button
      (click)="closeModal($event)"
      type="button"
      class="btn btn-info ms-2"
      [cModalToggle]="staticBackdropModal.id"
      cButtonClose
    >
      <i class="fa fa-times text-white"></i>
    </button>
  </c-modal-header>

  <c-modal-body>
    <c-row class="mb-3">
      <label cLabel="col" cCol [sm]="2" for="inputEmail3">
        Kode dan Nama Barang
      </label>
      <c-col [sm]="6">
        <input cFormControl id="inputEmail3" type="text" [value]="formExpiredData.kodeNamaBarang" readonly />
      </c-col>
    </c-row>
    
    <c-row class="mb-3">
      <label cLabel="col" cCol [sm]="2" for="inputEmail3">
        Konversi Barang
      </label>
      <c-col [sm]="6">
        <input cFormControl id="inputEmail3" type="text" [value]="formExpiredData.konversi" readonly />
      </c-col>
    </c-row>
    
    <c-row class="mb-3">
      <label cLabel="col" cCol [sm]="2" for="inputEmail3">
        Quantity Besar
      </label>
      <c-col [sm]="6">
        <input cFormControl id="inputEmail3" type="text" [value]="formExpiredData.qtyBesar" readonly />
      </c-col>
    </c-row>
    
    <c-row class="mb-3">
      <label cLabel="col" cCol [sm]="2" for="inputEmail3">
        Quantity Kecil
      </label>
      <c-col [sm]="6">
        <input cFormControl id="inputEmail3" type="text" [value]="formExpiredData.qtyKecil" readonly />
      </c-col>
    </c-row>
    
    <c-row class="mb-3">
      <label cLabel="col" cCol [sm]="2" for="inputEmail3">
        TOTAL QTY
      </label>
      <c-col [sm]="6">
        <input cFormControl id="inputEmail3" type="text" [value]="formExpiredData.totalQty" readonly />
      </c-col>
    </c-row>
    <c-card class="mb-2">
      <c-card-body>
        <div class="table-responsive" *ngIf="dtOptionsExpired">
          <table
            datatable
            [dtOptions]="dtOptionsExpired"
            [dtTrigger]="dtTriggerExpired"
            class="datatable row-border hover stripe w-100"
            id="tableIdExpired"
          ></table>
        </div>              
      </c-card-body>
    </c-card>
  </c-modal-body>
</c-modal>


