.order-details {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.label {
  font-weight: bold;
  width: 30%;
  /* Adjust width as needed */
  text-align: left;
  padding-right: 10px;
}

.value {
  width: 70%;
  /* Adjust width as needed */
  text-align: left;
  padding-left: 10px;
}

.input-column {
  width: 160px;

  .inputQty {
    width: 70px;
  }

  .inputNumberSpace input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin-left: 0.5em;
  }

  .inputNumberSpace input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .inputNumberSpace input[type='number'] {
    width: 6em;
    text-align: right;
  }
}

.form-invalid {
  border: 1px solid red;  /* Merahkan border input */
}


.swal2-popup.custom-popup {
  border: 1px solid #d33;
  border-radius: 6px;
}

.swal-actions-gap {
  display: flex !important;
  justify-content: center;
  gap: 15px; /* Atur sesuai kebutuhan */
}

::ng-deep #myTable thead {
  background-color: #3c4b64; /* hijau */
  color: white;
}
