<c-card class="mb-4">
  <c-card-body class="w-100">
    <div class="row justify-content-between mb-2">
      <div class="col-6 d-flex align-items-center">
        <div class="col-4 ">
          <label for="jabatanSaksi">{{ "Jumlah Item Pesanan" | translate }}</label>
        </div>
        <div class="col-2 pe-0">
          <input type="text" class="form-control text-center" [value]="listOrderData.length" disabled />
        </div>
        <div class="col"></div>

      </div>
      <div class="col-2"></div>
      <div class="col-4 d-flex justify-content-end">
        <c-input-group>
          <span cInputGroupText id="basic-addon1"><i class="fa fa-search"></i></span>
          <input #listViewOrders id="appendedInputButton" [(ngModel)]="searchListViewOrder" class="form-control"
            size="16" type="text" placeholder="Search..." (ngModelChange)="onFilterTextChange($event)">
        </c-input-group>

      </div>
    </div>
    <div class="table-responsive">
      <ng-container>
        <div *ngIf="loading">
          <app-loading></app-loading>
        </div>
        <table *ngIf="filteredList as list" bordered [hover]="true" [responsive]="true" [striped]="true" align="middle"
          cTable class="mb-0 border">
          <thead>
            <tr>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                class="text-center align-items-start" rowspan="2">Kode</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                class="text-center align-items-start" rowspan="3">Nama
                Barang</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                class="text-center align-items-start" rowspan="2">
                Total Qty Pesan</th>
              <th scope="col" style="background-color: #e55353; color:white; vertical-align: middle;"
                class="text-center align-items-start btn-danger" colspan="2">Qty
                Kirim</th> <!-- Masih sejajar -->
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                class="text-center align-items-start" rowspan="2">
                Konversi Gudang</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                class="text-center align-items-start" rowspan="2">
                Total Qty Kirim
              </th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                class="text-center align-items-start" rowspan="2">
                Selisih <div class="text-warning">Pesan - Kirim</div>
              </th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                class="text-center align-items-start" rowspan="2">
                Isi Qty Expired
              </th>
              <th scope="col" style="background-color: #e55353; color:white; vertical-align: middle;"
                class="text-center align-items-start btn-danger" rowspan="2">Total Qty Expired</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                class="text-center align-items-start btn-danger" rowspan="2">Stock </th>

            </tr>
            <tr>
              <th scope="col" class="text-center"
                style="background-color: #3c4b64; color:white; vertical-align: middle; ">Besar</th>
              <th scope="col" class="text-center"
                style="background-color: #3c4b64; color:white; vertical-align: middle;">Kecil</th>
            </tr>
          </thead>
          <tbody *ngIf="!list || list.length === 0">
            <tr>
              <td colspan="8" scope="col" class="text-center">
                No Data Found
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let data of list | paginate: {
                itemsPerPage: 5,
                currentPage: listCurrentPage,
                totalItems:totalLength,
                id:'dataTableDetail'
            }; let i = index">
              <td class="text-center" style="width: 100px;">{{ data.kodeBarang }}</td>
              <td class="text-center">{{ data.namaBarang }}</td>
              <td class="text-center">{{ data.totalQtyPesan }} {{data.satuanKecil}}</td>
              <!-- <td class="text-center">{{ data.qtyPesanBesar }} {{ data.satuanBesar }}</td> -->

              <td class="text-center input-column">
                <div class="d-flex justify-content-center" style="gap: 5px;">
                  <input type="text" numberOnly max="{{data.qtyPesanBesar}}" min="0"
                    [ngClass]="{'form-invalid': validationMessages[i]}"
                    class="form-control text-center inputQty inputNumberSpace" [(ngModel)]="data.qtyPesanBesar"
                    (input)="onInputValueItemDetail($event, i, 'numeric', 'besar')"
                    (keypress)="g.conditionInput($event, 'numericDot')" autofocus (blur)="onBlurQtyPesanBesar(i)" />
                  <span class="d-flex align-items-center justify-content-center">{{data.satuanBesar}}</span>
                </div>
              </td>

              <td class="text-center input-column">
                <div class="d-flex justify-content-center" style="gap: 5px;">
                  <input type="text" numberOnly max="{{data.qtyPesanKecil}}" min="0"
                    [ngClass]="{'form-invalid': validationMessages[i] || validationQtyKecilKonversi[i]}"
                    class="form-control text-center inputQty inputNumberSpace" [(ngModel)]="data.qtyPesanKecil"
                    (input)="onInputValueItemDetail($event, i, 'numeric', 'kecil')"
                    (keypress)="g.conditionInput($event, 'numericDot')" (blur)="onBlurQtyPesanKecil(i)" />
                  <span class="d-flex align-items-center justify-content-center">{{data.satuanKecil}}
                  </span>
                </div>
                <span class="text-danger validation-input" *ngIf="validationQtyKecilKonversi[i]">
                  {{ validationQtyKecilKonversi[i] }}
                </span>

              </td>

              <td class="text-center">{{ data.konversi }}</td>
              <td class="text-center">
                <div>
                  {{(helper.sanitizedNumber(data.qtyPesanBesar) *
                  data.konversi) + helper.sanitizedNumber(data.qtyPesanKecil)}}.00 {{data.satuanKecil}}
                </div>
                <span class="text-danger validation-input" *ngIf="validationMessages[i]">
                  {{ validationMessages[i] }}
                </span>
              </td>
              <td class="text-center">
                {{
                helper.sanitizedNumber(data.totalQtyPesanOld) -
                (
                (helper.sanitizedNumber(data.qtyPesanBesar) * data.konversi) +
                helper.sanitizedNumber(data.qtyPesanKecil)
                )
                }} {{ data.satuanKecil }}
              </td>
              <td>
                <button class="btn btn-success btn-sm text-white btn-150" (click)="onShowModalExpired($event, i)"
                  [disabled]="data.flagExpired !== 'Y'">
                  <i class="fa fa-check pe-1"></i> {{ "Exp." | translate }}
                </button>
              </td>
              <td class="text-center">
                {{
                getTotalExpiredData(data.kodeBarang,data.konversi)
                }} {{data.satuanKecil}}

                <!-- Validation message area -->
                <br>
                <!-- <span style="font-size: 14px;" class="text-danger" *ngIf="validationMessageQtyPesanList [i]">
                  {{ validationMessageQtyPesanList[i] }}
                </span> -->
              </td>

              <td class="text-center">
                <button class="btn btn-warning btn-sm text-white btn-150" (click)="onShowModalStockExp(i)"
                  [disabled]="data.flagExpired !== 'Y'">
                  <i class="fa fa-info pe-1"></i> {{ "Cek" | translate }}
                </button>
                <span class="text-warning validation-input text-center" *ngIf="validationTotalStock[i]">
                  {{ validationTotalStock[i] }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mt-2 text-start">
          <c-pagination>
            <pagination-controls (pageChange)="listCurrentPage = $event" id="dataTableDetail"></pagination-controls>
          </c-pagination>
        </div>
      </ng-container>
    </div>
  </c-card-body>
</c-card>

<c-modal #modalExpired alignment="center"
  [style]="{'display': 'flex', 'align-items': 'center', 'justify-content': 'center'}" [fullscreen]="false"
  [visible]="isShowModalExpired" backdrop="static" #modalLg size="xl" id="formModal"
  [attr.aria-hidden]="!isShowModalExpired">
  <c-modal-header>
    <h5 cModalTitle>Entry Data Expired</h5>
    <!-- <button (click)="isShowModalExpired = false" type="button" class="btn btn-primary ms-2" cButtonClose><i
        class="fa fa-times"></i></button> -->
  </c-modal-header>
  <c-modal-body>
    <div class="row">
      <div class="col-6">
        <div class="w-100 px-2 py-1 row">

          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Nama Barang" | translate }}</label>
          </div>
          <div class="col-8 pe-0 d-flex">
            <div class="col-3 pe-2">
              <input type="text" class="form-control" id="kodeBarang" [(ngModel)]="selectedExpProduct.kodeBarang"
                name="kodeBarang" disabled />
            </div>
            <div class="col-9">
              <input type="text" class="form-control" id="namaBarang" [(ngModel)]="selectedExpProduct.namaBarang"
                name="namaBarang" disabled />
            </div>
          </div>
        </div>
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Konversi Barang" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi"
              [value]="selectedExpProduct.konversi + ' ' + selectedExpProduct.satuanKecil + '/' + selectedExpProduct.satuanBesar"
              name="konversi" disabled />

          </div>

        </div>

        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label class="fw-semibold" for="nomorPesanan">{{ "Total Quantity" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" placeholder="Nomor pesanan" class="form-control" id="konversi"
              [value]="(helper.sanitizedNumber(selectedExpProduct.qtyPesanBesar) * selectedExpProduct.konversi) + helper.sanitizedNumber(selectedExpProduct.qtyPesanKecil) + ' ' + selectedExpProduct.satuanKecil"
              name="konversi" disabled />
          </div>

        </div>

      </div>
      <div class="col-6">
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Quantity Besar" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi" [value]="selectedExpProduct.qtyPesanBesar"
              name="konversi" disabled />
          </div>

        </div>

        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Quantity Kecil" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi" [value]="selectedExpProduct.qtyPesanKecil || 0"
              name="konversi" disabled />
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    <div class="text-danger fw-semibold col-sm-12 d-flex flex-column justify-content-start align-items-center">
      <span>
        Isi tanggal expired dengan benar..!!
      </span>
      <span>
       Pengisian tanggal expired tidak boleh sama (Duplikat)
      </span>
      <span>
        Jumlah TOTAL QTY EXPIRED  harus sama dengan TOTAL QTY PENGIRIMAN..!!
      </span>
    </div>
    <div class="divider"></div>

    <div class="table-responsive">
      <ng-container>
        <div *ngIf="loading">
          <app-loading></app-loading>
        </div>
        <table bordered [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead>
            <tr>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 20%;"
                class="text-center align-items-start" rowspan="2">Tgl. Expired</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 20%;"
                class="text-center align-items-start" rowspan="3">Keterangan Tanggal</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 124px;"
                class="text-center align-items-start" rowspan="2">
                Qty Besar</th>
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 124px;"
                class="text-center align-items-start" rowspan="2">Qty
                Kecil</th> <!-- Masih sejajar -->
              <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
                class="text-center align-items-start" rowspan="2">
                Total Qty Expired</th>
            </tr>
            <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
              class="text-center align-items-start">
              Action</th>

          </thead>
          <tbody *ngIf="!listEntryExpired || listEntryExpired.length === 0">
            <tr>
              <td colspan="9" scope="col" class="text-center">
                No Data Found
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let data of filteredListExpired; let i = index">
              <td class="text-center">
                <input type="text" id="tglTransaksi" class="form-control" aria-describedby="tglTransaksi"
                  #dp="bsDatepicker" [bsConfig]="dpConfig" bsDatepicker autocomplete="off" [(ngModel)]="data.tglExpired"
                  (ngModelChange)="updateKeteranganTanggal(data,$event,i)"
                  placeholder="{{ 'Tanggal transaksi' | translate }}" />
                <span style="font-size: 14px;" class="text-danger" *ngIf="data.validationExpiredMessageList">
                  {{ data.validationExpiredMessageList}}
                </span>
              </td>

              <td class="text-center">
                {{ data.keteranganTanggal }}
              </td>
              <td class="text-center input-column">
                <div class="d-flex justify-content-center" style="gap: 5px;">
                  <input type="text" min="0" class="form-control text-center inputQty inputNumberSpace"
                    [(ngModel)]="data.qtyPesanBesar" (change)="onInputQtyBesarExpired($event,data.kodeBarang, i)"
                    (keypress)="g.conditionInput($event, 'numericDot')" />
                  <span class="d-flex align-items-center justify-content-center">
                    / {{data.satuanBesar}}
                  </span>
                </div>
              </td>

              <td class="text-center input-column">
                <div class="d-flex justify-content-center" style="gap: 5px;">
                  <input type="text" min="0" class="form-control text-center inputQty inputNumberSpace"
                    [(ngModel)]="data.qtyPesanKecil" (change)="onInputQtyKecilExpired($event,data.kodeBarang, i)"
                    (keypress)="g.conditionInput($event, 'numericDot')" />
                  <span class="d-flex align-items-center justify-content-center">
                    / {{data.satuanKecil}}
                  </span>
                </div>

                <!-- Validation message area -->
                <span style="font-size: 14px;" class="text-danger" *ngIf="data.validationQtyBesar">
                  {{ data.validationQtyBesar }}
                </span>
              </td>

              <td class="text-center">
                {{
                ((helper.sanitizedNumber(data.qtyPesanBesar) *
                data.konversi) + helper.sanitizedNumber(data.qtyPesanKecil)).toFixed(2)
                }}
                {{data.satuanKecil}}

                <!-- Validation message area -->
                <br>
                <span style="font-size: 14px;" class="text-danger" *ngIf="data.validationQtyKecil">
                  {{ data.validationQtyKecil }}
                </span>
              </td>
              <td class="text-center">
                <button (click)="onModalDeleteRow(data.kodeBarang,i)" type="button" class="btn btn-secondary ms-2">
                  <i class="fa fa-trash me-1"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>

    <div class="row justify-content-between gap-3 mt-3">
      <div class="col-4 d-flex">
        <button (click)="onAddExpiredRow()" type="button" class="btn btn-primary"><i class="fa fa-plus ms-1"></i> Tambah
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center gap-3">
        <p class="mb-0"> Total: {{
          totalFilteredExpired
          }} {{ selectedExpProduct.satuanKecil }}
        </p>
        <button (click)="onSaveEntryExpired()" type="button" class="btn btn-primary ms-2">
          <i class="fa fa-check me-1"></i>Simpan
        </button>
      </div>
    </div>

  </c-modal-body>
</c-modal>

<c-modal #modalStockProduct alignment="center"
  [style]="{'display': 'flex', 'align-items': 'center', 'justify-content': 'center'}" [fullscreen]="false"
  [visible]="isShowModalStockExpired" backdrop="static" #modalLg size="xl" id="formModal"
  [attr.aria-hidden]="!isShowModalStockExpired">
  <c-modal-header>
    <h5 cModalTitle>Stock Product & Data Expired</h5>
    <button (click)="isShowModalStockExpired = false" type="button" class="btn btn-primary ms-2" cButtonClose><i
        class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <div class="row" *ngIf="isShowModalStockExpired">
      <div class="col-6">
        <div class="w-100 px-2 py-1 row">

          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Nama Barang" | translate }}</label>
          </div>
          <div class="col-8 pe-0 d-flex">
            <div class="col-4 pe-2">
              <input type="text" class="form-control" id="kodeBarang" [value]="selectedStockExp.kodeBarang"
                name="kodeBarang" disabled />
            </div>
            <div class="col-8">
              <input type="text" class="form-control" id="namaBarang" [value]="selectedStockExp.namaBarang"
                name="namaBarang" disabled />
            </div>
          </div>
        </div>
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Konversi" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi"
              [value]="selectedStockExp.konversi + ' ' + selectedStockExp.satuanKecil + '/' + selectedStockExp.satuanBesar"
              name="konversi" disabled />

          </div>
        </div>

        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan" class="fw-semibold">{{ "Total Stock" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi"
              [value]="selectedStockExp.totalStock + ' ' + selectedStockExp.satuanKecil" name="konversi" disabled />

          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan" class="fw-semibold">{{ "Stock Qty Besar" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi"
              [value]="selectedStockExp.qtyBesar + ' ' + selectedStockExp.satuanBesar" name="konversi" disabled />

          </div>
        </div>

        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan" class="fw-semibold">{{ "Stock Qty Kecil" | translate }}</label>
          </div>
          <div class="col-8 pe-0">
            <input type="text" class="form-control" id="konversi"
              [value]="selectedStockExp.qtyKecil + ' ' + selectedStockExp.satuanKecil" name="konversi" disabled />

          </div>
        </div>

        <div class="w-100 px-2 py-1 row" *ngIf="selectedStockExp.qtyBesar <=10">
          <div class="col text-warning fw-semibold">
            PERINGATAN..!! SISA STOCK SUDAH KURANG DARI 10 {{ selectedStockExp.satuanBesar }}
          </div>
        </div>
      </div>
    </div>


    <div class="divider"></div>

    <div class="table-responsive">
      <ng-container>
        <div *ngIf="loading">
          <app-loading></app-loading>
        </div>
        <table *ngIf="!loading" datatable [dtOptions]="dtOptions" class="row-border hover stripe custom-header"
          id="myTable"></table>
      </ng-container>
    </div>

  </c-modal-body>
</c-modal>

<div class="gap-3 d-md-flex justify-content-start ms-2">
  <button class="btn btn-secondary text-white btn-150" (click)="onBackPressed()">
    <i class="fa fa-times pe-1"></i> {{ "Batal" | translate }}
  </button>
  <button class="btn btn-info text-white btn-150 pe-3" (click)="onSubmit()" [disabled]="adding">
    <i class="fa fa-check pe-2" *ngIf="!adding"></i>
    <i class="fa fa-spinner fa-spin" *ngIf="adding"></i>
    {{ "Proses Pengiriman" | translate }}
  </button>
</div>