<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <c-row>
        <div
          class="d-grid gap-3 d-md-flex justify-content-start align-items-center"
        >
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
          <h5>{{ "Tambah Data" | translate }}</h5>
        </div>
      </c-row>
    </c-card-body>
  </c-card>

  <c-card class="mb-4">
    <c-card-body>
      <c-row>
        <div
          [ngClass]="isShowDetail ? 'col-4' : 'col-5'"
          class="pe-0 d-flex red-line"
        >
          <div class="w-100">
            <div class="p-2">
              <h5 class="mb-2 p-2" style="color: #3c4b64">
                {{ "Isi Format" | translate }}
              </h5>
              <form [formGroup]="myForm">
                <div class="w-100 px-2 py-1 row">
                  <div class="col-4 d-flex align-items-center">
                    <label for="kodeBarang"
                      >{{ "No Doc Retur dari site" | translate
                      }}<span class="text-danger">* </span>
                    </label>
                  </div>
                  <div class="col-8 pe-0 d-flex">
                    <input
                      type="text"
                      placeholder="No Dokumen"
                      class="form-control"
                      id="noReturnPengirim"
                      formControlName="noReturnPengirim"
                      name="noReturnPengirim"
                      [(ngModel)]="formData.noReturnPengirim"
                      (keydown.enter)="handleEnterPemesan($event)"
                    />
                    <button
                      *ngIf="!isShowModal"
                      type="button"
                      class="btn btn-info ms-2"
                      [cModalToggle]="staticBackdropModal.id"
                      (click)="onShowModal()"
                      [disabled]="isShowDetail"
                    >
                      <i class="fa fa-search text-white"></i>
                    </button>
                  </div>
                </div>
                <div class="w-100 px-2 py-1 row">
                  <div class="col-4 d-flex align-items-center">
                    <label for="tglTransaksi">{{ "Tgl. Transaksi" | translate }} <span
                        class="text-danger">*</span></label>
                  </div>
  
                  <div class="col-8 pe-0 d-flex">
                    <input type="text"
                      *ngIf="!isShowDetail"
                      id="tglTransaksi" 
                      class="form-control"
                      aria-describedby="tglTransaksi"
                      #dp="bsDatepicker"
                      [bsConfig]="dpConfigtrans" 
                      bsDatepicker
                      autocomplete="off"
                      formControlName="tglTransaksi"
                      placeholder="{{ 'Tanggal transaksi' | translate }}"
                      [readOnly]="isShowDetail"
                    />
                    <input type="text"
                     *ngIf="isShowDetail"
                      id="tglTransaksi" 
                      [bsConfig]="dpConfigtrans" 
                      class="form-control"
                      aria-describedby="tglTransaksi"
                      autocomplete="off"
                      placeholder="{{ 'Tanggal transaksi' | translate }}"
                      [readOnly]="true"
                      formControlName="tglTransaksi"
                      />
                  </div>
                
                </div>
                <div class="divider mt-4"></div>

                <div class="w-100 px-2 py-1 row">
                  <div class="col-4 d-flex align-items-center">
                    <label for="kodeBarang"
                      >{{ "Kode Pengirim" | translate
                      }}<span class="text-danger">* </span>
                    </label>
                  </div>
                  <div class="col-8 pe-0 d-flex">
                    <input
                      type="text"
                      placeholder="Kode Pengirim"
                      class="form-control"
                      id="kodeBarang"
                      [(ngModel)]="formData.kodeTujuan"
                      formControlName="kodeBarang"
                      name="kodeBarang"
                      [readOnly]="true"
                    />
                    <button
                      *ngIf="!isShowModalBranch"
                      type="button"
                      class="btn btn-info ms-2"
                      [cModalToggle]="staticBackdropModalBranch.id"
                      (click)="onShowModalBranch()"
                      [disabled]="isShowDetail"
                      (keydown.enter)="handleEnterPemesan($event)"
                    >
                      <i class="fa fa-search text-white"></i>
                    </button>
                  </div>
                </div>

                <div class="w-100 px-2 py-1 row">
                  <div class="col-4 d-flex align-items-center">
                    <label for="namaBarang"
                      >{{ "Nama Pengirim" | translate }}
                    </label>
                  </div>
                  <div class="col-8 pe-0 d-flex">
                    <input
                      type="text"
                      placeholder="Nama Pengirim"
                      class="form-control"
                      id="namaBarang"
                      formControlName="namaBarang"
                      [(ngModel)]="formData.namaTujuan"
                      name="namaBarang"
                      [readOnly]="true"
                    />
                  </div>
                </div>

                <div class="w-100 px-2 py-1 row">
                  <div class="col-4 d-flex align-items-center">
                    <label for="kodeBarang"
                      >{{ "Alamat Pengirim" | translate }}
                    </label>
                  </div>
                  <div class="col-8 pe-0 d-flex">
                    <input
                      type="text"
                      placeholder="Alamat Pengirim"
                      class="form-control"
                      id="alamatPengirim"
                      formControlName="alamatPengirim"
                      name="alamatPengirim"
                      [readOnly]="true"
                      [(ngModel)]="formData.alamatTujuan"
                    />
                  </div>
                </div>

                <div class="w-100 px-2 py-1 row">
                  <div class="col-4 d-flex align-items-center">
                    <label for="satuanHasilProduksi"
                      >{{ "Status Aktif" | translate }}
                    </label>
                  </div>
                  <div class="col-3 pe-0 d-flex">
                    <input
                      type="text"
                      placeholder="Status"
                      class="form-control"
                      id="satuanHasilProduksi"
                      formControlName="satuanHasilProduksi"
                      name="satuanHasilProduksi"
                      [(ngModel)]="formData.statusTujuan"
                      [readOnly]="true"
                    />
                  </div>

                  <div class="col-5 d-flex align-items-center">
                    <label for="labelSatuanHasilProduksi">{{
                      myForm.get("labelSatuanHasilProduksi")?.value
                    }}</label>
                  </div>
                </div>

                <div class="divider mt-4"></div>

                <div class="w-100 px-2 py-1 row">
                  <div class="col-4 d-flex align-items-center">
                    <label for="keterangan">{{
                      "Catatan(keterangan lain)" | translate
                    }}</label>
                  </div>

                  <div class="col-8 pe-0 d-flex">
                    <textarea
                      placeholder="Catatan"
                      type="text"
                      class="form-control"
                      id="keterangan"
                      [readonly]="isShowDetail"
                      formControlName="keterangan"
                      name="keterangan"
                      maxlength="35"
                      (input)="onKeteranganInput($event)"
                    >
                    </textarea>
                    <small
                      class="text-danger"
                      *ngIf="
                        myForm
                          .get('keterangan')
                          ?.hasError('specialCharNotAllowed')
                      "
                      >Special Char Not Allowed</small
                    >
                  </div>
                </div>

                <div style="width: 96%" class="p-2">
                  <button
                    class="shadow-sm btn w-100 btn-info text-white"
                    (click)="onAddDetail()"
                    *ngIf="!isShowDetail" 
                    [disabled]="myForm.invalid"
                  >
                    <i class="fa fa-check pe-2"></i>
                    {{ "Detail Transaksi" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="ps-0" [ngClass]="isShowDetail ? 'col-8' : 'col-7'">
          <div class="p-2" *ngIf="isShowDetail">
            <app-add-data-detail-terima-barang-retur-dari-site
              (onBatalPressed)="onBatalPressed($event)"
              (jumlahBahanbaku)="addJumlahBahanBaku($event)"
            ></app-add-data-detail-terima-barang-retur-dari-site>
          </div>
        </div>
      </c-row>
    </c-card-body>
  </c-card>

  <!-- Modal Pilih Barang -->
  <c-modal
    #staticBackdropModal
    [visible]="isShowModal"
    backdrop="static"
    id="staticBackdropModal"
    size="xl"
  >
    <c-modal-header>
      <h5 cModalTitle>Daftar Retur From Site</h5>
      <button
        (click)="isShowModal = false"
        type="button"
        class="btn btn-info ms-2"
        [cModalToggle]="staticBackdropModal.id"
        cButtonClose
      >
        <i class="fa fa-times text-white"></i>
      </button>
    </c-modal-header>

    <c-modal-body>
      <c-card class="mb-4">
        <c-card-body>
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="datatable row-border hover stripe w-100 h-65"
            >
              <!-- <thead class="table-header"> </thead> -->
            </table>
          </div>
        </c-card-body>
      </c-card>
    </c-modal-body>
  </c-modal>

  <!-- Modal Backdrop -->
  <div class="modal-bg-backdrop" *ngIf="isShowModal"></div>

  <c-modal #staticBackdropModalBranch [visible]="isShowModalBranch" backdrop="static" id="staticBackdropModalBranch" #modalLg size="xl">
    <c-modal-header>
      <h5 cModalTitle>Pilih Site</h5>
      <button (click)="isShowModalBranch = false" type="button" class="btn btn-info ms-2"
        [cModalToggle]="staticBackdropModalBranch.id"><i class="fa fa-times text-white"></i></button>
    </c-modal-header>
    <c-modal-body>
      <c-card class="mb-4">
        <c-card-body>
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptionsBranch"
              class="datatable row-border hover stripe w-100 h-65"
            >
              <!-- <thead class="table-header"> </thead> -->
            </table>
          </div>
        </c-card-body>
      </c-card>
    </c-modal-body>
      <!-- Modal Backdrop -->
      <div class="modal-bg-backdrop" *ngIf="isShowModalBranch"></div>
  </c-modal>
</div>


