<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <ng-container>
          <div *ngIf="loading">
            <app-loading></app-loading>
          </div>
          <table
            datatable
            [dtOptions]="dtOptions"
            class="datatable row-border hover stripe mb-0 border"
          >
            <thead>
              <tr>
                <th
                  scope="col"
                  style="
                    background-color: #3c4b64;
                    color: white;
                    vertical-align: middle;
                    width: 18%;
                  "
                  class="text-center align-items-start"
                  rowspan="2"
                >
                  Kode Barang
                </th>
                <th
                  scope="col"
                  style="
                    background-color: #3c4b64;
                    color: white;
                    vertical-align: middle;
                    width: 20%;
                  "
                  class="text-center align-items-start"
                  rowspan="3"
                >
                  Nama Barang
                </th>
                <th
                  scope="col"
                  style="
                    background-color: #3c4b64;
                    color: white;
                    vertical-align: middle;
                  "
                  class="text-center align-items-start"
                  rowspan="2"
                >
                  Konversi
                </th>
                <th
                  scope="col"
                  style="
                    background-color: #e55353;
                    color: white;
                    vertical-align: middle;
                  "
                  class="text-center align-items-start btn-danger"
                  colspan="2"
                >
                  Qty Waste
                </th>
                <th
                  scope="col"
                  style="
                    background-color: #3c4b64;
                    color: white;
                    vertical-align: middle;
                    width: 10%;
                  "
                  class="text-center align-items-start"
                  rowspan="2"
                >
                  Total Qty Waste
                </th>
                <th
                  scope="col"
                  style="
                    background-color: #3c4b64;
                    color: white;
                    vertical-align: middle;
                    width: 8%;
                  "
                  class="text-center align-items-start"
                  rowspan="2"
                >
                  Isi Qty Expired
                </th>
                <th
                  scope="col"
                  style="
                    background-color: #3c4b64;
                    color: white;
                    vertical-align: middle;
                    width: 10%;
                  "
                  class="text-center align-items-start"
                  rowspan="2"
                >
                  Total Qty Expired
                </th>
              </tr>
              <tr>
                <th
                  scope="col"
                  class="text-center"
                  style="
                    width: 160px;
                    background-color: #3c4b64;
                    color: white;
                    vertical-align: middle;
                  "
                >
                  Besar
                </th>
                <th
                  scope="col"
                  class="text-center"
                  style="
                    width: 160px;
                    background-color: #3c4b64;
                    color: white;
                    vertical-align: middle;
                  "
                >
                  Kecil
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!listProductData || listProductData.length === 0">
              <tr>
                <td colspan="9" class="text-center">No Data Found</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let data of listProductData; let i = index">
                <td class="text-center">{{ data.kodeBarang }}</td>
                <td class="text-center">{{ data.namaBarang }}</td>
                <td class="text-center">
                  {{ data.konversi }} {{ data.satuanKecil }} /
                  {{ data.satuanBesar }}
                </td>
                <td class="text-center">
                  {{ data.qtyWasteBesar }} / {{ data.satuanBesar }}
                </td>
                <td class="text-center">
                  {{ data.qtyWasteKecil }} / {{ data.satuanKecil }}
                </td>
                <td class="text-center">
                  {{ data.qtyWasteBesar * data.konversi + data.qtyWasteKecil }}
                  {{ data.satuanKecil }}
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-success btn-sm text-white btn-150"
                    (click)="onShowModalExpired($event, i)"
                  >
                    <i class="fa fa-check pe-1"></i> Exp.
                  </button>
                </td>
                <td class="text-center">
                  {{ data.qtyWasteBesar * data.konversi + data.qtyWasteKecil }}
                  {{ data.satuanKecil }}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Pagination -->
          <c-pagination class="text-right">
            <pagination-controls
              (pageChange)="onPageChange($event)"
              id="dataTable"
            ></pagination-controls>
          </c-pagination>
        </ng-container>
      </div>
    </c-card-body>
  </c-card>
</div>
