<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Tambah" | translate }} {{ "User" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Kode User" | translate
          }}
          <span class="stamp-required show">&nbsp;*</span>
        </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="kodeUser"
              [readOnly]="adding"
              (keypress)="conditionInput($event, 'alphanumeric')"
            />
            <span *ngIf="isFieldValid('kodeUser')" class="text-danger">{{
              "Wajib diisi" | translate
            }}</span>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Nama User" | translate 
            }} 
            <span class="stamp-required show">&nbsp;*</span>
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="namaUser"
              [readOnly]="adding"
              (keypress)="conditionInput($event, 'alphabet')"
            />
            <span *ngIf="isFieldValid('namaUser')" class="text-danger">{{
              "Wajib diisi" | translate
            }}</span>
          </div>
        </div>
        
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Password" | translate
          }}
          <span class="stamp-required show">&nbsp;*</span>
        </label>          
          <div class="col-sm-10">
            <input
              maxlength="10"
              type="password"
              class="form-control"
              formControlName="kodePassword"
              [readOnly]="adding"
              (keypress)="conditionInput($event, 'alphanumeric')"
              (keyup)="onChangePassword($event, 'user')"
            />
            <span *ngIf="isFieldValid('kodePassword')" class="text-danger">{{
              "Wajib diisi" | translate
            }}</span>
            
            <span *ngIf="isNotMatchPass" class="text-danger">
              {{ "Password Tidak Cocok" | translate }}
            </span>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Konfirmasi Password" | translate
          }}
          <span class="stamp-required show">&nbsp;*</span>
        </label>
          <div class="col-sm-10">
            <input
              maxlength="10"
              type="password"
              class="form-control"
              [readOnly]="adding"
              (keypress)="conditionInput($event, 'alphanumeric')"
              formControlName="konfirmasiKodePassword"
              (keyup)="onChangePassword($event, 'user')"
            />
            <span *ngIf="isFieldValid('konfirmasiKodePassword')" class="text-danger">{{
              "Wajib diisi" | translate
            }}</span>
            
            <span *ngIf="isNotMatchPass && !isFieldValid('konfirmasiKodePassword')" class="text-danger">
              {{ "Password Tidak Cocok" | translate }}
            </span>
          </div>
        </div>
      
        <!-- Konfirmasi Password -->
<!-- <c-row [xs]="2">
  <c-col xs="4" class="align-self-center">
    <label for="rePasswordCode">
      {{"Konfirmasi Password" | translate}}
      <span class="stamp-required show">&nbsp;*</span>
    </label>
  </c-col>
  
  <c-col xs="8">
    <input
      type="password"
      id="rePasswordCode"
      class="form-control"
      formControlName="rePasswordCode"
      placeholder="Confirm password to Login"
      maxlength="10"
      (keypress)="conditionInput($event, 'alphanumeric')"
      (keyup)="onChangePassword($event, 'user')"
    />
    
    <span class="help-block" *ngIf="(!myForm.get('rePasswordCode')?.valid && myForm.get('rePasswordCode')?.touched) || isNotMatchPass">
      <span *ngIf="!isNotMatchPass">Field is required</span>
      <span *ngIf="isNotMatchPass">Password Not Match</span>
    </span>
  </c-col>
</c-row> -->



        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Status Aktif" | translate
          }}</label>
          <c-col xs="8">
            <c-row class="mt-2">
              <c-col xs="6">
                <c-form-check class="flex align-items-center">
                  <input cFormCheckInput checked id="active" type="radio" value="A" name="status" formControlName="status" (change)="onChangeSelect($event, 'status')"/>
                  <label cFormCheckLabel for="active" style="margin-left: 4px;">Active</label>
                </c-form-check>
              </c-col>
              <c-col xs="6">
                <c-form-check class="flex align-items-center">
                  <input cFormCheckInput id="inactive" type="radio" value="I" name="status" formControlName="status" (change)="onChangeSelect($event, 'status')"/>
                  <label cFormCheckLabel for="inactive" style="margin-left: 4px;">Inactive</label>
                </c-form-check>
              </c-col>
            </c-row>
          </c-col>
        </div>
        
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Jabatan" | translate
          }}</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="jabatan"
              [readOnly]="adding"
              (keypress)="conditionInput($event, 'alphabet')"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Default Lokasi" | translate
          }}</label>
          <div class="col-sm-10">
            <ngx-select-dropdown
              [multiple]="false"
              [config]="configSelectLokasi"
              [options]="listLokasi"
              formControlName="defaultLocation"
              id="default-location">
            </ngx-select-dropdown>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Role" | translate
          }}</label>
          <div class="col-sm-10">
            <ngx-select-dropdown
              [multiple]="false"
              [config]="configSelectRole"
              [options]="listRole"
              formControlName="roleID"
              id="roleID">
            </ngx-select-dropdown>
          </div>
        </div>
        
        
        <div class="divider"></div>
        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button
            class="btn btn-light btn-120"
            (click)="onPreviousPressed()"
            [disabled]="adding"
          >
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-info text-white btn-150"
            type="submit"
            [disabled]="adding"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="adding"></i>
            <span *ngIf="!adding"
              >{{ "Buat" | translate }} {{ "User" | translate }}</span
            >
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
