<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Terima pesanan dari Cabang atau Gudang" | translate }}</h5>
        </div>
        <div class="col col-md-8">
          <div class="menu-purpose col-sm-12 d-flex justify-content-end align-items-center">
            <span>
              Program ini digunakan untuk melihat dan menerima DATA PESANAN dari Cabang dan Gudang Lain secara Online (Synchronize Database). Dan untuk mencetak 'SURAT PESANAN BARANG'
            </span>
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="d-flex justify-content-end gap-1" style="margin-bottom: 10px">
        <button type="button" class="btn btn-outline-dark me-2 btn-120" (click)="toggleFilter()">
          <i class="fa fa-filter icon-gap" aria-hidden="true"></i>
          {{ "Filter" | translate }}
        </button>
        <button type="button" class="btn btn-success text-white me-2 btn-240" data-toggle="modal"
        (click)="onOrderManualPressed()">
        <i class="fa fa-plus pe-1 icon-12 icon-gap" aria-hidden="true"></i>
        {{ "Order Manual" | translate }}
      </button>
        <button type="button" class="btn btn-success text-white me-2 btn-240" data-toggle="modal"
          (click)="onAddPressed()">
          <i class="fa fa-plus pe-1 icon-12 icon-gap" aria-hidden="true"></i>
          {{ "Tambah Penerimaan" | translate }}
        </button>
        <button type="button" class="btn btn-success text-white me-2 btn-360" data-toggle="modal"
        (click)="isShowModalRefresh = true">
        <i class="fa fa-refresh pe-1 icon-12 icon-gap" aria-hidden="true"></i>
        {{ "REFRESH (TERIMA DATA ONLINE)" | translate }}
      </button>
      <a
        type="button"
        class="btn w-120 btn-outline-primary me-2"
        href="#/order/order"
      >
        {{ "Kembali" | translate }}
      </a>
      </div>  
      <div [visible]="showFilterSection" cCollapse>
        <div class="row" style="margin-top: -16px">
          <c-card-body>
            <c-row>
              <c-col>
                <label class="col-form-label">{{
                  "Tanggal Pesan" | translate
                  }}</label>
                <input type="text" id="dateFilter" class="form-control" bsDaterangepicker [bsConfig]="dpConfig"
                  aria-describedby="dateFilter" [(ngModel)]="dateRangeFilter" #dp="bsDaterangepicker"
                  placeholder="{{ 'Tanggal Pesan' | translate }}" />
              </c-col>
              <c-col
                xs="6"
                class="text-right d-flex align-items-end justify-content-end"
              >             
                <button type="button" class="btn btn-outline-success me-2 btn-160" (click)="onFilterPressed()">
                  {{ "Terapkan Filter" | translate }}
                </button>
              </c-col>
            </c-row>
          </c-card-body>
        </div>
      </div>
      <div class="divider"></div>
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" (page.dt)="dtPageChange($event)" class="row-border hover stripe"></table>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">

  <c-card class="c-card" *ngIf="selectedRowData">
    <c-card-body>
      <div class="row p-2 justify-content-end">
        <div class="col-6">
          <div class="w-100 mb-2">
            <label for="alamatTujuan" class="form-label">{{ "Alamat" | translate }}</label>
            <input type="text" readonly placeholder="Alamat 1" class="form-control" id="nomorPesanan"
              [(ngModel)]="selectedRowData.alamatTujuan" name="alamatTujuan" />
          </div>
          <div class="w-100 mb-2">
            <label for="alamat1" class="form-label">{{ "Catatan 1" | translate }}</label>
            <input type="text" readonly placeholder="Catatan 1" class="form-control" id="nomorPesanan"
              [(ngModel)]="selectedRowData.keterangan1" name="keterangan1" />
          </div>

          <div class="w-100 mb-2">
            <label for="alamat1" class="form-label">{{ "Catatan 2" | translate }}</label>
            <input type="text" readonly placeholder="Catatan 2" class="form-control" id="nomorPesanan"
              [(ngModel)]="selectedRowData.keterangan2" name="keterangan2" />
          </div>
        </div>
        <div class="col-6">
          <div class="row justify-content-end">

            <div class="col-4"></div>
            <div class="col-8">
              <div class="w-100 mb-2">
                <label for="userCreate" class="form-label">{{ "User Create" | translate }}</label>
                <input type="text" readonly placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.userCreate" name="userCreate" />
              </div>

              <div class="w-100 mb-2">
                <label for="dateCreate" class="form-label">{{ "Date Create" | translate }}</label>
                <input type="text" readonly placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.dateCreate" name="dateCreate" />
              </div>

              <div class="w-100 mb-2">
                <label for="timeCreate" class="form-label">{{ "Time Create" | translate }}</label>
                <input type="text" readonly placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                  [(ngModel)]="selectedRowData.timeCreate" name="timeCreate" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <app-modal-print-list
    [alreadyPrint]="alreadyPrint"
    [disabledPrintButton]="disabledPrintButton"
    [generatePdfUrl]="'/api/receiving-order/report'"
    [updateStatusUrl]="''"
    [updatePrintStatusParam]="''"
    [generateReportParam]="paramGenerateReport"
    [isShowModalReport]="isShowModalReport"
    [isShowSelection]="false"
    (closeModalEvent)="closeModal()"
  >
  </app-modal-print-list>
</div>

<c-modal #formModalKirim [fullscreen]="false" [visible]="isShowModalRefresh" backdrop="static"
id="formModalKirim"    [attr.aria-hidden]="!isShowModalRefresh">
  <c-modal-header>
    <h5 cModalTitle>Konfirmasi Terima Data Pesanan - Online</h5>
    <button (click)="isShowModalRefresh = false" type="button" class="btn btn-primary ms-2" [cModalToggle]="formModalKirim.id"
      cButtonClose><i class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <div >
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "Kode Gudang" | translate
          }}</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="(g.getUserLocationCode() || '') "
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label">{{
            "Tanggal Pesan Dari" | translate
          }}</label>
          <div class="col-sm-8">
            <input type="text" id="dateFilter" class="form-control" bsDaterangepicker [bsConfig]="dpConfig"
              aria-describedby="dateFilter" [(ngModel)]="dateRangeRefresh" #dp="bsDaterangepicker"
              placeholder="{{ 'Tanggal Pesan' | translate }}" />
          </div>
        </div>
        

   
        <div class="d-flex justify-content-center align-items-center flex-column">
          <span class="fw-bold text-center">Synchronize Database - Refresh</span>
        </div>
        
      </div>
    </c-modal-body>
    <c-modal-footer class="justify-center">
      <button type="button" class="btn btn-light w-180 me-3" data-bs-dismiss="modal" (click)="isShowModalRefresh = false">Batal</button>
      <button type="button" class="btn btn-success text-white  w-180" (click)="refreshDatabase()">Proses Terima Data</button>
    </c-modal-footer>
</c-modal>

<c-modal #formModalPesananMasuk [fullscreen]="false" [visible]="isShowModalPesananMasuk" backdrop="static" #modalLg 
id="formModalPesananMasuk"    [attr.aria-hidden]="!isShowModalPesananMasuk">
  <c-modal-header>
    <h5 cModalTitle>Perhatian </h5>
    <button (click)="isShowModalPesananMasuk = false" type="button" class="btn btn-primary ms-2" [cModalToggle]="formModalPesananMasuk.id"
      cButtonClose><i class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <p class="text-center"  *ngIf="jumlahPesananMasuk!=0">Ada {{jumlahPesananMasuk}} Pesanan Baru, Yang Masuk.....  Harap Diperiksa Kembali.. !!</p>
    <p class="text-center"  *ngIf="jumlahPesananMasuk ==0">Tidak Ada Pesanan Baru, Yang Masuk</p>

    <div class="d-flex justify-center py-2">

      <button class="btn btn-primary text-white w-90" (click)="onClickModalPesananMasuk()">Oke</button>

    </div>
  </c-modal-body>
</c-modal>
