<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <c-row>
        <div class="d-grid gap-3 d-md-flex justify-content-start align-items-center">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
          <h5>{{ "Tambah Data Pembelian" | translate }}</h5>
        </div>
      </c-row>
    </c-card-body>
  </c-card>

  <c-card class="mb-1" >
    <c-card-body>
      <div class="row">
        <div [ngClass]="isShowDetail ? 'col-3' : 'col-5'" class="pe-0 d-flex red-line">
          <div class="w-100">
            <div class="p-2">
              <!-- <h5 class="mb-2 p-2" style="color:#3c4b64;">{{ "Isi Format" | translate }}</h5> -->
              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="nomorPesanan">{{ "Nomor Purchase Order (P.O)" | translate }}</label>
                </div>

                <div class="col-8 pe-0 d-flex">
                  <input type="text" placeholder="" class="form-control" id="nomorPesanan"
                    [(ngModel)]="formData.nomorPesanan" name="nomorPesanan" (keydown.enter)="handleEnter($event)" readonly/>
                  <button *ngIf="isShowDetail === false" type="button" class="btn btn-info ms-2"
                    [cModalToggle]="staticBackdropModal.id" (click)="onShowModal()"><i
                      class="fa fa-search text-white"></i></button>
                </div>

              </div>

              <div class="w-100 px-2 py-1 row">

                <div class="col-4 d-flex align-items-center">
                  <label for="codeDestination">{{ "Supplier Pengirim" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input placeholder="" type="text" class="form-control" id="codeDestination"
                    [ngModel]="formData.nomorPesanan ? formData.supplier + ' - ' + formData.namaSupplier : '' "
                    name="supplier" disabled />
                </div>
              </div>

              <!-- <div class="w-100 px-2 py-1 row ">
                <div class="col-4 d-flex align-items-center">
                  <label for="alamat1">{{ "Alamat Pengirim" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <textarea placeholder="" class="form-control w-100" [(ngModel)]="formData.alamatSupplier"
                    id="exampleFormControlTextarea1" rows="2" name="alamatSupplier" disabled></textarea>
                </div>  
              </div> -->

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="alamatSupplier">{{
                    "Alamat Pengirim" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <textarea
                    placeholder=""
                    type="text"
                    class="form-control"
                    id="alamatSupplier"
                    [(ngModel)]="formData.alamatSupplier"
                    name="alamatSupplier"
                    disabled
                  ></textarea>
                </div>
              </div>
              
              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="statusAktif">{{
                    "Status Aktif" | translate
                  }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input
                    placeholder=""
                    type="text"
                    class="form-control"
                    id="statusAktif"
                    [(ngModel)]="formData.statusAktif"
                    name="statusAktif"
                    disabled
                  />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-start">
                  <label for="nomorDokumen" class="label-dynamic-wrap">{{ "Nomor Dokumen (D.O Supplier)" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input placeholder="" type="text" (keypress)="globalService.conditionInput($event, 'excludedSensitive')" class="form-control" id="nomorDokumen" [(ngModel)]="formData.nomorDokumen"
                    name="nomorDokumen" />
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">

                <div class="col-4 d-flex align-items-center">
                  <label for="notes">{{ "Tanggal Dokumen" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <div class="input-group">
                    <input type="text" id="tglDokumen" class="form-control"
                    aria-describedby="tglDokumen" #dp="bsDatepicker" [bsConfig]="dpConfig" bsDatepicker
                    autocomplete="off" [(ngModel)]="formData.tglDokumen"
                    placeholder="{{ '' | translate }}" [minDate]="minDate" [maxDate]="maxDate"
                    [disabled]="formData.nomorPesanan === ''" />
                    <button class="btn btn-outline-info fa fa-calendar" type="button"  (click)="dp.toggle()"></button>
                  </div>
                </div>
              </div>

              <div class="w-100 px-2 py-1 row">

                <div class="col-4 d-flex align-items-center">
                  <label for="notes">{{ "Tanggal terima barang" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <div class="input-group">
                    <input type="text" id="tglTerimaBrg" class="form-control"
                    aria-describedby="tglTerimaBrg" #dp2="bsDatepicker" [bsConfig]="dpConfig" bsDatepicker
                    autocomplete="off" [(ngModel)]="formData.tglTerimaBrg"
                    placeholder="{{ '' | translate }}" [minDate]="minDate" [maxDate]="maxDate"
                    [disabled]="formData.nomorPesanan === ''"  (ngModelChange)="getValidationTglTerimaBrg()"/>
                    <button class="btn btn-outline-info fa fa-calendar" type="button"  (click)="dp2.toggle()"></button>
                  </div>
                </div>
              </div>

              <!-- <div class="w-100 px-2 py-1 row">

                <div class="col-4 d-flex align-items-center">
                  <label for="notes">{{ "Catatan (Keterangan Lain)" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input placeholder="" maxlength="50" type="text" class="form-control" id="notes" [(ngModel)]="formData.notes"
                    name="notes" />
                </div>
              </div> -->

              <div class="w-100 px-2 py-1 row">
                <div class="col-4 d-flex align-items-center">
                  <label for="notes">{{ "Catatan (Keterangan Lain)" | translate }}</label>
                </div>
                <div class="col-8 pe-0 d-flex">
                  <input 
                    placeholder="" 
                    maxlength="50" 
                    type="text" 
                    class="form-control" 
                    id="notes" 
                    [(ngModel)]="formData.notes" 
                    name="notes" 
                    pattern="^[a-zA-Z0-9\-]*$" 
                    title="Hanya boleh angka, huruf, dan tanda minus (-) Untuk catatan"
                    (input)="updateCharCount()"
                    (blur)="validateNotes()" />
                </div>
                <div *ngIf="invalidNotes" class="text-danger mt-1">
                  <small>Catatan hanya boleh berisi angka, huruf, dan tanda minus (-).</small>
                </div>
                <div class="text-end text-muted mt-1">
                  <small>{{ charCount }}/50 karakter</small>
                </div>
              </div>

              <div style="width: 96%;" class="p-2">
                <button class="shadow-sm btn w-100 btn-info text-white" *ngIf="!isShowDetail"
                  [disabled]="isFormInvalid || invalidNotes" (click)="onAddDetail()">
                  <i class="fa fa-check pe-2"></i>
                  {{ "Detail Transaksi" | translate }}
                </button>
              </div>              
            </div>

          </div>
        </div>
        <div class=" ps-0" [ngClass]="isShowDetail ? 'col-9' : 'col-7'">
          <div class="p-2" *ngIf="isShowDetail">
            <app-add-data-detail-pembelian (dataCetak)="onResetForm($event)">
            </app-add-data-detail-pembelian>
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>

  <c-modal #staticBackdropModal [visible]="isShowModal" backdrop="static" id="staticBackdropModal" #modalXl size="xl">
    <c-modal-header>
      <h5 cModalTitle>Pilih pesanan</h5>
      <button (click)="isShowModal = false" type="button" class="btn btn-info ms-2"
        [cModalToggle]="staticBackdropModal.id" cButtonClose><i class="fa fa-times text-white"></i></button>
    </c-modal-header>
    <c-card>
      <c-modal-body>
        <div class="fade-in">
          <c-card class="mb-4 ">
            <c-card-body>
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" class="row-border hover stripe w-100"></table>
              </div>
            </c-card-body>
          </c-card>
        </div>
        <div class="fade-in">

          <c-card *ngIf="selectedRowData">
            <c-card-body>
              <div class="row p-2">
                <div class="col">
                  <label for="alamat1" class="form-label">{{ "Alamat" | translate }}</label>
                  <input type="text" disabled placeholder="Alamat 1" class="form-control" id="nomorPesanan"
                    [(ngModel)]="selectedRowData.alamat1" name="alamat1" />
                </div>
              </div>
              <div class="row p-2">
                <div class="col-6">
                  <label for="alamat1" class="form-label">{{ "Keterangan 1" | translate }}</label>
                  <input type="text" disabled placeholder="Keterangan 1" class="form-control" id="nomorPesanan"
                    [(ngModel)]="selectedRowData.keterangan1" name="keterangan1" />
                </div>
                <div class="col-6">
                  <label for="alamat1" class="form-label">{{ "Keterangan 1" | translate }}</label>
                  <input type="text" disabled placeholder="Keterangan 2" class="form-control" id="nomorPesanan"
                    [(ngModel)]="selectedRowData.keterangan2" name="keterangan2" />
                </div>
              </div>
            </c-card-body>
          </c-card>
        </div>
      </c-modal-body>
    </c-card>


  </c-modal>
  <div class="modal-bg-backdrop" *ngIf="isShowModal"></div>

</div>

<div class="fade-in">
  <app-modal-print-list [alreadyPrint]="alreadyPrint" [disabledPrintButton]="disabledPrintButton"
    [generatePdfUrl]="'/api/report/jasper-report-pembelian'"
    [updateStatusUrl]="''" [updatePrintStatusParam]="''"
    [generateReportParam]="paramGenerateReport" [isShowModalReport]="isShowModalReport" [isShowSelection]="false"
    (closeModalEvent)="closeModal()">
  </app-modal-print-list>
</div>