<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Kirim" | translate }} {{ "Terima" | translate }} Data</h5>
        </div>
        <div class="col text-end"></div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in row">
  <div class="col-4">
    <c-card class="mb-4">
      <c-card-body>
        <ul cListGroup flush>
          <li cListGroupItem class="fw-bold">
            <div (click)="onClickMenu('Kirim Data Transaksi')" class="p-1 ps-3 text-capitalize pointer-only rounded {{
                  'Kirim Data Transaksi' === selectedMenu
                    ? 'text-bg-secondary text-white'
                    : ''
                }}">
              Kirim Data Transaksi
            </div>
            <ul cListGroup flush>
              <li cListGroupItem class="fw-bold">
                <div class="ms-2" (click)="onClickMenu('Cek Data Stock Minus')" class="p-1 ps-3 text-capitalize pointer-only rounded {{
                      'Cek Data Stock Minus' === selectedMenu
                        ? 'text-bg-secondary text-white'
                        : ''
                    }}">
                  Cek Data Stock Minus
                </div>
              </li>
              <li cListGroupItem class="fw-bold">
                <div class="ms-2" (click)="onClickMenu('Cek Data Pengiriman (D.O)')" class="p-1 ps-3 text-capitalize pointer-only rounded {{
                      'Cek Data Pengiriman (D.O)' === selectedMenu
                        ? 'text-bg-secondary text-white'
                        : ''
                    }}">
                  Cek Data Pengiriman (D.O)
                </div>
              </li>
              <li cListGroupItem class="fw-bold">
                <div class="ms-2" (click)="onClickMenu('Proses Kirim Data Ke Pusat (Harian)')" class="p-1 ps-3 text-capitalize pointer-only rounded {{
                      'Proses Kirim Data Ke Pusat (Harian)' === selectedMenu
                        ? 'text-bg-secondary text-white'
                        : ''
                    }}">
                  Proses Kirim Data Ke Pusat (Harian)
                </div>
              </li>
              <li cListGroupItem class="fw-bold">
                <div class="ms-2" (click)="onClickMenu('Cek Hasil Kirim Data Ke HQ')" class="p-1 ps-3 text-capitalize pointer-only rounded {{
                      'Cek Hasil Kirim Data Ke HQ' === selectedMenu
                        ? 'text-bg-secondary text-white'
                        : ''
                    }}">
                  Cek Hasil Kirim Data Ke HQ
                </div>
              </li>
            </ul>
          </li>
          <li cListGroupItem class="fw-bold">
            <div (click)="onClickMenu('Terima Data Master')" class="p-1 ps-3 text-capitalize pointer-only rounded {{
                  'Terima Data Master' === selectedMenu
                    ? 'text-bg-secondary text-white'
                    : ''
                }}">
              Terima Data Master
            </div>
          </li>
          <li cListGroupItem class="fw-bold">
            <div (click)="onClickMenu('Backup Data')" class="p-1 ps-3 text-capitalize pointer-only rounded {{
                  'Backup Data' === selectedMenu
                    ? 'text-bg-secondary text-white'
                    : ''
                }}">
              Backup Data
            </div>
          </li>
        </ul>
      </c-card-body>
    </c-card>
  </div>
  <div class="col">
    <c-card class="mb-4">
      <c-card-body>
        <div class="fade-in row">
          <div class="col">
            <h5>{{ selectedMenu }}</h5>
            <c-card class="mb-4">
              <c-card-body>
                <!-- buat content sesuai menu -->
                <ng-container *ngIf="selectedMenu === 'Kirim Data Transaksi'">
                  Tes Kirim Data Transaksi
                </ng-container>

                <!-- Proses Kirim Data Ke Pusat (Harian) -->
                <ng-container *ngIf="selectedMenu === 'Proses Kirim Data Ke Pusat (Harian)'">
                  <div class="text-center">
                    <div class="fw-bold">
                      Pastikan Program Tersebut Dilakukan Setiap Hari ...!!
                    </div>
                    <div class="text-danger">
                      Semua User tidak boleh ada yang melakukan transaksi Mutasi Stock ..!!
                    </div>
                    <div class="my-2 text-xl p-2">
                      Tanggal Proses
                      <span class="ms-4 p-2 border rounded">
                        {{ g.currentDate }}
                      </span>
                    </div>
                    <p class="text-white bg-danger">
                      UNTUK PROSES KIRIM DATA DI AKHIR BULAN, DILAKUKAN
                      <br>SETELAH SEMUA TRANSAKSI SUDAH SELESAI SEMUA
                      <br>TERMASUK POSTING STOCK OPNAME DI SEMUA GUDANG ....!!!
                    </p>
                    <div class="my-4">
                      <button class="btn btn-outline-primary me-4" (click)="getHistoryKirimData()"
                        [disabled]="loadings['getHistoryKirimData']">
                        <i class="fa fa-refresh {{loadings['getHistoryKirimData'] ? 'fa-spin' : ''}} me-2"></i>
                        History Proses
                      </button>
                      <button class="btn btn-primary" (click)="kirimDataAll()" [disabled]="clicked['btnKirimDataAll']">
                        <i class="fa fa-check me-2"></i>
                        Proses Kirim Data
                      </button>
                    </div>
                    <div class="border rounded text-primary text-center p-3" *ngIf="clicked['btnKirimDataAll']">
                      <i class="fa fa-exclamation-circle me-2"></i>
                      Proses Kirim Data akan berjalan otomatis di latar belakang
                      <br>Gunakan menu Cek Hasil Kirim Data Ke HQ untuk cek data
                    </div>
                  </div>

                  <div *ngIf="clicked['getHistoryKirimData'] && !loadings['getHistoryKirimData']" class="card">
                    <div class="card-body">
                      <h5 class="text-start"> History Proses</h5>
                      <table class="table table-sm table-bordered table-striped table-hover">
                        <thead class="table-dark">
                          <tr class="align-middle text-center">
                            <th>#</th>
                            <th>Tanggal</th>
                            <th>Jam</th>
                            <th>Status</th>
                            <th>User</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!listHistoryKirimData.length">
                            <td colspan="5" class="text-center">No data available</td>
                          </tr>
                          <tr class="text-center"
                            *ngFor="let item of listHistoryKirimData | paginate: { itemsPerPage: 10, currentPage: selectedParam['paginationHistoryKirimData'] }; let i = index">
                            <td class="text-end">{{ ((selectedParam['paginationHistoryKirimData'] - 1) * 10) + i + 1 }}
                            </td>
                            <td>{{g.transformDate(item.tanggalSync)}}</td>
                            <td>{{g.transformTime(item.timeProses, true)}}</td>
                            <td>
                              <div
                                class="badge text-white text-bg-{{item.statusProses === 'Y' ? 'primary' : 'danger'}}">
                                {{item.statusProses === 'Y' ? 'SUDAH' : 'BELUM'}}
                              </div>
                            </td>
                            <td>{{item.userProses}}</td>
                          </tr>
                        </tbody>
                      </table>

                      <pagination-controls
                        (pageChange)="selectedParam['paginationHistoryKirimData'] = $event"></pagination-controls>
                    </div>
                  </div>
                </ng-container>

                <!-- Terima Data Master -->
                <ng-container *ngIf="selectedMenu === 'Terima Data Master'">
                  <div class="text-center">
                    <div class="my-2 text-xl p-2">
                      Tanggal Proses
                      <span class="ms-4 p-2 border rounded">
                        {{ g.currentDate }}
                      </span>
                    </div>
                    <div class="my-4">
                      <button class="btn btn-outline-primary me-4" (click)="getHistoryTerimaData()"
                        [disabled]="loadings['getHistoryTerimaData']">
                        <i class="fa fa-refresh {{loadings['getHistoryTerimaData'] ? 'fa-spin' : ''}} me-2"></i>
                        History Proses
                      </button>
                      <button class="btn btn-primary" (click)="terimaDataAll()"
                        [disabled]="clicked['btnTerimaDataAll']">
                        <i class="fa fa-check me-2"></i>
                        Proses Terima Data
                      </button>
                    </div>
                  </div>

                  <div *ngIf="clicked['getHistoryTerimaData'] && !loadings['getHistoryTerimaData']" class="card">
                    <div class="card-body">
                      <h5 class="text-start"> History Proses</h5>
                      <table class="table table-sm table-bordered table-striped table-hover">
                        <thead class="table-dark">
                          <tr class="align-middle text-center">
                            <th>#</th>
                            <th>Tanggal</th>
                            <th>Jam</th>
                            <th>Status</th>
                            <th>User</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!listHistoryTerimaData.length">
                            <td colspan="5" class="text-center">No data available</td>
                          </tr>
                          <tr class="text-center"
                            *ngFor="let item of listHistoryTerimaData | paginate: { itemsPerPage: 10, currentPage: selectedParam['paginationHistoryTerimaData'] }; let i = index">
                            <td class="text-end">{{ ((selectedParam['paginationHistoryTerimaData'] - 1) * 10) + i + 1 }}
                            </td>
                            <td>{{g.transformDate(item.tanggalTransfer)}}</td>
                            <td>{{g.transformTime(item.timeProses, true)}}</td>
                            <td>
                              <div
                                class="badge text-white text-bg-{{item.statusProses === 'Y' ? 'primary' : 'danger'}}">
                                {{item.statusProses === 'Y' ? 'SUDAH' : 'BELUM'}}
                              </div>
                            </td>
                            <td>{{item.userProses}}</td>
                          </tr>
                        </tbody>
                      </table>

                      <pagination-controls
                        (pageChange)="selectedParam['paginationHistoryTerimaData'] = $event"></pagination-controls>
                    </div>
                  </div>
                </ng-container>

                <!-- Backup Data -->
                <ng-container *ngIf="selectedMenu === 'Backup Data'">
                  <div class="text-center">
                    <p class="fw-bold">
                      Pastikan Program Tersebut Dilakukan Setiap Hari ...!!
                    </p>
                    <p class="text-danger">
                      Semua User tidak boleh ada yang melakukan transaksi Mutasi
                      Stock ..!!
                    </p>
                    <div class="my-2 text-xl p-2">
                      Tanggal Backup
                      <span class="ms-4 p-2 border rounded">
                        {{ g.currentDate }}
                      </span>
                    </div>
                    <div class="my-2 text-info">
                      LOKASI DATA BACKUP {{companyProfile?.lokasiDataBackup}}\
                      <!-- LOKASI DATA BACKUP {{companyProfile?.lokasiDataBackup}}\BACKUP_{{(g.currentDate).replaceAll(' ',
                      '')}}.DMP -->
                    </div>
                    <div class="my-4">
                      <button class="btn btn-outline-primary me-4" (click)="getListBackup()"
                        [disabled]="loadings['getListBackup']">
                        <i class="fa fa-{{ loadings['getListBackup'] ? 'refresh fa-spin' : 'list' }} me-2"></i>
                        History Proses
                      </button>
                      <button class="btn btn-primary" (click)="processBackupDb()"
                        [disabled]="loadings['processBackupDb']">
                        <i class="fa fa-{{ loadings['processBackupDb'] ? 'refresh fa-spin' : 'check' }} me-2"></i>
                        Proses Backup
                      </button>
                    </div>
                    <div *ngIf="g.statusBackupDb">
                      <div class="border rounded text-danger text-center p-3">
                        <i class="fa fa-refresh fa-spin me-2"></i>
                        Backup database {{g.statusBackupDb}}
                      </div>
                    </div>
                    <div class="border rounded text-danger text-center p-3" *ngIf="messages['processBackupDb']">
                      <i class="fa fa-exclamation-circle me-2"></i>
                      {{messages['processBackupDb']}}
                    </div>
                  </div>

                  <c-card class="mt-3" *ngIf="clicked['getListBackup'] && !loadings['getListBackup']">
                    <c-card-body>
                      <div class="text-center">
                        <h5 class="text-start">
                          History Proses
                          <span class="float-end" *ngIf="messages['freeDiskSpaceBackup']">
                            Sisa harddisk: {{messages['freeDiskSpaceBackup']}} </span>
                        </h5>
                        <table class="table table-sm table-bordered table-striped table-hover">
                          <thead class="table-dark">
                            <tr>
                              <th scope="col">No</th>
                              <th scope="col">Kode Gudang</th>
                              <th scope="col">Tanggal Backup</th>
                              <th scope="col">Besar (MB)</th>
                              <th scope="col">Kode User</th>
                              <th scope="col">Aksi</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngIf="!listBackupDb.length">
                              <td colspan="5" class="text-center">No data available</td>
                            </tr>
                            <tr *ngFor="let item of listBackupDb; let i = index" title="{{item.fileName}}">
                              <td>{{i + 1}}</td>
                              <td>{{item.outletCode}}</td>
                              <td>{{item.datetime}}</td>
                              <td>{{item.sizeInMB}}</td>
                              <td>{{item.userId}}</td>
                              <td>
                                <button class="btn btn-outline-primary btn-sm me-2" (click)="downloadBackup(item)"
                                  [disabled]="loadings['downloadBackup']" title="Download" *ngIf="userData.roleId >= 3">
                                  <i class="fa fa-download"></i>
                                </button>
                                <button class="btn btn-outline-danger btn-sm" (click)="deleteBackup(item)"
                                  [disabled]="loadings['deleteBackup']" title="Delete" *ngIf="userData.roleId >= 3">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </c-card-body>
                  </c-card>
                </ng-container>

                <!-- Cek Data Stock Minus -->
                <ng-container *ngIf="selectedMenu === 'Cek Data Stock Minus'">
                  <div class="row mt-4">
                    <div class="col-4">
                      Tanggal Stock Barang
                      <span class="float-end">:</span>
                    </div>
                    <div class="col-4">
                      <input type="text" id="tglTransaksi" class="form-control" aria-describedby="tglTransaksi"
                        #dp="bsDatepicker" [bsConfig]="dpConfigtrans" bsDatepicker autocomplete="off"
                        [(ngModel)]="paramTglTransaksi" (ngModelChange)="onTglTransaksiChange($event)"
                        placeholder="{{ 'Tanggal transaksi' | translate }}" />
                    </div>
                    <div class="col-4">
                      <div class="d-flex align-items-center" style="height: 40px">
                        <span class="badge bg-primary h-100 d-flex align-items-center">
                          {{ dateRangeString }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="border-top mt-4 pt-3" *ngIf="loadingState['submit']">
                    <div class="loading-input">
                      <i class="fa fa-spinner fa-spin"></i>
                      <span>Loading...</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end align-items-center border-top mt-4 pt-3"
                    *ngIf="!loadingState['submit']">
                    <c-dropdown>
                      <button cButton cDropdownToggle color="primary" variant="outline" class="w-120">
                        <i class="fa fa-print me-2"></i>
                        Print
                      </button>
                      <ul cDropdownMenu>
                        <li>
                          <button class="btn btn-outline-primary w-100 mb-2" (click)="doSubmit('preview')">
                            Preview PDF
                          </button>
                        </li>
                        <li>
                          <button class="btn btn-outline-primary w-100 mb-2" (click)="doSubmit('pdf')">
                            Download PDF
                          </button>
                        </li>
                        <li>
                          <button class="btn btn-outline-primary w-100" (click)="doSubmit('csv')">
                            Download CSV
                          </button>
                        </li>
                      </ul>
                    </c-dropdown>
                  </div>
                </ng-container>
                <!-- Cek Data Pengiriman (D.O) -->
                <ng-container *ngIf="selectedMenu === 'Cek Data Pengiriman (D.O)'">
                  <div class="row mt-4">
                    <h4 class="d-flex mb-4 justify-content-center">PROSES D.O BALIK (AUTOMATIC)</h4>
                    <div class="col-4">
                      Tanggal Kirim, Dari
                      <span class="float-end">:</span>
                    </div>
                    <div class="col-4">
                      <input type="text" id="tglTransaksi" class="form-control" aria-describedby="tglTransaksi"
                        #dp="bsDatepicker" [bsConfig]="dpConfigtrans" bsDatepicker autocomplete="off"
                        [(ngModel)]="startTglKirim" placeholder="{{ 'Tanggal transaksi' | translate }}" />
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col-4">
                      Tanggal Kirim, S.D
                      <span class="float-end">:</span>
                    </div>
                    <div class="col-4">
                      <input type="text" id="tglTransaksi" class="form-control" aria-describedby="tglTransaksi"
                        #dp="bsDatepicker" [bsConfig]="dpConfigtrans" bsDatepicker autocomplete="off"
                        [(ngModel)]="endTglKirim" placeholder="{{ 'Tanggal transaksi' | translate }}" />
                    </div>
                  </div>

                  <hr>

                  <div class="text-end mt-2">
                    <button class="btn btn-primary w-140" (click)="goToCekDataPengiriman()">
                      <i class="fa fa-check me-2"></i> Proses</button>
                  </div>
                </ng-container>

                <ng-container *ngIf="['Cek Hasil Kirim Data Ke HQ'].includes(selectedMenu)">
                  <div class="row mt-2">
                    <div class="col-4">
                      Gudang
                      <span class="float-end">:</span>
                    </div>
                    <div class="col">
                      <ng-container *ngIf="loadingState['Gudang']">
                        <div class="loading-input">
                          <i class="fa fa-spinner fa-spin"></i>
                          <span>Loading...</span>
                        </div>
                      </ng-container>
                      <ngx-select-dropdown [multiple]="false" [config]="configSelect" [options]="listParams['Gudang']"
                        [(ngModel)]="selectedParam['Gudang']" *ngIf="!loadingState['Gudang']">
                      </ngx-select-dropdown>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="['Cek Hasil Kirim Data Ke HQ'].includes(selectedMenu)">
                  <div class="row mt-2">
                    <div class="col-4">
                      Tanggal Transaksi
                      <span class="float-end">:</span>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" bsDaterangepicker [bsConfig]="dpConfigtrans"
                        [(ngModel)]="rangeDateVal" #dp="bsDaterangepicker" />
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="['Cek Hasil Kirim Data Ke HQ'].includes(selectedMenu)">
                  <hr>
                  <div class="text-end mt-2">
                    <button class="btn btn-primary w-140" (click)="goToCheckGudangVsHQ()">
                      <i class="fa fa-check me-2"></i> Proses Cek </button>
                  </div>
                </ng-container>


              </c-card-body>
            </c-card>
          </div>
        </div>
      </c-card-body>
    </c-card>
  </div>
</div>
