<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Detail Pesanan" | translate }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-outline-dark btn-120"
            (click)="onBackPressed()"
          >
            <i class="fa fa-chevron-left icon-gap" aria-hidden="true"></i>
            {{ "Kembali" | translate }}
          </button>
        </div>
        <div class="col text-end">
          <button
          type="button"
          class="btn btn-outline-success me-2 btn-120"
          (click)="onPrint()"
          [disabled]="updatingStatus || disabledPrintButton"
        >
          <i class="fa fa-print icon-gap" *ngIf="!RejectingOrder"></i>
          <i class="fa fa-spinner fa-spin" *ngIf="RejectingOrder"></i>
          {{ "Cetak" | translate }}
        </button>
        
          <!-- <button
            type="button"
            class="btn btn-success text-white me-2 btn-120"
            (click)="onButtonActionPressed('S')"
            [disabled]="RejectingOrder || updatingStatus || disabledPrintButton"
          >
            <i class="fa fa-print icon-gap" *ngIf="!updatingStatus"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="updatingStatus"></i>
            {{
              alreadyPrint ? ("Cetak Ulang" | translate) : ("Cetak" | translate)
            }}
          </button> -->
          <button
            type="button"
            class="btn btn-outline-danger me-2"
            (click)="onShowModalBatal()"
            [disabled]="updatingStatus || disabledCancelButton"
          >
            <i class="fa fa-times icon-gap"></i>
            {{ "Batalkan Pesanan" | translate }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="divider mt-4"></div>
        <div class="col">
          <div class="row order-details">
            <div class="detail-item">
              <span class="label">{{ "Nomor Pesanan" | translate }}</span>
              <span class="value">{{ selectedOrder.nomorPesanan }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Tanggal Kirim Barang" | translate }}</span>
              <span class="value">{{ selectedOrder.tglBrgDikirim }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Tanggal Pesanan" | translate }}</span>
              <span class="value">{{ selectedOrder.tglPesan }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Tanggal Batal Pesanan" | translate }}</span>
              <span class="value">{{ selectedOrder.tglKadaluarsa }}</span>
            </div>
            <div class="detail-item" *ngIf="!selectedOrder.dateCancel?.includes('1901')">
              <span class="label">{{ "Tanggal Pesanan Batalkan" | translate }}</span>
              <span class="value">{{ selectedOrder.dateCancel }}</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row order-details">
            <div class="detail-item">
              <span class="label">{{ "Pemesan(Tujuan)" | translate }}</span>
              <span class="value"> {{ selectedOrder.kodePemesan }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Catatan 1" | translate }}</span>
              <span class="value">{{ selectedOrder.keterangan1 }} </span>
            </div>

            <div class="detail-item">
              <span class="label">{{ "Catatan 2" | translate }}</span>
              <span class="value">{{ selectedOrder.keterangan2 }} </span>
            </div>

            <div class="detail-item">
              <span class="label">{{ "Status Pesanan" | translate }}</span>
              <span class="value">PESANAN {{  g.getStatusReceivingOrderLabel(selectedOrder.statusPesanan) }} </span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Jumlah Item" | translate }}</span>
              <span class="value">{{ getJumlahItem() }} </span>
            </div>
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row justify-content-between">
        <div class="col-6 d-flex align-items-center">

        </div>
        
        <div class="col-6">
          <div class="d-grid gap-3 d-md-flex justify-content-end mb-3">
            <div class="col-9 d-flex align-items-center">
              <c-input-group>
                <span cInputGroupText id="basic-addon1"><i class="fa fa-search"></i></span>
                <input #listViewOrders id="appendedInputButton" [(ngModel)]="searchListViewOrder" class="form-control"
                  size="16" type="text" placeholder="Search..." (ngModelChange)="onFilterTextChange($event)">
              </c-input-group>
            </div>
          </div>

        </div>
      </div>
      <div class="table-responsive">
        <ng-container>
          <div *ngIf="loading">
            <app-loading></app-loading>
          </div>
          <table bordered [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead>
              <tr>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
                class="text-center align-items-start" rowspan="2">
                 Kode Barang</th>
                 <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 15%;"
                 class="text-center align-items-start" rowspan="2">
                   Nama Barang</th>
                 <th scope="col" style="background-color: #e55353; color:white; vertical-align: middle; width: 10%;"
                 class="text-center align-items-start btn-danger" colspan="2">Konversi Pemesan</th> <!-- Masih sejajar -->

                <th scope="col" style="background-color: #e55353; color:white; vertical-align: middle; width: 10%;"
                  class="text-center align-items-start btn-danger" colspan="2">Qty Pesan</th> <!-- Masih sejajar -->
                  <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
                  class="text-center align-items-start" rowspan="2">
                    Total Pesanan
                  </th>
                  <th scope="col" style="background-color: #e55353; color:white; vertical-align: middle; width: 10%;"
                  class="text-center align-items-start btn-danger" colspan="2">Konversi Gudang</th> <!-- Masih sejajar -->
                  <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle; width: 10%;"
                  class="text-center align-items-start" rowspan="2">
                    Keterangan <br>
                    -Perbedaan Konversi-
                  </th>
              </tr>
              <tr>
              <th scope="col" class="text-center"
                style="background-color: #3c4b64; color:white; vertical-align: middle; ">Konv.</th>
              <th scope="col" class="text-center"
                style="background-color: #3c4b64; color:white; vertical-align: middle;">Satuan</th>

                <th scope="col" class="text-center"
                  style="background-color: #3c4b64; color:white; vertical-align: middle; ">Besar</th>
                <th scope="col" class="text-center"
                  style="background-color: #3c4b64; color:white; vertical-align: middle;">Kecil</th>
             
                <th scope="col" class="text-center"
                  style="background-color: #3c4b64; color:white; vertical-align: middle; ">Konv.</th>
                <th scope="col" class="text-center"
                  style="background-color: #3c4b64; color:white; vertical-align: middle;">Satuan</th>
                </tr>
            </thead>
            <tbody *ngIf="!filteredList || filteredList.length === 0">
              <tr>
                <td colspan="9" scope="col" class="text-center">
                  No Data Found
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let data of filteredList | paginate: {
                  itemsPerPage: itemsPerPage,
                  currentPage: listCurrentPage,
                  totalItems:totalLength,
                  id:'dataTableDetail'
              }; let i = index ">
                <!-- <td class="text-center">{{ data?.kodeBarang }}</td> -->
                <td class="text-center">{{data?.kodeBarang}}</td>
                <td class="text-center">{{ data?.namaBarang }}</td>

                <td class="text-center">{{ data?.konversi?.toFixed(2) }}</td>
                <td class="text-center">{{ data?.satuanKecil}}/{{data?.satuanBesar}}</td>

                <td class="text-center">{{data?.qtyPesanBesar?.toFixed(2)}}</td>
                <td class="text-center">{{data?.qtyPesanKecil?.toFixed(2)}}</td>                    
                <td class="text-center">{{((helper.sanitizedNumber(data.qtyPesanBesar) *
                  data.konversi) +  helper.sanitizedNumber(data.qtyPesanKecil)).toFixed(2) }}
                </td>
                <td class="text-center">{{ data?.konversiProduct?.toFixed(2) }}</td>
                <td class="text-center">{{ data?.satuanKecilProduct}}/{{data?.satuanBesarProduct}}</td> 
                <td class="text-center">
                  <span class="text-center text-success" *ngIf="data?.keterangan?.toUpperCase() == statusSameConversion">
                    {{ data?.keterangan?.toUpperCase() }}
                  </span>
                  <span class="text-center text-danger" *ngIf="data?.keterangan?.toUpperCase() != statusSameConversion">
                    {{ data?.keterangan?.toUpperCase() }}
                  </span>
              </tr>
            </tbody>
          </table>

          <c-pagination class="text-right">
            <pagination-controls (pageChange)="listCurrentPage = $event" id="dataTableDetail"></pagination-controls>
          </c-pagination>
        </ng-container>
      </div>

    </c-card-body>
  </c-card>
</div>

<c-modal #formModalBatal [fullscreen]="false" [visible]="isShowModalBatal" backdrop="static" #modalLg  size="lg"
id="formModalBatal"    [attr.aria-hidden]="!isShowModalBatal">
  <c-modal-header>
    <h5 cModalTitle>Konfirmasi Batal Pesanan</h5>
    <button (click)="isShowModalBatal = false" type="button" class="btn btn-primary ms-2" [cModalToggle]="formModalBatal.id"
      cButtonClose><i class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <div >
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Pemesan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              [value]="(selectedOrder.kodePemesan|| '')"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Nomor Pesanan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control input-disabled"
              [value]="(selectedOrder?.nomorPesanan || '')"              
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Pesan" | translate
          }}</label>
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="(selectedOrder.tglPesan || '')"              
            />
          </div>

          <label class="col-sm-3 col-form-label">{{
            "Tgl. Brg. Dikirim" | translate
          }}</label>
          <div class="col-sm-3 ">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="(selectedOrder?.tglBrgDikirim || '')"              

            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Batal Pesanan" | translate
          }}</label>
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control input-disabled"
              readonly
              [value]="(selectedOrder?.tglKadaluarsa || '')"              
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Alasan dibatalkan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="alasanDiBatalkan" 
              (keypress)="g.conditionInput($event, 'excludedSensitive')"
              maxlength="50"
            />
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column">
          <span class="fw-bold text-center text-red">Pastikan Semua Data Sudah Benar ...!!</span>
          <span class="fw-bold text-center text-red">Data yang sudah dikirim tidak dapat dirubah kembali...!!</span>
        </div>
        
      </div>
    </c-modal-body>
    <c-modal-footer class="justify-center">
      <button type="button" class="btn btn-light  w-180 me-3" data-bs-dismiss="modal" (click)="isShowModalBatal = false">Close</button>
      <button type="button" class="btn btn-primary text-white  w-180" (click)="updateStatus()">Proses Batal Pesanan</button>
    </c-modal-footer>
</c-modal>