<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Master" | translate }} {{ "RSC" | translate }}</h5>
        </div>
        <div class="col text-end">
          <button
            *ngIf="this.roleId === '3' || this.roleId === '2'"
            type="button"
            class="btn btn-success text-white me-2 btn-120"
            (click)="actionBtnClick(CONST_ACTION_ADD)"
          >
            <i class="fa fa-plus pe-1 icon-12" aria-hidden="true"></i>
            {{ "Tambah" | translate }}
          </button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col-sm-12">
          <i
            class="fa fa-exclamation-circle text-center"
            style="font-size: large; color: #3c4b64"
          ></i>
          &nbsp;
          <span class="fw-bold"
            >Master RSC digunakan untuk melihat daftar Kode RSC, Nama RSC,
            Tanggal Pembuatan, dan Pembaruan.</span
          >
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          class="row-border hover"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
