<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Ubah" | translate }} {{ "User" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Kode User" | translate
          }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="kodeUser" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Nama User" | translate
          }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="namaUser" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Kode Password" | translate
          }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="kodePassword" />
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Status Aktif" | translate
          }}</label>
          <c-col xs="8">
            <c-row class="mt-2">
              <c-col xs="6">
                <c-form-check class="flex align-items-center">
                  <input cFormCheckInput checked id="active" type="radio" value="A" name="status" formControlName="status" (change)="onChangeSelect($event, 'status')"/>
                  <label cFormCheckLabel for="active" style="margin-left: 4px;">Active</label>
                </c-form-check>
              </c-col>
              <c-col xs="6">
                <c-form-check class="flex align-items-center">
                  <input cFormCheckInput id="inactive" type="radio" value="I" name="status" formControlName="status" (change)="onChangeSelect($event, 'status')"/>
                  <label cFormCheckLabel for="inactive" style="margin-left: 4px;">Inactive</label>
                </c-form-check>
              </c-col>
            </c-row>
          </c-col>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Jabatan" | translate
          }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="jabatan" />
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Keterangan Lokasi" | translate
          }}</label>
          <div class="col-sm-10">
            <ngx-select-dropdown
              [multiple]="false"
              [config]="configSelectLokasi"
              [options]="listLokasi"
              formControlName="defaultLocation"
              id="default-location">
            </ngx-select-dropdown>
          </div>
        </div>


        <div class="divider"></div>
        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button
            class="btn btn-light btn-120"
            (click)="onPreviousPressed()"
            [disabled]="editing"
          >
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-info text-white btn-150"
            type="submit"
            [disabled]="editing"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="editing"></i>
            <span *ngIf="!editing"
              >{{ "Simpan" | translate }} {{ "User" | translate }}</span
            >
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
