<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>
            {{ 'Edit User' | translate }} {{ kodeUser }}
          </h5>
        </div>
        <div class="col text-end">
          <button type="button" class="btn btn-secondary text-white me-2">
            {{ 'Filter' | translate }}
          </button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div>
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

          <div class="row mb-3 align-items-center">
            <div class="col-2">
              <label for="kodeUser" class="col-form-label">Kode</label>
            </div>
            <div class="col-5">
              <input type="text" id="kodeUser" class="form-control" aria-describedby="kodeUserHelpInline" name="kodeUser" [(ngModel)]="user.kodeUser" required>
            </div>
            <div class="col-auto">
              <span id="kodeUserHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>

          <div class="row mb-3 align-items-center">
            <div class="col-2">
              <label for="namaUser" class="col-form-label">Nama</label>
            </div>
            <div class="col-5">
              <input type="text" id="namaUser" class="form-control" aria-describedby="namaUserHelpInline" name="namaUser" [(ngModel)]="user.namaUser" required>
            </div>
            <div class="col-auto">
              <span id="namaUserHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary me-2" (click)="backToIndex()">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </c-card-body>
  </c-card>
</div>
