.order-details {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.label {
  font-weight: bold;
  width: 30%;
  /* Adjust width as needed */
  text-align: left;
  padding-right: 10px;
}

.value {
  width: 70%;
  /* Adjust width as needed */
  text-align: left;
  padding-left: 10px;
}

.label2 {
  font-weight: bold;
  /* Adjust width as needed */
  text-align: left;
  padding-right: 10px;
}

.value2 {
  /* Adjust width as needed */
  text-align: left;
  padding-left: 10px;
}

.input-column {
  width: 160px;

  .inputQty {
    width: 85px;
  }

  .inputNumberSpace input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin-left: 0.5em;
  }

  .inputNumberSpace input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .inputNumberSpace input[type='number'] {
    width: 6em;
    text-align: right;
  }
}

.alert-expired{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #b51823;
    color:#b51823 ;
    font-size: medium;
    border-radius: 12px;
    max-width: 850px;
    text-align: center;
    font-weight: bold;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    margin:auto
}

