<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row justify-content-between mb-2">
        <div class="col-8"></div>
        <div class="col-4 d-flex justify-content-end">
          <c-input-group>
            <span cInputGroupText id="basic-addon1"><i class="fa fa-search"></i></span>
            <input #listViewOrders id="appendedInputButton" [(ngModel)]="searchListViewOrder" class="form-control"
              size="16" type="text" placeholder="Search..." (ngModelChange)="onFilterTextChange($event)">
          </c-input-group>

        </div>
      </div>
      <div class="table-responsive">
        <ng-container>
          <div *ngIf="loading">
            <app-loading></app-loading>
          </div>



          <table *ngIf="filteredList as list" bordered [hover]="true" [responsive]="true" [striped]="true"
            align="middle" cTable class="mb-0 border">
            <thead>
              <tr>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                  class="text-center align-items-start" rowspan="2">Kode</th>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                  class="text-center align-items-start" rowspan="2">Nama
                  Barang</th>
                <th scope="col" style="background-color: #e55353; color:white; vertical-align: middle;"
                  class="text-center align-items-start" rowspan="2">
                  Total Qty Pesan</th>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                  class="text-center align-items-start btn-danger" rowspan="2">Qty
                  Kirim Besar</th> <!-- Masih sejajar -->
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                  class="text-center align-items-start btn-danger" rowspan="2">Qty
                  Kirim Besar</th> <!-- Masih sejajar -->
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                  class="text-center align-items-start" rowspan="2">
                  Konversi</th>
                <th scope="col" style="background-color: #e55353; color:white; vertical-align: middle;"
                  class="text-center align-items-start" rowspan="2">
                  Total Qty Kirim
                </th>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                  class="text-center align-items-start" rowspan="2">
                  History Expired
                </th>
                <th scope="col" style="background-color: #3c4b64; color:white; vertical-align: middle;"
                  class="text-center align-items-start" rowspan="2">
                  RUBAH QTY KIRIM
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!listOrderData || listOrderData.length === 0">
              <tr>
                <td colspan="8" scope="col" class="text-center">
                  No Data Found
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let data of list  | paginate: {
                itemsPerPage: 5,
                currentPage: listCurrentPage,
                totalItems:totalLengthList,
                id:'dataTableDetail'
            };  let i = index">
                <td class="text-center">{{ data.kodeBarang }}</td>
                <td class="text-center">{{ data.namaBarang }}</td>
                <td class="text-center">{{ data.totalQtyPesan }} {{data.satuanKecil}}</td>
                <!-- <td class="text-center">{{ data.qtyBKirim }} {{ data.satuanBesar }}</td> -->

                <td class="text-center">{{ data.qtyBKirim }} {{data.satuanBesar}}</td>
                <td class="text-center">{{ data.qtyKKirim }} {{data.satuanKecil}}</td>
                <td class="text-center">{{ data.konversi }}</td>
                <td class="text-center">{{ data.totalQtyKirim }} {{data.satuanKecil}}</td>
                <td class="text-center">
                  <button class="btn btn-sm action-view btn-outline-success w-50"><i class="fa fa-check pe-1"></i> Cek</button>
                </td>
                
                <td class="text-center">
                  <button class="btn btn-sm action-view btn-outline-danger w-75">Rubah Qty</button>
                </td>
                <!-- <td class="text-center input-column">
                  <div class="d-flex" style="gap: 5px;">
                    <input [ngClass]="{'form-invalid': validationMessages[i]}" min="0"
                      class="form-control text-center inputQty inputNumberSpace" [(ngModel)]="data.qtyKKirim"
                      (input)="onInputValueItemDetail($event, i, 'numericDot', 'kecil')"
                      (blur)="onBlurQtyPesanKecil(i)" />
                    <span class="d-flex align-items-center justify-content-center">
                      / {{data.satuanKecil}}
                    </span>
                  </div>
                </td> -->

                <!-- <td class="text-center">
                  {{(helper.sanitizedNumber(data.qtyBKirim) *
                  data.konversi + data.qtyKKirim)}} {{data.satuanKecil}}
                  <span style="font-size: 14px;" class="text-danger" *ngIf="validationMessages[i]">
                    {{ validationMessages[i] }}
                  </span>
                </td> -->
              </tr>
            </tbody>
          </table>

          <div class="mt-2 text-start">
            <c-pagination>
              <pagination-controls (pageChange)="listCurrentPage = $event" id="dataTableDetail"></pagination-controls>
            </c-pagination>
          </div>
        </ng-container>
      </div>
    </c-card-body>
  </c-card>
</div>