<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <c-row>
        <div class="d-grid gap-3 d-md-flex justify-content-start align-items-center">
          <button class="btn btn-light btn-120" (click)="onBackPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
          <h5>{{ "Detail Barang Untuk Pemakaian Sendiri" | translate }}</h5>
        </div>       
      </c-row>
    </c-card-body>
  </c-card>

  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col text-end">
          <!-- <app-print-button
            [alreadyPrint]="alreadyPrint"
            [disabledPrintButton]="disabledPrintButton"
            [updateStatusUrl]="'/api/delivery-order/update-print-status'"
            [generatePdfUrl]="'/api/delivery-order/delivery-order-report'"
            [updatePrintStatusParam]="paramUpdatePrintStatus"
            [generateReportParam]="paramGenerateReport"
            (reloadTable)="reloadTable()"
          ></app-print-button> -->
          <div class="btn-group">
            <button
              class="btn btn-danger text-white btn-150 dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              (click)="onCetakAtauPrintReport(false, this.selectedOrder.nomorTransaksi)"
            >
              <i class="fa fa-file-pdf-o"></i> Cetak / Download Report
            </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  class="dropdown-item"
                  (click)="handleCetakAtauPrint(false)"
                >
                  <i class="fa fa-print"></i> Print Report
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item"
                  (click)="handleCetakAtauPrint(true)"
                >
                  <i class="fa fa-download"></i> Download PDF
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="divider mt-4"></div>

      <div class="row">
        <div class="col">
          <div class="row order-details">
            <div class="detail-item">
              <span class="label">{{ "Nomor Transaksi" | translate }}</span>
              <span class="value">{{ selectedOrder.nomorTransaksi }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Tanggal Transaksi" | translate }}</span>
              <span class="value">{{ g.transformDate(selectedOrder.tglTransaksi) }}</span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="detail-item">
              <span class="label">{{ "Status Transaksi" | translate }}</span>
              <span class="value">{{ getStatusPostingLegend(selectedOrder.statusPosting) }}</span>
            </div>
          <div class="detail-item">
            <span class="label">{{ "Catatan / Keterangan " | translate }}</span>
            <span class="value">{{ selectedOrder.keterangan }}</span>
          </div>
        </div>
      </div>

    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          class="datatable row-border hover stripe"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>

<c-modal
  #modalExpired
  alignment="center"
  [style]="{
    display: 'flex',
    'align-items': 'center',
    'justify-content': 'center'
  }"
  [fullscreen]="false"
  [visible]="isShowModalExpired"
  backdrop="static"
  #modalLg
  size="xl"
  id="formModal"
  [attr.aria-hidden]="!isShowModalExpired"
>
  <c-modal-header>
    <h5 cModalTitle>History Data Expired</h5>
    <button
      (click)="isShowModalExpired = false"
      type="button"
      class="btn btn-primary ms-2"
      cButtonClose
    >
      <i class="fa fa-times"></i>
    </button>
  </c-modal-header>
  <c-modal-body>
    <div class="row" *ngIf="selectedRowData">
      <div class="col-9">
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Nama Barang" | translate }}</label>
          </div>
          <div class="col-8 pe-0 d-flex">
            <div class="col-3 pe-2">
              <input
                type="text"
                class="form-control"
                id="kodeBarang"
                [(ngModel)]="selectedRowData.kodeBarang"
                name="kodeBarang"
                readonly
              />
            </div>
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                id="namaBarang"
                [(ngModel)]="selectedRowData.namaBarang"
                name="namaBarang"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{
              "Konversi Barang" | translate
            }}</label>
          </div>
          <div class="col-8 pe-0">
            <input
              type="text"
              class="form-control"
              id="konversi"
              [value]="
                selectedRowData.konversi +
                ' ' +
                selectedRowData.satuanKecil +
                '/' +
                selectedRowData.satuanBesar
              "
              name="konversi"
              readonly
            />
          </div>
        </div>

        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label class="fw-semibold" for="nomorPesanan">{{
              "Total Qty" | translate
            }}</label>
          </div>
          <div class="col-5 pe-0">
            <input
              type="text"
              placeholder="Nomor pesanan"
              class="form-control"
              id="totalQtyProduksi"
              [value]="this.selectedRowData.totalQty | number : '1.2-2'"
              name="totalQtyProduksi"
              readonly
            />
          </div>
          <div class="col-3 d-flex align-items-start">
            <label for="totalQtyProduksi">{{
              selectedRowData.satuanKecil
            }}</label>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Quantity Besar" | translate }}</label>
          </div>
          <div class="col-5 pe-0">
            <input
              type="text"
              class="form-control"
              id="qtyPemakaianBesar"
              [value]="selectedRowData.qtyBesar | number : '1.2-2'"
              name="qtyPemakaianBesar"
              readonly
            />
          </div>
          <div class="col-3 d-flex align-items-start">
            <label for="qtyPemakaianBesar">{{
              selectedRowData.satuanBesar
            }}</label>
          </div>
        </div>

        <div class="w-100 px-2 py-1 row">
          <div class="col-4 d-flex align-items-center">
            <label for="nomorPesanan">{{ "Quantity Kecil" | translate }}</label>
          </div>
          <div class="col-5 pe-0">
            <input
              type="text"
              class="form-control"
              id="qtyPemakaianKecil"
              [value]="selectedRowData.qtyKecil | number : '1.2-2'"
              name="qtyPemakaianKecil"
              readonly
            />
          </div>
          <div class="col-3 d-flex align-items-start">
            <label for="qtyPemakaianKecil">{{
              selectedRowData.satuanKecil
            }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="table-responsive">
      <ng-container>
        <!-- <div *ngIf="loading">
          <app-loading></app-loading>
        </div> -->
        <table
          bordered
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead>
            <tr>
              <th
                scope="col"
                style="
                  background-color: #3c4b64;
                  color: white;
                  vertical-align: middle;
                  width: 20%;
                "
                class="text-center align-items-start"
                rowspan="2"
              >
                Tgl. Expired
              </th>
              <th
                scope="col"
                style="
                  background-color: #3c4b64;
                  color: white;
                  vertical-align: middle;
                  width: 20%;
                "
                class="text-center align-items-start"
                rowspan="3"
              >
                Keterangan Tanggal
              </th>
              <th
                scope="col"
                style="
                  background-color: #3c4b64;
                  color: white;
                  vertical-align: middle;
                  width: 124px;
                "
                class="text-center align-items-start"
                rowspan="2"
              >
                Qty Besar
              </th>
              <th
                scope="col"
                style="
                  background-color: #3c4b64;
                  color: white;
                  vertical-align: middle;
                  width: 124px;
                "
                class="text-center align-items-start btn-danger"
                rowspan="2"
              >
                Qty Kecil
              </th>
              <!-- Masih sejajar -->
              <th
                scope="col"
                style="
                  background-color: #3c4b64;
                  color: white;
                  vertical-align: middle;
                  width: 10%;
                "
                class="text-center align-items-start"
                rowspan="2"
              >
                Total Qty Expired
              </th>
            </tr>
          </thead>
          <tbody *ngIf="!listDataExpired || listDataExpired.length === 0">
            <tr>
              <td colspan="9" scope="col" class="text-center">No Data Found</td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let data of listDataExpired; let i = index">
              <td class="text-center">
                {{ data.TGL_EXPIRED | date : "dd MMM yyyy" }}
              </td>

              <td class="text-center">
                {{ data.TGL_EXPIRED | date : "dd MMM yyyy" }}
              </td>
              <td class="text-center input-column">
                <div class="d-flex justify-content-center" style="gap: 5px">
                  {{ helper.abs(data.QTY_BESAR) | number : "1.2-2" }}
                  <span
                    class="d-flex align-items-center justify-content-center"
                  >
                    / {{ data.SATUAN_BESAR }}
                  </span>
                </div>
              </td>

              <td class="text-center">
                <div class="d-flex justify-content-center" style="gap: 5px">
                  {{ helper.abs(data.QTY_KECIL) | number : "1.2-2" }}
                  <span
                    class="d-flex align-items-center justify-content-center"
                  >
                    / {{ data.SATUAN_KECIL }}
                  </span>
                </div>
              </td>

              <td class="text-center">
                {{ helper.abs(data.TOTAL_QTY) | number : "1.2-2" }}
                {{ data.SATUAN_KECIL }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>

    <div
      class="row justify-content-between gap-3 mt-3"
      *ngIf="selectedOrder"
      style="margin-right: 20px"
    >
      <div class="col-4 d-flex"></div>
      <div class="col-6 d-flex justify-content-end align-items-center gap-3">
        <p class="mb-0">
          <strong>TOTAL QTY EXPIRED:</strong>
          {{ getTotalQty() | number : "1.2-2" }}
          {{ selectedOrder.SATUAN_KECIL }}
        </p>
      </div>
      <div class="col-2"></div>
    </div>
  </c-modal-body>
</c-modal>

<!-- <div class="modal fade" id="itemDetailModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Detail Barang</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row mb-2">
            <div class="col-4 fw-bold">Kode dan Nama Barang</div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="item.kodeBarang" readonly />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4 fw-bold">Konversi Barang</div>
            <div class="col-8">
              <input type="text" class="form-control" [(ngModel)]="item.konversi" readonly />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4 fw-bold">Quantity Besar</div>
            <div class="col-8">
              <input type="number" class="form-control" [(ngModel)]="item.qtyBesar" readonly />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4 fw-bold">Quantity Kecil</div>
            <div class="col-8">
              <input type="number" class="form-control" [(ngModel)]="item.qtyKecil" readonly />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4 fw-bold">Total QTY</div>
            <div class="col-8">
              <input type="text" class="form-control fw-bold text-primary" [(ngModel)]="item.totalQty" readonly />
            </div>
          </div>

          <table class="table table-bordered">
            <thead class="table-primary">
              <tr>
                <th>Tgl Expired</th>
                <th>Keterangan Tanggal</th>
                <th>Qty Besar</th>
                <th>Qty Kecil</th>
                <th>Total Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exp of expiredItems">
                <td>{{ exp.tglExpired }}</td>
                <td>{{ exp.keteranganTanggal }}</td>
                <td>{{ exp.qtyBesar }} {{ item.satuanBesar }}</td>
                <td>{{ exp.qtyKecil }} {{ item.satuanKecil }}</td>
                <td>{{ exp.totalQty }} {{ item.satuanKecil }}</td>
              </tr>
            </tbody>
          </table>

          <div class="text-end fw-bold text-primary">
            TOTAL QTY EXPIRED: {{ totalQtyExpired }} PCS
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keluar Menu</button>
      </div>
    </div>
  </div>
</div> -->

