.hover-danger:hover {
  background-color: #dc3545 !important; /* Bootstrap danger */
  color: white !important;
  border-color: #dc3545 !important;
}
.hover-danger:hover i {
  color: white !important; /* ensure icon turns white too */
}

.btn-200 {
  width: 200px !important; /* default to desktop */
}

// .span-gudang{
 
// }

@media (max-width: 767.98px) {
  .span-gudang {
    margin: auto;
     width: 100%;
  }

  .btn-200 {
    width: 100% !important;
  }
}

.card-copyright{
  position: fixed;
  bottom: 50px;
  width: 100%;  
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow-x: auto;
  height: 70px;
  z-index: 0;
}

.card-copyright-footer{
  width: 100%;  
  padding: 10px;
  font-size: small;
  // border-radius: 5px;
  // border: 1px solid #ddd;
  overflow-x:auto;
  height: 30px;
}

