<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>Proses Tutup Bulan (Closing)</h5>
        </div>
        <div class="col text-end">
          <button class="btn btn-outline-primary" *ngIf="currentView === 'closing'" (click)="setCurrentView('history')">
            Riwayat Proses
          </button>
          <button class="btn btn-outline-primary" *ngIf="currentView === 'history'" (click)="setCurrentView('closing')">
            Proses Closing
          </button>
        </div>
      </div>
    </c-card-body>
  </c-card>

  <c-card class="mb-2" *ngIf="currentView === 'closing'">
    <c-card-body>
      <div class="text-center">
        <div class="mx-auto card" style="width: fit-content;">
          <div class="card-body">

            <div class="text-center mb-3">
              Pastikan semua transaksi pada periode tersebut sudah di 'Entry'
              <br>(Tidak ada transaksi yang tertunda/pending)
            </div>
            <hr>
            <div class="row mb-2">
              <div class="col-4 text-start">
                Gudang
              </div>
              <div class="col-8">
                <input cFormControl class="text-end" disabled type="text" [(ngModel)]="inputGudang">
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-start">
                Tutup Bulan terakhir
              </div>
              <div class="col-5">
                <input cFormControl class="text-end" disabled type="text" [value]="lastMonth + ' - ' + lastYear">
              </div>
              <div class="col-3">
                <input cFormControl class="text-end" disabled type="text" [(ngModel)]="lastDate">
              </div>
            </div>
            <hr>
            <div class="row mb-3">
              <div class="col-4 text-start">
                Periode Bulan-Tahun
              </div>
              <div class="col-2">
                <select cSelect class="text-end" [(ngModel)]="selectedMonth" (change)="onChangeMonthYear()">
                  <option *ngFor="let num of rangeBulan" [value]="num">{{num}}</option>
                </select>
              </div>
              <div class="col-3">
                <select cSelect class="text-end" [(ngModel)]="selectedYear" (change)="onChangeMonthYear()">
                  <option *ngFor="let num of rangeTahun" [value]="num">{{num}}</option>
                </select>
              </div>
              <div class="col-3">
                <input cFormControl class="text-end" disabled type="text" [ngModel]="selectedLastDate">
              </div>
            </div>
            <div class="text-danger mb-2" *ngIf="!errorInModal">
              Semua User tidak boleh ada yang melakukan transaksi Mutasi Stock ..!!
            </div>
            <p class="mb-2 fw-bold text-danger" *ngIf="errorInModal" [innerHTML]="errorInModal">
            </p>
            <hr>
            <div class="text-end">
              <button class="btn btn-primary" (click)="confirmProcess()" [disabled]="errorInModal">
                <i class="fa fa-check me-2"></i>
                Proses Closing
              </button>
            </div>
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>

  <c-card class="mb-2" *ngIf="currentView === 'history'">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>History Proses Tutup Bulan</h5>
        </div>
        <div class="col text-end">
        </div>
      </div>
      <div class="table"></div>
    </c-card-body>
  </c-card>
</div>

<c-modal #formModalProcess [fullscreen]="false" [visible]="isShowModalProcess" backdrop="static" #modalLg
  id="formModalProcess" [attr.aria-hidden]="!isShowModalProcess">
  <c-modal-header>
    <h5 cModalTitle>Konfirmasi Update Saldo Awal</h5>
    <button (click)="isShowModalProcess = false" type="button" class="btn btn-primary ms-2"
      [cModalToggle]="formModalProcess.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p class="text-center fw-bold text-danger">
      -- PERHATIAN --
    </p>
    <p class="text-center fw-bold">
      DATA YANG TELAH DIPROSES <br>TIDAK DAPAT DIULANG KEMBALI ..!!
    </p>
    <hr>
    <div class="d-flex justify-center py-2">
      <button class="btn btn-primary text-white me-3 w-180" (click)="processEndOfMonth()">
        Proses Dilanjutkan
      </button>
      <button class="btn btn-light w-180" (click)="isShowModalProcess = false">
        Batal Proses
      </button>
    </div>
  </c-modal-body>
</c-modal>
