<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Ubah" | translate }} {{ "Supplier" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4 p-2">
    <c-card-body>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-start">
          <div class="col-6 mb-3">
            <div class="row">
              <label class="col-sm-4 col-form-label"
                >{{ "Kode" | translate }}
                <span class="stamp-required show">&nbsp;*</span></label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="code"
                  maxlength="15"
                  (keypress)="conditionInput($event, 'kodeSupplier')"
                />
              </div>
              <div class="col-sm-4"></div>
              <span
                *ngIf="
                  myForm.controls['code']?.hasError('required') &&
                  myForm.controls['code']?.touched
                "
                class="col-sm-8 text-danger"
                >{{ "Wajib diisi (max.15 karakter)" | translate }}
              </span>
              <span
                *ngIf="myForm.controls['code']?.hasError('kodeSupplier')"
                class="col-sm-8 text-danger"
                >{{
                  "Kode Cabang hanya boleh mengandung angka dan tanda dollar sign ($)."
                    | translate
                }}</span
              >
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="row">
              <label class="col-sm-4 col-form-label"
                >{{ "Nama Supplier" | translate }}
                <span class="stamp-required show">&nbsp;*</span></label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  (input)="convertToUppercase('name')"
                  (keypress)="conditionInput($event, 'namaSupplier')"
                  maxlength="50"
                /><span
                  *ngIf="
                    myForm.controls['name']?.hasError('required') &&
                    myForm.controls['name']?.touched
                  "
                  class="col-sm-8 text-danger"
                  >{{ "Wajib diisi (max.50 karakter)" | translate }}
                </span>
                <span
                  *ngIf="myForm.controls['name']?.hasError('namaSupplier')"
                  class="col-sm-8 text-danger"
                  >{{
                    "Nama Supplier hanya boleh mengandung huruf, angka, spasi, ampersand (&), strip (-), tanda kurung (), dan titik (.)."
                      | translate
                  }}</span
                >
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">{{
                "Gudang" | translate
              }}</label>
              <div class="col-sm-8">
                <ngx-select-dropdown
                  [multiple]="false"
                  [options]="defaultOrderGudangList"
                  [config]="configDefaultGudangSelect"
                  [bindLabel]="'kodeSingkat'"
                  [bindValue]="'kodeSingkat'"
                  formControlName="warehouse"
                >
                </ngx-select-dropdown>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="warehouseDesc"
                hidden
              />
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <label class="col-sm-4 col-form-label">{{
                "RSC" | translate
              }}</label>
              <div class="col-sm-8">
                <ngx-select-dropdown
                  [multiple]="false"
                  [options]="rscList"
                  [config]="configRSCSelect"
                  [bindLabel]="'KODE_RSC'"
                  [bindValue]="'KODE_RSC'"
                  formControlName="rsc"
                >
                </ngx-select-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"
            >{{ "Alamat 1" | translate }}
            <span class="stamp-required show">&nbsp;*</span></label
          >
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="address1"
              maxlength="40"
              (keypress)="conditionInput($event, 'excludedSensitive')"
              (input)="convertToUppercase('address1')"
            />
            <span
              *ngIf="
                myForm.controls['address1']?.hasError('required') &&
                myForm.controls['address1']?.touched
              "
              class="col-sm-4 text-danger"
              >{{ "Wajib diisi (max.40 karakter)" | translate }}
            </span>
            <span
              *ngIf="myForm.controls['address1']?.hasError('excludedSensitive')"
              class="col-sm-4 text-danger"
              >{{
                "Alamat 1 hanya boleh mengandung huruf, angka, spasi, titik (.), koma (,),hash (#), strip (-), slash (/), dan tanda kurung ()."
                  | translate
              }}
            </span>
          </div>
          <label class="col-sm-2 col-form-label">{{
            "Kota" | translate
          }}</label>
          <div class="col-sm-4">
            <ngx-select-dropdown
              [multiple]="false"
              [options]="cityList"
              [config]="configCitySelect"
              [bindLabel]="'KETERANGAN_KOTA'"
              [bindValue]="'KODE_KOTA'"
              formControlName="city"
            >
            </ngx-select-dropdown>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Alamat 2" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="address2"
              maxlength="40"
              (keypress)="conditionInput($event, 'excludedSensitive')"
              (input)="convertToUppercase('address2')"
            />
            <span
              *ngIf="myForm.controls['address2']?.hasError('excludedSensitive')"
              class="col-sm-4 text-danger"
              >{{
                "Alamat 2 hanya boleh mengandung huruf, angka, spasi, titik (.), koma (,),hash (#), strip (-), slash (/), tanda ampersand (&),  dan tanda kurung ()."
                  | translate
              }}
            </span>
          </div>
          <label class="col-sm-2 col-form-label">{{
            "Kode POS" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="pos"
              maxlength="10"
              (keypress)="conditionInput($event, 'numeric')"
            />
            <span
              *ngIf="myForm.controls['pos']?.hasError('numeric')"
              class="col-sm-4 text-danger"
              >{{ "Kode Pos hanya boleh mengandung angka" | translate }}
            </span>
          </div>
        </div>

        <div class="divider"></div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Telepon 1" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="telephone1"
              maxlength="40"
              (keypress)="conditionInput($event, 'phone')"
            />
            <span
              *ngIf="myForm.controls['telephone1']?.hasError('phone')"
              class="text-danger"
              >{{
                "Telepon 1 hanya boleh mengandung angka, spasi, strip (-), dan tanda kurung ()."
                  | translate
              }}
            </span>
          </div>
          <label class="col-sm-2 col-form-label">{{
            "Kontak Pribadi" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="contactPerson"
              maxlength="30"
              (keypress)="conditionInput($event, 'contactPerson')"
              (input)="convertToUppercase('contactPerson')"
            />
            <span
              *ngIf="
                myForm.controls['contactPerson']?.hasError('contactPerson')
              "
              class="text-danger"
              >{{
                "Contact Person hanya boleh mengandung huruf, spasi, dan titik (.)."
                  | translate
              }}
            </span>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Telepon 2" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="telephone2"
              maxlength="40"
              (keypress)="conditionInput($event, 'phone')"
            />
            <span
              *ngIf="myForm.controls['telephone2']?.hasError('phone')"
              class="text-danger"
              >{{
                "Telepon 2 hanya boleh mengandung angka, spasi, strip (-), dan tanda kurung ()."
                  | translate
              }}
            </span>
          </div>
          <label class="col-sm-2 col-form-label">{{
            "Telepon Kontak" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              maxlength="30"
              (keypress)="conditionInput($event, 'phone')"
            />
            <span
              *ngIf="myForm.controls['phone']?.hasError('phone')"
              class="text-danger"
              >{{
                "Telepon Kontak Telp hanya boleh mengandung angka, spasi, strip (-), dan tanda kurung ()."
                  | translate
              }}
            </span>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "FAX 1" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="fax1"
              maxlength="30"
              (keypress)="conditionInput($event, 'phone')"
            />
            <span
              *ngIf="myForm.controls['fax1']?.hasError('phone')"
              class="text-danger"
              >{{
                "Fax 1 hanya boleh mengandung angka, spasi, strip (-), dan tanda kurung ()."
                  | translate
              }}
            </span>
          </div>
          <label class="col-sm-2 col-form-label">{{
            "Email" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="email"
              (keypress)="conditionInput($event, 'email')"
              (keyup)="onChangeEmail($event)"
              maxlength="50"
            />
            <span *ngIf="!isEmailValid" class="col-sm-6 text-danger">{{
              "Alamat email tidak valid" | translate
            }}</span>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "FAX 2" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="fax2"
              maxlength="30"
              (keypress)="conditionInput($event, 'phone')"
            />
            <span
              *ngIf="myForm.controls['fax2']?.hasError('phone')"
              class="text-danger"
              >{{
                "Fax 2 hanya boleh mengandung angka, spasi, strip (-), dan tanda kurung ()."
                  | translate
              }}
            </span>
          </div>
        </div>
        <div class="divider"></div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Keterangan" | translate
          }}</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              formControlName="desc"
              maxlength="50"
              (keypress)="conditionInput($event, 'excludedSensitive')"
            />
            <span
              *ngIf="myForm.controls['desc']?.hasError('excludedSensitive')"
              class="text-danger"
              >{{
                "Keterangan hanya boleh mengandung huruf, angka, spasi, titik (.), koma (,),hash (#), strip (-), slash (/), dan tanda kurung ()."
                  | translate
              }}
            </span>
          </div>
          <label class="col-sm-2 col-form-label"
            >{{ "Status" | translate }}
            <span class="stamp-required show">&nbsp;*</span></label
          >
          <c-col xs="4">
            <c-row class="mt-2">
              <c-col xs="6">
                <c-form-check class="flex align-items-center">
                  <input
                    cFormCheckInput
                    checked
                    id="active"
                    type="radio"
                    value="A"
                    formControlName="status"
                  />
                  <label cFormCheckLabel for="active" style="margin-left: 4px"
                    >Aktif</label
                  >
                </c-form-check>
              </c-col>
              <c-col xs="6">
                <c-form-check class="flex align-items-center">
                  <input
                    cFormCheckInput
                    id="inactive"
                    type="radio"
                    value="T"
                    formControlName="status"
                  />
                  <label cFormCheckLabel for="inactive" style="margin-left: 4px"
                    >Tidak Aktif</label
                  >
                </c-form-check>
              </c-col>
            </c-row>
            <span
              *ngIf="
                myForm.controls['status']?.hasError('required') &&
                myForm.controls['status']?.touched
              "
              class="col-sm-8 text-danger"
              >{{ "Wajib diisi" | translate }}
            </span>
          </c-col>
        </div>

        <div class="divider"></div>
        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-info text-white btn-150"
            type="submit"
            [disabled]="isSubmitting"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="isSubmitting"></i>
            <span>{{ "Simpan" | translate }}</span>
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
