<c-card class="mb-4">
  <c-card-body>
    <div class="row">
      <div class="col-lg-6 text-left">
        <img src="./assets/images/dashboard-logo.png" class="img-fluid" style="max-width: 30%;" alt="LOGO DASHBOARD"
          draggable="false">
      </div>
      <div class="col-lg-6">
        <div class="text-end">
          <h4 class="text-end"><strong>PT. FAST FOOD INDONESIA, Tbk</strong></h4>
          <img src="./assets/images/kentucky_fried_chicken.png" class="img-fluid" style="max-width: 150px;" alt="KFC"
            draggable="false">

          <!-- <img src="./assets/images/logo_tacobell.png" class="img-fluid kfc-logo" style="max-width: 150px;" alt="Tacobell"
            draggable="false"> -->
        </div>
      </div>
    </div>
  </c-card-body>
</c-card>

<!-- Terima Pesanan -->
<c-row>

  <c-col md="4" xl="3" xs="6">
    <c-card class="mb-4">
      <c-card-body>
        <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
          <div class="text-medium-emphasis small">Pesanan Belum Diterima</div>
          <div class="fs-5 fw-semibold">__</div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col md="4" xl="3" xs="6">
    <c-card class="mb-4">
      <c-card-body>
        <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
          <div class="text-medium-emphasis small">Pesanan Baru</div>
          <div class="fs-5 fw-semibold">{{ dashboardData?.count?.pesananBaru ?? '-' }}</div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col md="4" xl="3" xs="6">
    <c-card class="mb-4">
      <c-card-body>
        <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
          <div class="text-medium-emphasis small">Pesanan Belum Cetak</div>
          <div class="fs-5 fw-semibold">{{ dashboardData?.count?.pesananBelumCetak ?? '-' }}</div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>

<!-- Pengiriman Pesanan -->
<c-row>

  <c-col md="4" xl="3" xs="6">
    <c-card class="mb-4">
      <c-card-body>
        <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
          <div class="text-medium-emphasis small">Pesanan Belum Dikirim</div>
          <div class="fs-5 fw-semibold">{{ dashboardData?.count?.countPesananBelumDikirim ?? '-' }}</div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col md="4" xl="3" xs="6">
    <c-card class="mb-4">
      <c-card-body>
        <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
          <div class="text-medium-emphasis small">Pengiriman In Transit</div>
          <div class="fs-5 fw-semibold">{{ dashboardData?.count?.countPengirimanBaru ?? '-' }}</div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col md="4" xl="3" xs="6">
    <c-card class="mb-4">
      <c-card-body>
        <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
          <div class="text-medium-emphasis small">D.O Balik In Transit</div>
          <div class="fs-5 fw-semibold">{{ dashboardData?.count?.doBelumBalik ?? '-' }}</div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>



<!-- Copyright -->
<div class="p-3 text-muted card">
  <div class="card-content">
    * This application and its contents are protected by copyright, trademark, and other intellectual property laws.
    Unauthorized use, reproduction, or modification is strictly prohibited.
    <br>PT. Fast Food Indonesia, Tbk reserves the right to take legal action against infringement.
  </div>
</div>
