<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <c-row>
        <h5>{{ "Tambah Penerimaan dari Cabang atau Gudang Lain" | translate }}</h5>
      </c-row>
      <c-row>
        <div class="d-grid gap-3 d-md-flex justify-content-between">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-light btn-120"
            (click)="onFilterTogglePressed()"
            *ngIf="!showFilterSection"
          >
            <i class="fa fa-filter icon-12 icon-gap" aria-hidden="true"></i>
            {{ "Filter" | translate }}
          </button>
          <button
            class="btn btn-light btn-120"
            (click)="onFilterTogglePressed()"
            *ngIf="showFilterSection"
          >
            <i class="fa fa-chevron-up icon-12 icon-gap"></i>
            {{ "Filter" | translate }}
          </button>
        </div>
      </c-row>
      <div [visible]="showFilterSection" cCollapse>
        <div class="divider"></div>
        <c-row class="mb-4 w-50">
          <c-col class="w-75">
            <label class="col-form-label">{{
              "Tanggal Pesan" | translate
            }}</label>
            <input
              type="text"
              id="dateFilter"
              class="form-control"
              bsDaterangepicker
              [bsConfig]="dpConfig"
              aria-describedby="dateFilter"
              [(ngModel)]="dateRangeFilter"
              #dp="bsDaterangepicker"
              placeholder="{{ 'Tanggal Pesan' | translate }}"
            />
          </c-col>
          <c-col xs="3" class="text-right d-flex align-items-end w-50">
            <button
              type="button"
              class="btn btn-outline-success me-2 btn-160"
              (click)="onFilterApplied()"
            >
              {{ "Terapkan Filter" | translate }}
            </button>
          </c-col>
        </c-row>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card>
    <c-card-body>
      <table
        datatable
        [dtOptions]="dtOptions"
        (page.dt)="dtPageChange($event)"
        class="row-border hover"
      ></table>
    </c-card-body>
  </c-card>
</div>
