<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Ubah" | translate }} {{ "Rute" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
         <!-- Nomor Rute dibuat Oleh Raymond 7 Juli 2025 -->
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"
            >{{ "Nomor Rute" | translate }}
            <span class="stamp-required show">&nbsp;*</span>
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="noRute"
              [ngClass]="{ 'is-invalid': (submitted || myForm.controls['noRute'].touched) && myForm.controls['noRute'].invalid }"
              [readOnly]="true"
              [disabled]="true"
            />
            <div *ngIf="(submitted || myForm.controls['noRute'].touched) && myForm.controls['noRute'].errors" class="invalid-feedback">
            <div *ngIf="myForm.controls['noRute'].errors['required']">Wajib diisi (max. 10 angka).</div>
            <div *ngIf="myForm.controls['noRute'].errors['pattern']">Hanya angka yang diterima.</div>
            </div>
            <!-- <span
              *ngIf="
                myForm.controls['noRute'].hasError('required') &&
                myForm.controls['noRute'].touched
              "
              class="text-danger"
              >{{ "Wajib diisi (10 karakter)" | translate }}</span
            >
            <span
              *ngIf="myForm.controls['noRute'].hasError('noRute')"
              class="text-danger"
              >{{ "Nomor Rute hanya boleh mengandung angka." | translate }}
            </span> -->
          </div>
        </div>
        <!-- Nama Rute dibuat Oleh Raymond 7 Juli 2025 -->
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">
            {{ "Nama Rute" | translate }}
            <span class="stamp-required show">&nbsp;* </span>
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="namaRute"
              [ngClass]="{ 'is-invalid': (submitted || myForm.controls['namaRute'].touched) && myForm.controls['namaRute'].invalid }"
              [readOnly]="adding"
              (input)="convertToUppercase('namaRute')"
              (keypress)="conditionInput($event, 'namaRute')"
              maxlength="100"
            />

            <div *ngIf="(submitted || myForm.controls['namaRute'].touched) && myForm.controls['namaRute'].errors" class="invalid-feedback">
            <div *ngIf="myForm.controls['namaRute'].errors['required']">Wajib diisi (max. 100 karakter).</div>
            <div *ngIf="myForm.controls['namaRute'].errors['pattern']">Hanya huruf, angka, dan spasi yang diperbolehkan.</div>
            </div>
            <!-- <span
              *ngIf="
                myForm.controls['namaRute'].hasError('required') &&
                myForm.controls['namaRute'].touched
              "
              class="text-danger"
              >{{ "Wajib diisi (max. 100 karakter)" | translate }}</span
            > -->
            <!-- <span
              *ngIf="myForm.controls['desc'].hasError('desc')"
              class="text-danger"
              >{{
                "Nama Rute hanya boleh mengandung huruf." | translate
              }}
            </span> -->
          </div>
        </div>
 <!-- Kode Gudang dibuat oleh Raymond 7 Juli 2025 -->
          <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">
            {{ "Kode Gudang" | translate }}
            <span class="stamp-required show">&nbsp;* </span>
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              [value]="kodeGudang"
              [disabled]="true"
              [readOnly]="true"
              maxlength="10"
            />
            <!-- <span
              *ngIf="
                myForm.controls['desc'].hasError('required') &&
                myForm.controls['desc'].touched
              "
              class="text-danger"
              >{{ "Wajib diisi (max. 6 karakter)" | translate }}</span
            > -->
            <!-- <span
              *ngIf="myForm.controls['desc'].hasError('desc')"
              class="text-danger"
              >{{
                "Kode Gudang hanya boleh mengandung huruf." | translate
              }}
            </span> -->
          </div>
        </div>


        <!-- status dibuat oleh Raymond 7 Juli 2025-->
              <div class="mb-1 row">
                <label class="col-sm-2 col-form-label">{{ "Status" | translate }}
                  <span class="stamp-required show">&nbsp;*</span></label>
                <c-col xs="8">
                  <c-row class="mt-2">
                    <c-col xs="6">
                      <c-form-check class="flex align-items-center">
                        <input
                          cFormCheckInput
                          checked
                          id="active"
                          type="radio"
                          value="A"
                          name="status"
                          formControlName="status"
                          (change)="onChangeSelect($event, 'status')"
                        />
                        <label
                          cFormCheckLabel
                          for="active"
                          style="margin-left: 4px"
                          >Aktif</label
                        >
                      </c-form-check>
                    </c-col>
                    <c-col xs="6">
                      <c-form-check class="flex align-items-center">
                        <input
                          cFormCheckInput
                          id="inactive"
                          type="radio"
                          value="I"
                          name="status"
                          formControlName="status"
                          (change)="onChangeSelect($event, 'status')"
                        />
                        <label
                          cFormCheckLabel
                          for="inactive"
                          style="margin-left: 4px"
                          >Tidak Aktif</label
                        >
                      </c-form-check>
                    </c-col>
                    <span
                      *ngIf="isFieldValid('status')"
                      class="text-danger"
                      >{{ "Wajib diisi" | translate }}</span
                    >
                  </c-row>
                </c-col>
              </div>

        <div class="divider"></div>
        <!--Tambah Multiple Select untuk Kode Branch disini-->
          <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">
            {{ "Kode Outlet" | translate }}
            <span class="stamp-required show">&nbsp;* </span>
          </label>
            <div class="col-sm-10">
                  <ngx-select-dropdown
                    [multiple]="true"
                    [config]="configSelectKodeOutlet"
                    [options]="listKodeOutlet"
                    formControlName="KodeOutlet"
                    id="KodeOutlet"
                    [(ngModel)]="selectedKodeOutlet"
                    (change)="onOutletSelectionChange($event)"
                  >
                  </ngx-select-dropdown>
                </div>
            </div>
            <div class="divider"></div>
            <div>
<!-- Komponen Drag di List Outlet by Raymond 2 Juli 2025-->
<div class="container mt-4" >
  <h4 *ngIf="selectedKodeOutlet.length > 0">List Kode Outlet yang dipilih</h4>
  <ul class="list-group mt-4">
    <li
      class="list-group-item"
      *ngFor="let item of selectedKodeOutlet; let i = index "
      draggable="true"
      (dragstart)="onDragStart(i)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop(i)"
    >
      {{ i+1 }}. {{ item.name }}
    </li>
  </ul>
</div>

            </div>


        <div class="d-grid gap-3 d-md-flex justify-content-end mt-4">
          <button
            class="btn btn-light btn-120"
            (click)="onPreviousPressed()"
            [disabled]="adding"
          >
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-info text-white btn-150"
            type="submit"
            [disabled]="adding"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="adding"></i>
            <span *ngIf="!adding"
              >{{ "Simpan" | translate }}</span
            >
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>

  <!-- <div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div *ngIf="showErrorToast" class="toast show align-items-center text-bg-danger">
    <div class="d-flex">
      <div class="toast-body">
        Silakan isi semua kolom wajib dengan benar!
      </div>
      <button type="button" class="btn-close btn-close-white ms-auto me-2" (click)="showErrorToast = false"></button>
    </div>
  </div>
</div> -->
</div>
