<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Tambah" | translate }} {{ "Role" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-3">
    <c-card-body>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="mb-1 row">
          <div class="col-sm-6 row">
            <label class="col-sm-3 col-form-label"
              >{{ "Nama Role" | translate }}
              <span class="stamp-required show">&nbsp;*</span>
            </label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                formControlName="code"
                [readOnly]="adding"
                maxlength="20"
                (keypress)="conditionInput($event, 'code')"
                (input)="convertToUppercase('code')"
              />
              <span
                *ngIf="
                  myForm.controls['code'].hasError('required') &&
                  myForm.controls['code'].touched
                "
                class="text-danger"
                >{{ "Wajib diisi (max. 10 karakter)" | translate }}</span
              >
              <span
                *ngIf="myForm.controls['code'].hasError('code')"
                class="text-danger"
                >{{
                  "Nama Role hanya boleh mengandung huruf Kapital, Spasi, Angka, dash (-) dan underscore (_)"
                    | translate
                }}
              </span>
            </div>
          </div>
          <div class="col-sm-6 row">
            <label class="col-sm-3 col-form-label">
              {{ "Deskripsi Role" | translate }}
              <span class="stamp-required show">&nbsp;* </span>
            </label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                formControlName="desc"
                [readOnly]="adding"
                (keypress)="conditionInput($event, 'desc')"
                maxlength="30"
              />
              <span
                *ngIf="
                  myForm.controls['desc'].hasError('required') &&
                  myForm.controls['desc'].touched
                "
                class="text-danger"
                >{{ "Wajib diisi (max. 30 karakter)" | translate }}</span
              >
              <span
                *ngIf="myForm.controls['desc'].hasError('desc')"
                class="text-danger"
                >{{
                  "Deskripsi Role hanya boleh mengandung huruf, Spasi, Angka, dash (-) dan underscore (_)."
                    | translate
                }}
              </span>
            </div>
          </div>
        </div>
        <div
          class="divider"
          style="margin-top: 14px; margin-bottom: 14px"
        ></div>
        <div class="row" style="overflow-y: scroll; height: 360px">
          <c-accordion [alwaysOpen]="true">
            <c-accordion-item #item0="cAccordionItem" [visible]="false">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button
                  (click)="item0.toggleItem()"
                  [collapsed]="!item0.visible"
                  cAccordionButton
                >
                  Accordion item #0
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It
                  is hidden by default, until the collapse plugin adds the
                  appropriate classes that we use to style each element. These
                  classes control the overall appearance, as well as the showing
                  and hiding via CSS transitions. You can modify any of this
                  with custom CSS or overriding our default variables. It's also
                  worth noting that just about any HTML can go within the
                  <code>.accordion-body</code>, though the transition does limit
                  overflow.
                </div>
              </ng-template>
            </c-accordion-item>
            <c-accordion-item #item1="cAccordionItem" [visible]="false">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <div
                  class="accordion-header-custom d-flex align-items-center justify-content-between p-2 px-3 rounded"
                >
                  <!-- Checkbox with label -->
                  <div class="form-check m-0">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="customCheckParent"
                      (click)="$event.stopPropagation()"
                    />
                    <label
                      class="form-check-label ms-2 mb-0"
                      for="customCheckParent"
                    >
                      Parent Accordion
                    </label>
                  </div>

                  <!-- Toggle icon button -->
                  <button
                    type="button"
                    class="btn btn-toggle-icon"
                    (click)="item1.toggleItem()"
                    cAccordionButton
                  >
                    <i
                      class="bi bi-chevron-down"
                      [class.rotate-180]="item1.visible"
                    ></i>
                  </button>
                </div>
              </ng-template>
              <!-- <button
                (click)="item1.toggleItem()"
                [collapsed]="!item1.visible"
                cAccordionButton
              >
                Accordion item #1
              </button> -->
              <ng-template cTemplateId="accordionBodyTemplate">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It
                  is hidden by default, until the collapse plugin adds the
                  appropriate classes that we use to style each element. These
                  classes control the overall appearance, as well as the showing
                  and hiding via CSS transitions. You can modify any of this
                  with custom CSS or overriding our default variables. It's also
                  worth noting that just about any HTML can go within the
                  <code>.accordion-body</code>, though the transition does limit
                  overflow.
                </div>
              </ng-template>
            </c-accordion-item>
            <c-accordion-item #item2="cAccordionItem" [visible]="false">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button
                  (click)="item2.toggleItem()"
                  [collapsed]="!item2.visible"
                  cAccordionButton
                >
                  Accordion item #2
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It
                  is hidden by default, until the collapse plugin adds the
                  appropriate classes that we use to style each element. These
                  classes control the overall appearance, as well as the showing
                  and hiding via CSS transitions. You can modify any of this
                  with custom CSS or overriding our default variables. It's also
                  worth noting that just about any HTML can go within the
                  <code>.accordion-body</code>, though the transition does limit
                  overflow.
                </div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>

          <!-- <div class="col-md-6">
            <label
              class="col-form-label"
              style="
                padding-bottom: 0px;
                padding-top: 0px;
                margin-top: 0px;
                margin-bottom: 5px;
                font-weight: bold;
              "
            >
              {{ "Hak Akses Sidebar" | translate }}
              <span class="stamp-required show">&nbsp;* </span>
            </label>
            <div class="row mb-1 ms-2 vertical-divider">
              <div *ngFor="let group of hakAksesList" class="col-md-6 mb-3">
                <h6>{{ group.group }}</h6>
                <div *ngFor="let item of group.items" class="ms-3 mb-1">
                  <label *ngIf="!item.children">
                    <input type="checkbox" [formControlName]="item.id" />
                    {{ item.label }}
                  </label>

                  <div *ngIf="item.children">
                    <label>{{ item.label }}</label>
                    <div class="ps-3 d-flex flex-column flex-wrap">
                      <label *ngFor="let child of item.children" class="">
                        <input type="checkbox" [formControlName]="child.id" />
                        {{ child.label }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <div class="col-md-6">
            <label
              class="col-form-label"
              style="
                padding-bottom: 0px;
                padding-top: 0px;
                margin-top: 0px;
                margin-bottom: 5px;
                font-weight: bold;
              "
            >
              {{ "Hak Akses Module" | translate }}
            </label>
            <div class="row mb-1 ms-2">
               <div
                *ngFor="let group of hakAksesListModule"
                class="col-md-12 mb-1"
              >
                <h6>{{ group.group }}</h6>
                <div class="row g-2">
                  <div *ngFor="let item of group.items" class="col-md-6 mb-1">
                    <label *ngIf="!item.children">
                      <input type="checkbox" [formControlName]="item.id" />
                      {{ item.label }}
                    </label>
                    <div *ngIf="item.children">
                      <label>{{ item.label }}</label>
                      <div class="ps-3 d-flex flex-column flex-wrap">
                        <label *ngFor="let child of item.children" class="">
                          <input
                            type="checkbox"
                            [formControlName]="child.id"
                            [disabled]="myForm.get(child.id)?.disabled ?? false"
                          />
                          {{ child.label }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>-->
        </div>
        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button
            class="btn btn-light btn-120"
            (click)="onPreviousPressed()"
            [disabled]="adding"
          >
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-info text-white btn-150"
            type="submit"
            [disabled]="adding"
          >
            <i class="fa fa-spinner fa-spin" *ngIf="adding"></i>
            <span *ngIf="!adding">{{ "Simpan" | translate }}</span>
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
