<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <c-row>
        <h5>{{ "Terima pesanan dari Cabang atau Gudang" | translate }} (Detail)</h5>
      </c-row>
      <c-row>
        <div class="d-grid gap-3 d-md-flex justify-content-between">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
          <button
            class="btn btn-success text-white btn-160"
            [disabled]="savingReceive"
            (click)="onSavePressed()"
          >
            <i class="fa fa-save icon-12 icon-gap" *ngIf="!savingReceive"></i>
            <i
              class="fa fa-spinner icon-12 icon-gap fa-spin"
              *ngIf="savingReceive"
            ></i>
            {{ "Simpan" | translate }}
          </button>
        </div>
      </c-row>
      <div>
        <div class="divider"></div>
        <div class="row">
          <div class="col">
            <div class="row order-details">
              <div class="detail-item">
                <span class="label">{{ "Nomor Pesanan" | translate }}</span>
                <span class="value">{{ selectedOrder.nomorPesanan }}</span>
              </div>
              <div class="detail-item">
                <span class="label">{{ "Tanggal Kirim Barang" | translate }}</span>
                <span class="value">{{ selectedOrder.tglBrgDikirim }}</span>
              </div>
              <div class="detail-item">
                <span class="label">{{ "Tanggal Pesanan" | translate }}</span>
                <span class="value">{{ selectedOrder.tglPesan }}</span>
              </div>
              <div class="detail-item">
                <span class="label">{{
                  "Tanggal Batal Pesanan" | translate
                }}</span>
                <span class="value">{{ selectedOrder.tglBatasExp }}</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row order-details">
              <div class="detail-item">
                <span class="label">{{ "Pemesan (Tujuan)" | translate }}</span>
                <span class="value"> {{ selectedOrder.kodePemesan }}</span>
              </div>
              <div class="detail-item">
                <span class="label">{{ "Catatan 1" | translate }}</span>
                <span class="value"
                  >{{ selectedOrder.keterangan1 || "-" }}
                </span>
              </div>
              <div class="detail-item">
                <span class="label">{{ "Catatan 2" | translate }}</span>
                <span class="value"
                  >{{ selectedOrder.keterangan2 || "-" }}
                </span>
              </div>
              <div class="detail-item">
                <span class="label">{{ "Status Pesanan" | translate }}</span>
                <span class="value">Pesanan {{
                  this.g.getStatusOrderLabel(selectedOrder.statusPesanan)
                }}</span>
              </div>
              <div class="detail-item">
                <span class="label">{{ "Jumlah Item" | translate }}</span>
                <span class="value">{{dataBarang?.length}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <c-card>
    <c-card-body>
      <table
        datatable
        [dtOptions]="dtOptions"
        (page.dt)="dtPageChange($event)"
        class="row-border hover stripe"
      ></table>
    </c-card-body>
  </c-card>
</div>
