<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "Detail Pesanan" | translate }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-outline-dark btn-120"
            (click)="onBackPressed()"
          >
            <i class="fa fa-chevron-left icon-gap" aria-hidden="true"></i>
            {{ "Kembali" | translate }}
          </button>
        </div>
        <div class="col text-end">
          <button
          type="button"
          class="btn btn-outline-success me-2 btn-120"
          (click)="onPrint()"
          [disabled]="updatingStatus || disabledPrintButton"
        >
          <i class="fa fa-print icon-gap" *ngIf="!RejectingOrder"></i>
          <i class="fa fa-spinner fa-spin" *ngIf="RejectingOrder"></i>
          {{ "Cetak" | translate }}
        </button>
        
          <!-- <button
            type="button"
            class="btn btn-success text-white me-2 btn-120"
            (click)="onButtonActionPressed('S')"
            [disabled]="RejectingOrder || updatingStatus || disabledPrintButton"
          >
            <i class="fa fa-print icon-gap" *ngIf="!updatingStatus"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="updatingStatus"></i>
            {{
              alreadyPrint ? ("Cetak Ulang" | translate) : ("Cetak" | translate)
            }}
          </button> -->
          <button
            type="button"
            class="btn btn-outline-danger me-2 btn-120"
            (click)="onShowModalBatal()"
            [disabled]="updatingStatus || disabledCancelButton"
          >
            <i class="fa fa-times icon-gap" *ngIf="!RejectingOrder"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="RejectingOrder"></i>
            {{ "Batalkan Pesanan" | translate }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="divider mt-4"></div>
        <div class="col">
          <div class="row order-details">
            <div class="detail-item">
              <span class="label">{{ "Nomor P.O" | translate }}</span>
              <span class="value">{{ selectedOrder.nomorPesanan }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Tanggal P.O" | translate }}</span>
              <span class="value">{{ g.formatStrDateMMM(selectedOrder.tglPesanan) }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Tanggal Kirim" | translate }}</span>
              <span class="value">{{ g.formatStrDateMMM(selectedOrder.tglKirimBrg) }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Tanggal Batal P.O" | translate }}</span>
              <span class="value">{{ g.formatStrDateMMM(selectedOrder.tglBatalExp) }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Status Pesanan" | translate }}</span>
              <span class="value">{{
                this.g.getStatusOrderLabel(selectedOrder.statusPesanan)
              }}</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row order-details">
            <div class="detail-item">
              <span class="label">{{ "Supplier" | translate }}</span>
              <span class="value"> {{ selectedOrder.supplier }} - {{ selectedOrder.namaSupplier }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Catatan1" | translate }}</span>
              <span class="value">{{ selectedOrder.keterangan1 }} </span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Catatan2" | translate }}</span>
              <span class="value">{{ selectedOrder.keterangan2 }} </span>
            </div>
      
            <div class="detail-item">
              <span class="label">{{ "Status Cetak" | translate }}</span>
              <span class="value">{{ getPrintStatus() }}</span>
            </div>

            <div class="detail-item">
              <span class="label">{{ "Status P.O" | translate }}</span>
              <span class="value">{{ g.getStatusOrderLabel(selectedOrder.statusPesanan) }}</span>
            </div>
            <div class="detail-item">
              <span class="label">{{ "Jumlah Item" | translate }}</span>
              <span class="value">{{ totalLength }} </span>
            </div>
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          class="row-border hover stripe"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
<c-modal #formModalBatal [fullscreen]="false" [visible]="isShowModalBatal" backdrop="static" #modalLg  size="lg"
id="formModalBatal"    [attr.aria-hidden]="!isShowModalBatal">
  <c-modal-header>
    <h5 cModalTitle>Konfirmasi Batal Pesanan</h5>
    <button (click)="isShowModalBatal = false" type="button" class="btn btn-primary ms-2" [cModalToggle]="formModalBatal.id"
      cButtonClose><i class="fa fa-times"></i></button>
  </c-modal-header>
  <c-modal-body>
    <div >
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Suppllier" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              [value]="(selectedOrder.supplier || '') + ' - ' + (selectedOrder.namaSupplier || '')"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Nomor Pesanan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              [value]="(selectedOrder?.nomorPesanan || '')"              
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Pesan" | translate
          }}</label>
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control"
              readonly
              [value]="(selectedOrder.tglPesanan || '')"              
            />
          </div>

          <label class="col-sm-3 col-form-label">{{
            "Tgl. Brg. Dikirim" | translate
          }}</label>
          <div class="col-sm-3 ">
            <input
              type="text"
              class="form-control"
              readonly
              [value]="(selectedOrder?.tglKirimBrg || '')"              

            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Tgl. Batal Pesanan" | translate
          }}</label>
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control"
              readonly
              [value]="(selectedOrder?.tglBatalExp || '')"              
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">{{
            "Alasan dibatalkan" | translate
          }}</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="alasanDiBatalkan" 
              (keypress)="g.conditionInput($event, 'excludedSensitive')"
              maxlength="50"
            />
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column">
          <span class="fw-bold text-center text-red">Pastikan Semua Data Sudah Benar ...!!</span>
          <span class="fw-bold text-center text-red">Data yang sudah dikirim tidak dapat dirubah kembali...!!</span>
        </div>
        
      </div>
    </c-modal-body>
    <c-modal-footer class="justify-center">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="isShowModalBatal = false">Close</button>
      <button type="button" class="btn btn-primary text-white" (click)="updateStatus()">Proses Batal Pesanan</button>
    </c-modal-footer>
</c-modal>