<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col d-flex flex-column  justify-content-start">
         
          <h5>{{ "Produksi" | translate }}</h5>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col d-flex justify-content-end flex-wrap gap-2">
          <button
            type="button"
            class="btn btn-outline-dark btn-120"
            (click)="toggleFilter()"
          >
            <i class="fa fa-filter icon-gap" aria-hidden="true"></i>
            {{ "Filter" | translate }}
          </button>

          <button
            type="button"
            class="btn btn-success text-white btn-240"
            data-toggle="modal"
            (click)="onAddPressed()"
          >
            <i class="fa fa-plus pe-1 icon-12 icon-gap" aria-hidden="true"></i>
            {{ "Tambah Produksi" | translate }}
          </button>

          <button
            class="btn btn-success text-white btn-150 d-flex align-items-center"
            (click)="showModalWip()"
          >
            <i class="fa fa-print me-1"></i>
            <span class="d-none d-lg-inline">{{ "WIP Data" | translate }}</span>
          </button>

          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            {{ "Kembali" | translate }}
          </button>
        </div>
      </div>
      <div [visible]="showFilterSection" cCollapse>
        <div class="divider"></div>
        <div class="row" style="margin-top: -16px">
          <c-card-body>
            <c-row>
              <c-col>
                <label class="col-form-label">{{
                  "Tanggal Pesan" | translate
                }}</label>
                <input
                  type="text"
                  id="dateFilter"
                  class="form-control"
                  bsDaterangepicker
                  [bsConfig]="dpConfig"
                  aria-describedby="dateFilter"
                  [(ngModel)]="dateRangeFilter"
                  #dp="bsDaterangepicker"
                  placeholder="{{ 'Tanggal Pesan' | translate }}"
                />
              </c-col>
              <c-col
                xs="3"
                class="text-right d-flex align-items-end justify-content-end"
              >
                <button
                  type="button"
                  class="btn btn-outline-success me-2 btn-160"
                  (click)="onFilterPressed()"
                >
                  {{ "Terapkan Filter" | translate }}
                </button>
              </c-col>
            </c-row>
          </c-card-body>
        </div>
      </div>
      <div class="divider"></div>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          class="row-border hover stripe w-100"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">

  <c-card class="c-card" *ngIf="selectedRowData">
    <c-card-body>
      <div class="row p-2 justify-content-end">
        <div class="col-6">
          <div class="w-100 mb-2">
            <label for="keterangan" class="form-label">{{ "Keterangan" | translate }}</label>
            <input type="text" disabled placeholder="Keterangan" class="form-control" 
              [(ngModel)]="selectedRowData.keterangan" name="keterangan" />
          </div>
        
        </div>
        <div class="col-2">
         
            <div class="w-100 mb-2 ">
              <label for="userCreate" class="form-label">{{ "User Create" | translate }}</label>
              <input type="text" disabled placeholder="User Create" class="form-control"
                [(ngModel)]="selectedRowData.namaUser" name="namaUser" />
            </div>
        </div>
        <div class="col-2">
          <div class="w-100 mb-2 ">
            <label for="dateCreate" class="form-label">{{ "Date Create" | translate }}</label>
            <input type="text" disabled placeholder="Alamat 1" class="form-control" 
              [(ngModel)]="selectedRowData.dateCreateFormat2" name="dateCreate" />
          </div>
        </div>
        <div class="col-2">
          <div class="w-100 mb-2 ">
            <label for="timeCreate" class="form-label">{{ "Time Create" | translate }}</label>
            <input type="text" disabled placeholder="Time Create" class="form-control"
              [(ngModel)]="selectedRowData.timeCreate" name="timeCreate" />
          </div> 
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <app-modal-print-list
    [alreadyPrint]="alreadyPrint"
    [disabledPrintButton]="disabledPrintButton"
    [generatePdfUrl]="'/cetak-production-jasper'"
    [updateStatusUrl]="''"
    [updatePrintStatusParam]="''"
    [generateReportParam]="paramGenerateReport"
    [isShowModalReport]="isShowModalReport"
    [isShowSelection]="true"
    (closeModalEvent)="closeModal()"
  >
  </app-modal-print-list>
</div>

<c-modal
  #formModalWip
  [fullscreen]="false"
  [visible]="isShowModalWip"
  backdrop="static"
  [size]="'xl'"
  id="formModalWip"
  [attr.aria-hidden]="!isShowModalWip"
>
  <c-modal-header>
    <h5 cModalTitle>Overview WIP</h5>
    <button
      (click)="isShowModalWip = false"
      type="button"
      class="btn btn-primary ms-2"
      [cModalToggle]="formModalWip.id"
      cButtonClose
    >
      <i class="fa fa-times"></i>
    </button>
  </c-modal-header>
  <c-modal-body>
    <div>
      <div *ngIf="!pdfSrc && listSummaryData.length > 0">
        <app-loading></app-loading>
      </div>
      <div
          *ngIf="listSummaryData.length == 0"
          class="alert alert-warning text-center"
          role="alert"
        >
          <strong>
            Tidak ada data production, silahkan posting data terlebih dahulu!.
          </strong>
        </div>
      <ng-container *ngIf="listSummaryData.length > 0">
        <div class="card shadow-sm mb-3" *ngIf="pdfSrc">
          <div class="card-body">
            <ngx-extended-pdf-viewer
            [src]="pdfSrc"
            useBrowserLocale="true"
            [height]="'65vh'"
            [filenameForDownload]="'WIP-produksi.pdf'"
          ></ngx-extended-pdf-viewer>
          </div>
        </div>
      </ng-container>
    </div>
  </c-modal-body>
</c-modal>
