.order-details {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.label {
  font-weight: bold;
  width: 30%; /* Adjust width as needed */
  text-align: left;
  padding-right: 10px;
}

.value {
  width: 70%; /* Adjust width as needed */
  text-align: left;
  padding-left: 10px;
}

#myTable thead th:nth-child(1) {
  background-color: #f39c12; /* orange */
}
#myTable thead th:nth-child(2) {
  background-color: #3498db; /* biru */
}
#myTable thead th:nth-child(3) {
  background-color: #2ecc71; /* hijau */
}

