<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Detail" | translate }} {{ "Cabang" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm">
        <div class="container">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Kode Cabang" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="kodeCabang"
                    maxlength="10"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Kode Singkat" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="kodeSingkat"
                    maxlength="10"
                    readonly
                  />
                </div>
              </div>
            </div>
            <!-- right column -->
            <div class="col-md-6">
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Nama Cabang" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="namaCabang"
                    maxlength="50"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Group" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="deskripsiGroup"
                    maxlength="50"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="divider"></div>
        <!-- alamat kota kode pos telp fax -->
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- left column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Alamat 1" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="alamat1"
                    maxlength="40"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Alamat 2" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="alamat2"
                    maxlength="40"
                    readonly
                  />
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Kota" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="kota"
                    readonly
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Kode Pos" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="kodePos"
                    maxlength="10"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- right column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Telpon 1" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="telpon1"
                    maxlength="30"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Telpon 2" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="telpon2"
                    maxlength="30"
                    readonly
                  />
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Fax 1" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fax1"
                    maxlength="30"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Fax 2" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fax2"
                    maxlength="30"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- left column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Alamat Email" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="alamatEmail"
                    readonly
                  />
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "RSC" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="keteranganRsc"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Region" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="keteranganRegion"
                    [value]="
                      (myForm.get('kodeRegion')?.value || '') +
                      ' - ' +
                      (myForm.get('keteranganRegion')?.value || '')
                    "
                    readonly
                  />
                </div>
              </div>

              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Area" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="keteranganArea"
                    [value]="
                      (myForm.get('kodeArea')?.value || '') +
                      ' - ' +
                      (myForm.get('keteranganArea')?.value || '')
                    "
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Contact Person" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="contactPerson"
                    maxlength="50"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Contact Telp" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="contactPhone"
                    maxlength="30"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Tipe Cabang" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="tipeCabang"
                    maxlength="10"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Status Aktif" | translate
                }}</label>
                <c-col xs="8">
                  <c-row class="mt-2">
                    <c-col xs="6">
                      <c-form-check class="flex align-items-center">
                        <input
                          cFormCheckInput
                          checked
                          id="active"
                          type="radio"
                          value="A"
                          name="statusAktif"
                          formControlName="statusAktif"
                        />
                        <label
                          cFormCheckLabel
                          for="active"
                          style="margin-left: 4px"
                          >Aktif</label
                        >
                      </c-form-check>
                    </c-col>
                    <c-col xs="6">
                      <c-form-check class="flex align-items-center">
                        <input
                          cFormCheckInput
                          id="inactive"
                          type="radio"
                          value="T"
                          name="statusAktif"
                          formControlName="statusAktif"
                        />
                        <label
                          cFormCheckLabel
                          for="inactive"
                          style="margin-left: 4px"
                          >Tidak Aktif</label
                        >
                      </c-form-check>
                    </c-col>
                  </c-row>
                </c-col>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Keterangan" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="keterangan"
                    maxlength="50"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- left column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Dibuat Oleh" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="userCreate"
                    readonly
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Tanggal Dibuat" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="dateCreate"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- right column -->
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Diperbarui Oleh" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="userUpdate"
                    readonly
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">{{
                  "Tanggal Diperbarui" | translate
                }}</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="dateUpdate"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>

        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            {{ "Kembali" | translate }}
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
