<div class="fade-in">
  <c-card class="mb-2">
    <c-card-body>
      <div class="row">
        <div class="col">
          <h5>{{ "All" | translate }} {{ "Report" | translate }}</h5>
        </div>
        <div class="col text-end">
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in row">
  <div class="col-4">
    <c-card class="mb-4">
      <c-card-body>
        <ul cListGroup flush>
          <li cListGroupItem class="fw-bold">
              {{ "Master" | translate }}
          </li>
          <li cListGroupItem>
              {{ "Pesanan" | translate }}
          </li>
          <li cListGroupItem>
              {{ "Transaksi" | translate }}
          </li>
          <li cListGroupItem>
              {{ "Stok" | translate }}
          </li>
          <li cListGroupItem>
              {{ "Analisis" | translate }}
          </li>
        </ul>
      </c-card-body>
    </c-card>
  </div>
  <div class="col">
    <c-card class="mb-4">
      <c-card-body>
        <div class="row">
          <div class="col">

          </div>
        </div>
      </c-card-body>
    </c-card>
  </div>
</div>
