// Here you can add other styles

.pointer{
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pointer:hover {
  transform: scale(1.1);
}

.swal-button-width {
  width: 150px;
}

.justify-center {
  justify-content: center;
}

$primary: #b51823;
$info: #b51823; // Change to your desired color

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "info": $info,
  )
);


$primary: #b51823;
$info: #b51823; // Change to your desired color

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "info": $info,
  )
);

// 

.sidebar{
  background-color: $primary;
}
