/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

.divider {
  border-top: 1px solid #ccc;
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
}

.btn-240 {
  width: 240px;
}

.btn-120 {
  width: 120px;
}

.btn-160 {
  width: 160px;
}

.btn-80 {
  width: 80px;
}

.btn-60 {
  width: 60px;
}

.icon-12 {
  font-size: 12px;
}

.icon-gap {
  margin-right: 8px;
}

.conv-label {
  font-size: x-small;
  width: 8px;
}


.stamp-required {
  color:red;
  font-size:12pt;
  font-weight:bold;

  &.hide {
    display: none;
  }

  &.show{
    display: contents;
  }
}

.vh100 {
  height: 100vh; /* Full screen height */
  overflow: hidden; /* Prevents scrolling */
}
.text-red{
  color: red;
}
.form-invalid {
  border: 1px solid red;  /* Merahkan border input */
}



/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// .today-highlight {
//   background-color: transparent !important; /* Ensure no unwanted background */
//   color: red !important; /* Change text color to red */
//   font-weight: bold;
//   border: 2px solid red !important; /* Create a red border */
//   border-radius: 50% !important; /* Makes it a circle */
  
//   display: flex !important; /* Use flexbox for centering */
//   justify-content: center !important; /* Horizontally center */
//   align-items: center !important; /* Vertically center */
  
//   width: 30px; /* Adjust width */
//   height: 30px; /* Adjust height */
//   line-height: 30px;
//   text-align: center;
// }

.today-highlight {
  border: 4px solid rgb(133, 0, 0) !important;
  border-radius: 50% !important;
  box-sizing: border-box !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 2rem;
  height: 2rem;
  margin: auto;
}

.menu-purpose {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #b51823;
  border-radius: 12px;
  max-width: 850px;
  text-align: right;
  margin-left: auto;
  width: fit-content;
  height: 100%;
}

.my-datepicker-top .bs-datepicker-container {
  position: absolute !important;
  bottom: 100% !important; /* Move above the input */
  top: auto !important;
  transform: translateY(-5px); /* Adjust spacing */
  z-index: 1050; /* Ensure it's above other elements */
  background-color: white !important; /* Force white background */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important; /* Add a slight shadow */
  border-radius: 5px; /* Optional: rounded corners */
  padding: 5px; /* Add spacing */
}

.input-disabled {
  background-color: #d8dbe0;
  border-color: #b1b7c1;
  opacity: 1;
}
