<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div
          class="d-grid gap-3 d-md-flex justify-content-start align-items-center"
        >
         
          <h5>{{ "Penerimaan Barang Bekas / List Data Retur" | translate }}</h5>
          <div class="col text-end d-flex gap-3 justify-content-end">
          </div>
            <!-- <button
              class="btn btn-info text-white btn-150 pe-3"
              [disabled]="loadingSimpan"
            >
              <i class="fa fa-check pe-2" *ngIf="!loadingSimpan"></i>
              <i class="fa fa-spinner fa-spin" *ngIf="loadingSimpan"></i>
              {{ "Simpan Semua Data" | translate }}
            </button> -->
           
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <div class="row">
        <div class="col text-end">
             <button
              type="button"
              class="btn btn-success text-white me-2 btn-240"
              data-toggle="modal"
              (click)="getDataOnline()"
              [disabled]="loadingGetDataOnline"
            >
              <i
                class="fa fa-refresh pe-1 icon-12 icon-gap"
                aria-hidden="true"
                *ngIf="!loadingGetDataOnline"
              ></i>
              <i class="fa fa-spinner fa-spin" *ngIf="loadingGetDataOnline"></i>
              {{ "Get Data Online" | translate }}
            </button>
             <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            <i class="fa fa-chevron-left icon-12 icon-gap"></i>
            {{ "Kembali" | translate }}
          </button>
        
        </div>
      </div>
      <div class="divider"></div>
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          (page.dt)="dtPageChange($event)"
          [dtTrigger]="dtTrigger"
          class="row-border hover stripe w-100"
        ></table>
      </div>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="c-card" *ngIf="selectedRowData">
    <c-card-body>
      <div class="row p-2 justify-content-end">
        <div class="col-6">
          <div class="w-100 mb-2">
            <label for="alamat" class="form-label">{{
              "Alamat Pengirim" | translate
            }}</label>
            <input
              type="text"
              disabled
              placeholder="Alamat Pengirim"
              class="form-control"
              [value]="
                (selectedRowData.alamat1 || '') +
                ', ' +
                (selectedRowData.alamat2 || '')
              "
              name="alamat"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="w-100 mb-2">
            <label for="keterangan" class="form-label">{{
              "Keterangan" | translate
            }}</label>
            <input
              type="text"
              disabled
              placeholder="Keterangan"
              class="form-control"
              [(ngModel)]="selectedRowData.keterangan"
              name="keterangan"
            />
          </div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in">
  <app-modal-print-list
    [alreadyPrint]="alreadyPrint"
    [disabledPrintButton]="disabledPrintButton"
    [generatePdfUrl]="'/api/cetak/penerimaan-barang-bekas'"
    [updateStatusUrl]="''"
    [updatePrintStatusParam]="''"
    [generateReportParam]="paramGenerateReport"
    [isShowModalReport]="isShowModalReport"
    (closeModalEvent)="closeModal()"
  >
  </app-modal-print-list>
</div>
