<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{ "Lihat" | translate }} {{ "Jabatan" | translate }}</h5>
    </c-card-body>
  </c-card>
</div>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <form [formGroup]="myForm">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Kode Jabatan" | translate
          }}</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="code"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">{{
            "Nama Jabatan" | translate
          }}</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              formControlName="desc"
              readonly
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"
            >{{ "Status" | translate
            }}<span class="stamp-required show">&nbsp;*</span>
          </label>
          <c-col xs="8">
            <c-row class="mt-2">
              <c-col xs="6">
                <c-form-check class="flex align-items-center">
                  <input
                    cFormCheckInput
                    checked
                    id="active"
                    type="radio"
                    value="A"
                    name="status"
                    formControlName="status"
                  />
                  <label cFormCheckLabel for="active" style="margin-left: 4px"
                    >Aktif</label
                  >
                </c-form-check>
              </c-col>
              <c-col xs="6">
                <c-form-check class="flex align-items-center">
                  <input
                    cFormCheckInput
                    id="inactive"
                    type="radio"
                    value="T"
                    name="status"
                    formControlName="status"
                  />
                  <label cFormCheckLabel for="inactive" style="margin-left: 4px"
                    >Tidak Aktif</label
                  >
                </c-form-check>
              </c-col>
              <span
                *ngIf="
                  myForm.controls['status']?.hasError('required') &&
                  myForm.controls['status']?.touched
                "
                class="text-danger"
                >{{ "Wajib diisi" | translate }}
              </span>
            </c-row>
          </c-col>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md-12">
            <!-- right column -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">{{
                "Diperbarui Oleh" | translate
              }}</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  formControlName="userUpd"
                />
              </div>
              <label class="col-sm-2 col-form-label">{{
                "Tanggal Diperbarui" | translate
              }}</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  formControlName="dateUpd"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="divider"></div>
        <div class="d-grid gap-3 d-md-flex justify-content-end">
          <button class="btn btn-light btn-120" (click)="onPreviousPressed()">
            {{ "Kembali" | translate }}
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
